@using BatDongSan.Models.PhieuDeNghi;
@model PhieuDeNghiCongTac
@{
    ViewBag.Title = "Cập nhật phiếu công tác";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool quyenDuyet = (bool)ViewBag.QuyenDuyet;
    string flagViPham = (string)ViewBag.ViPham;
    string soLanViPham = (string)ViewBag.SoLanViPham;
}

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/additional-methods.min.js"></script>
<script src="~/Scripts/autoNumeric.js"></script>
<script src="~/Scripts/batdongsan.validate.js"></script>
<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/vi.js"></script>
<script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
<link rel="stylesheet" href="~/Content/bootstrap-datetimepicker.min.css" />
<link rel="stylesheet" href="~/Content/summernote/summernote.css" />
<script src="~/Content/summernote/summernote.js"></script>
<script>
    $(document).ready(function () {

        $(".numberinput").autoNumeric('init', { mDec: 0, mNum: 3, lZero: 'deny', aSep: ',', aDec: '.', pSign: 's', vMin: '0' });
        $(".numberinputInt").autoNumeric('init', { lZero: 'deny', mDec: 0, pSign: 's', aSep: ',', aDec: '.' });
        Search();
        $("#btnTroVe").click(function () {
            var url = "@Url.Action("Index")";
            location.href = url;
        });
        $(".timepicker").datetimepicker({
            locale: 'vi',
            format: 'HH:mm'
        });

        $(".datepicker").datetimepicker({
            locale: 'vi',
            format: 'DD/MM/YYYY'
        });
        $("#btnSubmit").click(function () {
            if (CheckForm()) {
                var noiDung = $(".note-editable").html();
                $("#ghiChu").val(noiDung);
                $("#form-submit").submit();
            }
        });
        $('#editor').summernote({
            height: 150,                 // set editor height
            minHeight: null,             // set minimum height of editor
            maxHeight: null,             // set maximum height of editor
            //focus: true                  // set focus to editable area after initializing summernote
        });
        @*if ("@Model.loaiCongTac" == "False") {
            document.getElementById("rad-1").checked = true;
            $("#maTinh").show();
            $("#maQuocGia").hide();
        } else {
            $("#maTinh").hide();
            $("#maQuocGia").show();
            document.getElementById("rad-2").checked = true;
        }*@
        $("#rad-1").click(function () {
            $("#maTinh").val("");
            $("#maQuocGia").val("");
            $("#maTinh").removeClass("error").css("display", "block");
            $("#maQuocGia").removeClass("error").css("display", "none");
        });
        $("#rad-2").click(function () {
            $("#maQuocGia").val("");
            $("#maTinh").val("");
            $("#maTinh").removeClass("error").css("display", "none");
            $("#maQuocGia").removeClass("error").css("display", "block");
        });
        $("#ChoosePB").click(function () {
            ChonPhongBan();
           @* $('#myModalChonPhongBan').modal();
            var Url = '@Url.Action("ChonPhongBan", "PhieuCongTac")';
            $('#filter-panel').load(Url);*@
        });
        $(document).on("dp.hide", "#ngayKetThuc", function (e) {
            //var expire = moment().subtract(3, "day");
            //$(this).data("DateTimePicker").minDate(expire, function () {
            //    return;
            //});

            var ngayBatDau = moment(this.value, 'DD-MM-YYYY');
            //$("#ngayKetThuc").data("DateTimePicker").minDate(ngayBatDau.add(0, "day"), function () {
            //    return;
            //});
            // Call check ngay bat dau
            $.post('@Url.Action("checkNgayBatDau", "PhieuCongTac")', { ngayBatDau: moment(e.date).format("DD/MM/YYYY"), maNhanVien: $("#NhanVien_maNhanVien").val() }, function (data) {

                if (data == 1) {
                    //$("#ngayKetThuc").val("");
                    //Alert.error("Làm phép trong vòng " + $("#soNgayRangBuoc").val() + " ngày sau khi đăng ký công tác", "Thông báo", { displayDuration: 3000 });
                    $(".tdViPham").show();
                }
                else {
                    $(".tdViPham").hide();
                }
                //else 
                //if (data == 2) {
                //    $("#ngayBatDau").val("");
                //    Alert.error("Ngày này đã được tạo phiếu công tác, vui lòng chọn lại ngày công tác khác", "Thông báo", { displayDuration: 3000 });

                //}
            });

        });
        $(document).on("dp.change", "#ngayKetThuc", function (e) {

            var ngayBD = $('#ngayBatDau').val();
            var ngayKT = $('#ngayKetThuc').val();
            var d1 = Date.parse(convertDate(ngayBD));
            var d2 = Date.parse(convertDate(ngayKT));
            if (d1 > d2) {
                Alert.error("Ngày kết thúc lớn hơn ngày bắt đầu. Vui lòng nhập lại.", "Thông báo", { displayDuration: 3000 });
                $("#ngayKetThuc").val("");
            }
            Generate();
        });
    });
    function Generate() {
        var startDate = $("#ngayBatDau").val();
        var endDate = $("#ngayKetThuc").val();
        $.post('@Url.Action("Generate", "PhieuCongTac")', { dateOne: startDate, dateTwo: endDate }, function (data) {
            if (data != null) {
                $("#soNgayCongTac").val(data.soNgay);
            }
        });
    }
    function CheckForm() {
        var flag = true;
        if ($("#soNgayCongTac").val() == "" || $("#soNgayCongTac").val() == "0" || parseFloat($("#soNgayCongTac").val()) < 0) {
            $("#soNgayCongTac").addClass("error").attr("title", "Số ngày công tác phải lớn hơn 0");
            flag = false;

        }

        if ($("#lyDo").val() == "") {
            $("#lyDo").addClass("error").attr("title", "Vui lòng nhập lý do.");
            flag = false;

        }
        if ($("#rad-1").is(":checked")) {
            $("#maQuocGia").removeClass("error");
            if ($("#maTinh").val() == "") {
                $("#maTinh").addClass("error").attr("title", "Vui lòng chọn nơi công tác.");
                flag = false;
            }

        }
        else if ($("#rad-2").is(":checked")) {
            $("#maTinh").removeClass("error");
            if ($("#maQuocGia").val() == "") {
                $("#maQuocGia").addClass("error").attr("title", "Vui lòng chọn nơi công tác.");;
                flag = false;
            }

        }
        var ngayBD = $("#ngayBatDau").val();
        var ngayKT = $("#ngayKetThuc").val();
        if (ngayBD == "" || ngayKT == "") {
            Alert.error("Chọn ngày công tác.", "Thông báo", { displayDuration: 3000 });
            $("#ngayKetThuc,#ngayBatDau").val("");
            flag = false;
        }
        var d1 = Date.parse(convertDate(ngayBD));
        var d2 = Date.parse(convertDate(ngayKT));
        if (d1 > d2) {
            Alert.error("Ngày kết thúc lớn hơn ngày bắt đầu. Vui lòng nhập lại.", "Thông báo", { displayDuration: 3000 });
            $("#ngayKetThuc").val("");
            flag = false;
        }
        return flag;
    }


    function closePopup_onclick() {
        $('#divUploadFile').hide();
        $('.jqmOverlay').remove();
    }

    function PopUpManager(url, title, w, h) {
        var left = (screen.width / 2) - (w / 2);
        var top = (screen.height / 2) - (h / 2);
        var targetWin = window.open(url, title, 'width=' + w + ', height=' + h + ', top=' + top + ', left=' + left);
    }
    function chonNguoiDuyet(status, employeeId) {
        var lyDo = "";//$('#lyDo').val().replace(/\ /g, '+');
        var url = ('@Url.Action("SelectCapDuyet1/", "DMNguoiDuyet")' + $('#maPhieu').val() + '?maCongViec=PhieuCongTac' + '&trangThai=' + 0 + '&title=' + "" + '&maNhanVien=' + $("#maNVD").val() + '&lyDo=' + lyDo + "&idQuiTrinh=" + $("#maQuiTrinhDuyet").val() + "&url=" + $("#url").val());
        PopUpManager(url, "DUYET", 800, 500);
    }

    function LoadLaiTrang() {
        location.href = '@Url.Action("ListCongViecProcess", "User")';
    }

    function LoadLaiTrangChiTiet() {
        location.href = '@Url.Action("Details/", "PhieuCongTac")' + $('#maPhieu').val();
    }

    function ChonPhongBan() {
        var url = ('@Url.Action("DanhSachPhongBan/", "PhieuCongTac")');
        PopUpManager(url, "DUYET", 800, 500);
    }

    function Search() {
        var url = '@Url.Action("LoadXemLichSuRaVao", "ChamCong")' + "?maPhieu=" + $("#maPhieu").val();
        var imageUrl = '<div id="divMsg" align="center"><img src="@Url.Content("~/Content/Images/loading.gif") "/></div>';
        $('#tbody').html(imageUrl);
        $('#tbody').load(url, function () {
        });
    }

</script>
<style>
    #tbl-create td {
        border: none;
    }
</style>
@{
    BatDongSan.Models.HeThong.Sys_User user1 = new BatDongSan.Models.HeThong.Sys_User();
    if (Session["User"] != null)
    {
        user1 = (BatDongSan.Models.HeThong.Sys_User)Session["User"];
    }  
}
<form id="form-submit" class="form-horizontal" method="post">
    <div id="container" class="custome_fieldSet">
        <fieldset class="removeBorderFieldset">
            <div id="tabs" style="width: 30%; height: auto; border: none; float: left; box-sizing: border-box; overflow: hidden; clear: none;" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
                <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
                    <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active ">
                        <a><span><i class="fa fa-yelp" aria-hidden="true"></i>Cập nhật phiếu công tác</span></a></li>
                </ul>
            </div>
            <table class="table table-striped table-hover table-condensed" id="tbl-create" style="position: relative">
                @if (Model.NhanVien.maNhanVien != Model.NhanVienLapPhieuTT.maNhanVien)
                {
                    <tr>
                        <td style="width: 15%" class="tdtitle">MNV lập phiếu TT                                                                   
                        </td>
                        <td style="width: 35%">@Html.TextBoxFor(model => model.NhanVienLapPhieuTT.maNhanVien, new { @class = "form-control", @readonly = true })</td>
                        <td style="width: 15%" class="tdtitle">Họ tên NV lập phiếu TT </td>
                        <td style="width: 35%">@Html.TextBoxFor(model => model.NhanVienLapPhieuTT.hoVaTen, new { @class = "form-control", @readonly = true })</td>
                    </tr>
                }
                <tr>
                    <td style="width: 15%" class="tdtitle">Mã nhân viên công tác
                          <input type="hidden" id="url" value="@ViewBag.URL" />
                        @Html.HiddenFor(m => m.maQuiTrinhDuyet)
                        <input type="hidden" name="maNVD" id="maNVD" value="@Model.NhanVien.maNhanVien" />
                    </td>
                    <td style="width: 35%">@Html.TextBoxFor(model => model.NhanVien.maNhanVien, new { @class = "form-control", @readonly = true })</td>
                    <td style="width: 15%" class="tdtitle">Tên nhân viên công tác </td>
                    <td style="width: 35%">@Html.TextBoxFor(model => model.NhanVien.hoVaTen, new { @class = "form-control", @readonly = true })</td>
                </tr>
                <tr>
                    <td class="tdtitle">Số phiếu ĐK công tác </td>
                    <td>@Html.TextBoxFor(model => model.maPhieu, new { @class = "form-control", @readonly = true })</td>
                    <td class="tdtitle">Phòng ban công tác </td>
                    <td>@Html.TextBoxFor(model => model.tenPhongBan, new { @class = "form-control", @readonly = true, @Style = "width:80%;  margin-right: 5px;   float: left;" })
                        @Html.HiddenFor(model => model.phongBanCongTac)
                        <button class="btn btn-info" id="ChoosePB" type="button">Chọn</button>
                    </td>
                    @*<td>Loại công tác</td>
                    <td>
                        @Html.RadioButtonFor(model => model.loaiCongTac, false, new { @id = "rad-1", @style = "width:auto" }) Trong nước 
                        @Html.RadioButtonFor(model => model.loaiCongTac, true, new { @id = "rad-2", style = "width:auto" }) Nước ngoài

                    </td>*@
                </tr>
                <tr>
                    <td class="tdtitle">Ngày bắt đầu</td>
                    <td>@Html.TextBoxFor(model => model.ngayBatDau, "{0: dd/MM/yyyy}", new { @class = "form-control datepicker" })</td>
                    <td class="tdtitle">Ngày kết thúc</td>
                    <td>@Html.TextBoxFor(model => model.ngayKetThuc, "{0: dd/MM/yyyy}", new { @class = "form-control datepicker" })</td>
                </tr>
                <tr>
                    <td class="tdtitle">Giờ bắt đầu</td>
                    <td>@Html.TextBoxFor(model => model.gioBatDau, "{0:HH\\:mm}", new { @class = "form-control", required = "required" })</td>
                    <td class="tdtitle">Giờ kết thúc</td>
                    <td>@Html.TextBoxFor(model => model.gioKetThuc, "{0:HH\\:mm}", new { @class = "form-control", required = "required" })</td>
                </tr>
                <tr>
                    <td class="tdtitle">Số ngày công tác</td>
                    <td>@Html.TextBoxFor(model => model.soNgayCongTac, new { @class = "form-control numberinput", data_v_max = "999", @readonly = true })</td>

                    @*<td>Nơi công tác</td>
                    <td>@Html.DropDownListFor(model => model.maTinh, ViewBag.TinhThanh as SelectList, new { @class = "form-control" })
                        @Html.DropDownListFor(model => model.maQuocGia, ViewBag.QuocGia as SelectList, new { @class = "form-control" })

                    </td>*@
                    <td class="tdtitle">Phụ cấp công tác</td>
                    <td>@Html.TextBoxFor(model => model.phuCap, new { @class = "form-control numberinputInt" })</td>
                </tr>
                <tr>
                    <td class="tdtitle">Làm phiếu trong vòng </td>
                    <td>
                        <div style="float: left; width: 50px;">@Html.TextBoxFor(model => model.soNgayRangBuoc, new { @class = "form-control", @readonly = true })</div>
                        <div style="margin-left: 5px; float: left; width: 200px;">ngày kể từ ngày công tác.</div>
                    </td>
                    @if (flagViPham == "1")
                    {
                        <td class="tdViPham" colspan="2"><span style="color: red; font-weight: bold">Ngày lập phiếu của Anh/Chị đã trễ hạn so với Quy định của công ty, hệ thống sẽ lưu lại vi phạm này (Số lần vi phạm: @soLanViPham) (Đang thử nghiệm hệ thống)</span></td>
                    }
                    else
                    {
                        <td class="tdViPham" style="display: none" colspan="2"><span style="color: red; font-weight: bold">Ngày lập phiếu của Anh/Chị đã trễ hạn so với Quy định của công ty, hệ thống sẽ lưu lại vi phạm này (Số lần vi phạm: @soLanViPham) (Đang thử nghiệm hệ thống)</span></td>
                    }
                </tr>
                <tr>
                    <td class="tdtitle">Ghi chú</td>
                    <td colspan="3">
                        <div id="editor">@Html.Raw(Model.ghiChu)</div>
                        @Html.HiddenFor(model => model.ghiChu, new { @class = "form-control" })</td>

                </tr>
            </table>
            <div style="text-align: right; margin-bottom: 10px">

                @if (ViewBag.TenTrangThaiDuyet != "KDD")
                {
                    if ((Model.Duyet == null || Model.Duyet.tinhTrang == 0) && Model.nguoiLap == user1.manv && Model.Duyet.maBuocDuyet != "DTN")
                    {
                    <button class="btn btn-info" type="button" onclick="chonNguoiDuyet();">Gửi duyệt </button>                    
                    }
                    if ((Model.Duyet == null || Model.Duyet.tinhTrang == 0) && (Model.nguoiLap == user1.manv && Model.Duyet.maBuocDuyet != "DTN") || (quyenDuyet == true))
                    {
                    <button class="btn btn-info" id="btnSubmit" type="button">Lưu </button>
                    }
                }

                <button class="btn btn-info" type="button" id="btnTroVe">Trở về </button>
            </div>
        </fieldset>

    </div>
    <fieldset class="removeBorderFieldset">

        <div id="tabs" style="" class="ui-tabs">
            <ul class="ui-tabs-nav">
                <li class="ui-tabs-selected ui-state-active"><a><span>Xem lịch sử ra vào</span></a></li>
            </ul>
        </div>
        <div id="container">

            <table style="width: 100%" class="table table-striped table-hover table-condensed tableThemeCustome TableMobile TableXemTinhHinhRaVao">

                <thead>
                    <tr>
                        <th style="width: 35px; text-align: center">STT
                        </th>
                        <th style="text-align: center">Nhân viên
                        </th>

                        <th style="text-align: center">Mã Vân tay - Mã chấm công
                        </th>
                        <th style="text-align: center">Tên phòng ban-Chức danh
                        </th>
                        <th style="text-align: center">Ngày quét</th>
                        <th style="text-align: center">Tên ngày</th>
                        <th style="text-align: center">Giờ quét</th>
                        @*   <th style="text-align: center; width: 210px">Máy chấm công - văn phòng/CT</th>*@

                    </tr>
                </thead>
                <tbody id="tbody">
                </tbody>


            </table>

        </div>
    </fieldset>
    <div id="myModalChonPhongBan" class="modal fade" role="dialog">
        <div class="modal-dialog  modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <div class="container" style="width: 98%">
                        <div class="row">
                            <div id="filter-panel" class="filter-panel">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>

        </div>
    </div>
</form>


<script type="text/javascript" src="~/Scripts/JQuery/calendar/include/ui-1.10.0/jquery-1.9.0.min.js"></script>
<link rel="stylesheet" href="~/Scripts/JQuery/calendar/include/ui-1.10.0/ui-lightness/jquery-ui-1.10.0.custom.min.css" />
<link rel="stylesheet" href="~/Scripts/JQuery/calendar/include/jquery.ui.timepicker.css" />

<script type="text/javascript" src="~/Scripts/JQuery/calendar/include/ui-1.10.0/jquery.ui.core.min.js"></script>
<script type="text/javascript" src="~/Scripts/JQuery/calendar/include/jquery.ui.timepicker.js"></script>
<script type="text/javascript" src="~/Scripts/JQuery/select2.full.js"></script>
<link rel="stylesheet" href="~/Content/css/select2.min.css" />

<script type="text/javascript">        jQuery.noConflict(); </script>


<script>
    jQuery(document).ready(function ($) {
        $('#gioBatDau').timepicker({
            showAnim: 'blind'
        });

        $('#gioKetThuc').timepicker({
            showAnim: 'blind'
        });
    });

</script>
