<script>

    function imgErrorAva(image) {
        image.onerror = "";
        image.src = "/Content/images/no-image.jpg";
        return true;
    }
</script>

<script type="text/javascript">
    $().ready(function () {
        $("#btnlsXL").click(function () {
            $("#imgrefesh ").removeClass("fa-refresh");
            $("#imgrefesh ").addClass("fa-spinner");
            $("#imgrefesh ").addClass("fa-pulse");
            $.post('@Url.Action("GetCongViecCanXuLy", "Home")', { maPhieu: "" }, function (data) {
                if (data > 0) {
                    $("#txtCongViec").css("color", "red");
                }
                else {
                    $("#txtCongViec").css("color", "");
                }
                $("#countNhacViec").html('(' + data + ')');
                $("#imgrefesh ").addClass("fa-refresh");
                $("#imgrefesh ").removeClass("fa-spinner");
                $("#imgrefesh ").removeClass("fa-pulse");
            });
        });
    });

</script>
<ul>
    @{
        var countNhacViec = (int)Session["countNhacViec"];
        var tenNV = Session["TenNhanVien"];
        var tenNhanVien = "Khách";
        if (tenNV != null)
        {
            tenNhanVien = tenNV.ToString();
        }
        
    }
    @{
        string color = string.Empty;
        if (@countNhacViec > 0)
        {
            color = "color:red";
        }
    }
    <li class="hvr-underline-from-center"><a href="/home/index"><i class="fa fa-home" aria-hidden="true"></i>Trang chủ</a></li>
    <li class=" hvr-underline-from-center" style="color: #f9350b;">Xin chào: <i class="fa fa-user"></i><a href="/NhanVien/MyProfile" title="Xem thông tin cá nhân" style="color: #1d9a07;">@tenNhanVien</a></li>
    <li class=" hvr-underline-from-center"><i class="fa fa-list-alt"></i>

        <a  href="@Url.Action("ListCongViecProcess", "User")"><span style="@color" id="txtCongViec">Nhắc việc<span id="countNhacViec">(@countNhacViec)</span></span></a>

        <a id="btnlsXL" style="cursor: pointer; padding: 0" title="Làm mới công việc"><span
            id="imgrefesh" class="fa fa-refresh"></span></a>
    </li>
    @*<li class="hvr-underline-from-center"><i class="fa fa-sitemap"></i><a href="@Url.Action("SoDoToChuc", "PhongBan")">Sơ đồ tổ chức </a></li>*@
    <li class="hvr-underline-from-center"><i class="fa fa-bullhorn"></i><a href="@Url.Action("IndexView", "QuanLyThongBao")"><span class="iconTB colorChuDe">(<span class="showTotalTB">@Session["listThongBao"]</span>)</span></a></li>
    <li  class="hvr-underline-from-center"><a class="changeMk" href="@Url.Action("ChangePassword", "TaiKhoan")">
                            <i class="fa fa-unlock"></i>Đổi mật khẩu </a></li>
    @*   <li class=" hvr-underline-from-center">
        <i class="fa fa-envelope"></i><a href="@Url.Action("Index", "HopThu")">Hộp thư(@Session["HopThuDen"]) </a></li>*@
    @using (Html.BeginForm("LogOut", "Home", FormMethod.Post, new { id = "logoutForm" }))
    {

        @Html.AntiForgeryToken()
        <li><a class="btnLogOut" href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-sign-out"></i>Thoát</a></li>
    }
    <li id="inforUser" class=" hvr-underline-from-center"><a id="inForHover">

         @{
                        var HinhAnhNV = Session["manv"] + ".jpg";        
                    
                        <img  class="imgSmall" accept="image/*" onerror="imgError(this);" src="/UploadFiles/QLNV/@HinhAnhNV">
                    }
       
    </a>
        <div class="gb_u">
        </div>
        <div id="popUpUser" style="display: none">
            <div id="topInfor">
                <div class="left-infor">
                    @{
                      //  var HinhAnhNV = Session["manv"] + ".jpg";        
                    
                        <img id="Avatar" class="imgSmall" accept="image/*" onerror="imgError(this);" src="/UploadFiles/QLNV/@HinhAnhNV">
                    }

                </div>
                <div class="right-infor customeLink">
                    <span style="font-weight: bold; display: block; text-align: center; font-size: 10px;">@tenNhanVien</span>
                    <div class="help hvr-underline-from-center">

                        <a class="changeMk" href="@Url.Action("ChangePassword", "TaiKhoan")">
                            <i class="fa fa-unlock"></i>Đổi mật khẩu </a>
                    </div>
                    <div class="help hvr-underline-from-center">
                        <a href="@Url.Action("IndexView", "QuanLyGiupDo")" ><i class="fa fa-life-ring"></i>Giúp đỡ </a>
                    </div>
                    <div class="logout hvr-underline-from-center">
                        <a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-sign-out"></i>Thoát </a>
                    </div>
                </div>
            </div>
        </div>
    </li>
</ul>


