
@{
    Layout = null;    
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HR - TV.WINDOW</title>
    <link rel="stylesheet" href="~/Content/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/login.css" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Content/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Scripts/login.js"></script>
    <script src="~/Scripts/detectMobile.js"></script>
    <link href="~/Scripts/pgwslider.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="~/Scripts/pgwslider.js"></script>
    <script>
        $(document).ready(function () {
            $('.pgwSlider').pgwSlider({

                displayControls: true,
                autoSlide: true,
                transitionEffect: 'sliding',
                displayList: true,
                touchControls: true,
                adaptiveDuration: 200,
                transitionDuration: 600,
                intervalDuration: 2500

            }
            );
            //Load Login
            var url = '@Url.Action("loadFormLogin","Home")' + '?returnUrl=' + $("#valReturnURL").val();
            $('#contentLeft').load(url, function() {
            });
            $(document).on("click", "#idForgetPass", function () {
                
               
                var url = '@Url.Action("QuenMatKhau","TaiKhoan")';
                var imageUrl = '<div id="divMsg" align="center"><img src="@Url.Content("~/Content/Images/loading.gif")"/></div>';
                $('#contentLeft').html(imageUrl);
                $('#contentLeft').load(url, function () {
                   
                    //var height = $(".header").height() + $(".main").height();
                    //$(".footer").css("height", $(document).height() - height - 200);
                });
             
            });
            $(document).on("click", "#loginHeThong", function () {
                
                var url = '@Url.Action("loadFormLogin","Home")' + '?returnUrl=' + $("#valReturnURL").val();
                var imageUrl = '<div id="divMsg" align="center"><img src="@Url.Content("~/Content/Images/loading.gif")"/></div>';
                $('#contentLeft').html(imageUrl);
                $('#contentLeft').load(url, function () {
                    
                    //var height = $(".header").height() + $(".main").height();
                    //$(".footer").css("height", $(document).height() - height - 200);
                });
               
            });
            
           
        });
        function change_captcha() {

            var text = "";
            var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789()+%^!*~";

            for (var i = 0; i < 8; i++)
                text += possible.charAt(Math.floor(Math.random() * possible.length));
            $("#codeSpam").html(text);
            $("#codeSpamHiddeen").val(text);


        }
       
    </script>
</head>

<body>
    <div class="wrapper_page_login">
        <input type="hidden" value="@ViewBag.ReturnUlr" id="valReturnURL" />
        <div class="header">
            <div class="maxWidth">
                <div class="logo">
                    <a href="@Url.Action("Index", "Home")">
                        <div class="logoLogin" style="text-align: center;">
                            <img class="img-logo" src="~/Content/images/logo.jpg">
                        </div>
                    </a>
                </div>
            </div>


        </div>
        <div class="main">
            <div class="maxWidth">
                <div class="left">
                    <div class="box_form_login">
                        <div class="form_login_account">
                            <div class="titleForm">Hệ thống Nhân sự TV.WINDOW</div>
                           
                              <div id="contentLeft">
                                
                              </div>
                            
                            
                        </div>
                    </div>
                    <p class="change_link"></p>
                </div>
                <div class="right">
                    <ul class="pgwSlider">
                          @{
                            string[] itemImgSlider = { "img01.jpg", "img02.jpg", "img03.jpg", "img04.jpg", "img05.jpg" };

                            foreach (var item in itemImgSlider)
                            {
                           <li> 
                                <img src="~/Content/images/Slider/@item " alt="" data-description="">
                            </li>
                        
                            }
                        }

                    </ul>

                </div>
            </div>
        </div>
        <div class="footer">
           
            <div class="maxWidth" style ="text-align :center ">
              
                  
            <link href="~/Scripts/ResponsiveCarousel/css/owl.carousel.css" rel="stylesheet" type="text/css" />
            <link href="~/Scripts/ResponsiveCarousel/css/entypo.css" rel="stylesheet" type="text/css" />
            <script type="text/javascript" src="~/Scripts/ResponsiveCarousel/js/owl.carousel.js"></script>
       
         <!-- Khach hang -->
            @*<div class="interface banks" id="customerScroll">
               
               <div class="content widthSite">
                  <div class="owl-carousel">
                       @{
                                string[] itemImgBank = { "vietinbank.jpg", "dong-a.jpg", "bidv.jpg", "eximbank.jpg", "ocb.jpg", "vietcombank.jpg" };

                                foreach (var item in itemImgBank)
                                {
                                <div class="item">
                                    <div class="avatar">
                                        <img src="~/Content/images/Bank/@item" />
                                    </div>
                                </div>
                                }
                            }
                    
                  
                  </div>
               </div>
            </div>*@
          <!--End Khach hang -->
               
              @*  <div class="group_phone_email">
                 <div class="imgPhone">
                <img src="~/Content/images/icon_phone.jpg" alt="Phone" />&nbsp;0123456789
                     </div>
                <div class="imgEmail">
                <img src="~/Content/images/icon_email.jpg" alt="Email" />&nbsp;supportbds@thuanviet.com.vn
            </div>
                    </div>*@
              @*  <div class="titleFooter">*@
                    Copyright © 2016 -  Nhân sự TV.Window. All rights reserved.
              @*  </div>*@
            </div>
            

        </div>
    </div>
     <script>
         $(document).ready(function () {
             //var height = $(".header").height() + $(".main").height();
             //$(".footer").css("height", $(document).height() - height - 200);

             $(".banks .owl-carousel").owlCarousel({

                 navigation: false, // Show next and prev buttons
                 navigationText: ["<i class='entypo-left-open-big'></i>", "<i class='entypo-right-open-big'></i>"],
                 slideSpeed: 800,
                 pagination: false,
                 //items: 3,
                 autoPlay: true,
                 rewindNav: true,
                 stopOnHover: true,
                // itemsDesktop: [1199, 3],
               //  itemsDesktopSmall: [979, 3],
                 afterAction: function (el) {
                     this.$owlItems.removeClass('active')
                     this.$owlItems.eq(this.currentItem + 1).addClass('active')
                 }
             });

         });
    </script>
       


</body>
</html>
