@{
    Layout = "~/Views/Shared/_Popup.cshtml";
}
<style>
    #container #maintable td, #container #maintable th
    {
        border: none;
        border-bottom: 1px inset #ADC2D6;
        position: relative;
        border-right: 1px solid rgba(173, 194, 214, 0.4);
    }

    #container #maintable
    {
        border-top: 1px inset #ADC2D6;
        border-left: 1px solid rgba(173, 194, 214, 0.4);
    }

    td
    {
        border: none;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        var obj = window.opener;
        $("#btnGoiDuyet").click(function () {
            $(this).attr("disabled", true);
            $.post('@Url.Action("TraLaiNew", "DMNguoiDuyet")', { maPhieu: $('#maPhieu').val(), idQuiTrinh: $("#idQuiTrinh").val(), maCongViec: $("#maCongViec").val(), sendMail: document.getElementById('email').checked, sendSMS: document.getElementById('sms').checked }, function (data) {
                if (data.length == 0) {
                    window.close();
                    obj.LoadLaiTrang();
                }
                else {
                    alert(data);
                    $(this).attr("disabled", false);
                }
            });
        });

        $("#btnGoReturn").click(function () {
            var check = $('input[name="nhanVienDuyet"]:checked').val();
            var lyDo = $("#LyDo").val();
            if (lyDo != "") {
                $("#btnGoReturn").replaceWith("Đang xử lý...");
                $.post('@Url.Action("TraLaiNewDong", "DMNguoiDuyet")', { maPhieu: $('#maPhieu').val(), nhaVienDuyet: check, idQuiTrinh: $("#idQuiTrinh").val(), lyDo: lyDo, maCongViec: $("#maCongViec").val(), url: $("#url").val(), sendMail: document.getElementById('email').checked, sendSMS: document.getElementById('sms').checked }, function (data) {
                    if (data == "Mail") {
                        window.close();
                        //obj.LoadLaiTrang("Mail");
                        obj.LoadLaiTrang();
                    }
                    else if (data.length == 0) {
                        window.close();
                        obj.LoadLaiTrang();
                    }
                    else {
                        alert(data);
                        $(this).attr("disabled", false);
                    }
                });
            }
            else {
                alert("Bạn phải nhập lý do trả lại.");
                $("#LyDo").focus();
            }
        });
    });
</script>
<style>
    .clsTraLai
    {
        width: 100%;
        max-width: 600px;
        margin: 20px auto;
        padding: 10px !important;
        box-shadow: 0 10px 12px rgba(0, 0, 0, 0.26);
        position: relative;
    }

        .clsLichSuPhieuDuyet .titleDP, .clsDuyetPhieu .titleDP, .clsTraLai .titleDP
        {
            position: absolute;
            top: -21px;
            background: #fff;
            padding: 10px;
            font-size: 16px;
            color: red;
            left: 20px;
        }
</style>
@{     
     
    var chiTietDuyet = ViewBag.ChiTietDuyet as List<BatDongSan.Models.HeThong.ChiTietQuiTrinhDuyet>;
    var danhSachTralai = ViewBag.DanhSachTraLai as List<BatDongSan.Models.HeThong.sp_QuiTrinhDuyet_TraLaiResult>;
}
<div id="container">
    <fieldset class="fieldset1 clsTraLai">
        <div class="titleDP">Trả lại</div>
        <form name="form" action="" method="post">
            <table style="width: 100%; font-family: Tahoma;" cellpadding="2" cellspacing="0"
                border="0">
                <tr>
                    <input type="hidden" id="maPhieu" name="maPhieu" value="@ViewBag.MaPhieu"/>
                    <input type="hidden" id="maCongViec" name="maCongViec" value="@ViewBag.MaCongViec"/>
                    <input type="hidden" id="idQuiTrinh" name="idQuiTrinh" value="@ViewBag.IDQuiTrinh"/>
                    <input type="hidden" id="url" value="@ViewBag.URL" />
                    <td style="text-align: center; color: red;">
                        <label class="checkbox-inline">
                            <input type="checkbox" id="email" value="">Send Email</label>
                        <label class="checkbox-inline">
                            <input type="checkbox" id="sms" value="">Send SMS</label>
                    </td>
                </tr>
                <table class="tbl table table-responsive table-hover table-striped clsTableTL" style="width: 100%">
                    <thead>
                        <tr>
                            <th>Tên bước duyệt
                            </th>
                            <th>Tên người duyệt
                            </th>
                            <th>Chọn người duyệt
                            </th>
                        </tr>
                    </thead>
                    <tbody class="tdright">
                        @if (danhSachTralai != null)
                        {
                            foreach (var itemTralai in danhSachTralai)
                            {
                            <tr>
                                <td>
                                    @itemTralai.tenBuocDuyet
                                </td>
                                <td>
                                    @itemTralai.nguoiDuyet
                                </td>
                                <td align="center">
                                    @if (danhSachTralai.Max(d => d.ID) == itemTralai.ID)
                                    {
                                        @Html.RadioButton("nhanVienDuyet", itemTralai.maNV + "/" + itemTralai.trangThai, true)
                                    }
                                    else
                                    { 
                                        @Html.RadioButton("nhanVienDuyet", itemTralai.maNV + "/" + itemTralai.trangThai, false)
                                    }
                                </td>
                            </tr>
                            }
                        }
                    </tbody>
                    <tr class="tdright">
                        <td>Lý do trả lại:
                        </td>
                        <td colspan="2">
                            <textarea id="LyDo" style="width: 99%"></textarea>
                        </td>

                    </tr>
                    <tr>
                        <td style="text-align: right" colspan="3">
                            <input type="button" class="btn btn-info" value="Duyệt" id="btnGoReturn" />
                            <input type="button" class="btn btn-info" value="Đóng" onclick="window.close()" /></td>
                    </tr>
                </table>
            </table>
        </form>
    </fieldset>

</div>
