@using BatDongSan.Models.NhanSu;
@model HopDongLaoDongModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";    
}
<script src="~/Scripts/autoNumeric.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
      
        $(".numberinput").autoNumeric('init', { mDec: 2, lZero: 'deny', aSep: ',', aDec: '.', pSign: 's', vMin: '0' });
        $(".numberinputInt").autoNumeric('init', { mDec: 0, lZero: 'deny', aSep: ',', aDec: '.', pSign: 's', vMin: '0' });
        $("#btnTroVe").click(function () {
            location.href = "/HopDongLaoDong";
        });

        $("#btnGuiDuyet").click(function () {
            chonNguoiDuyet();
        });

        $("#btnDuyetPhieu").click(function () {
            duyetPhieu();
        });


        $("#btnTraLai").click(function () {
            TraLai();
        });

    });

    function chonNguoiDuyet() {
        var url = ('@Url.Action("SelectCapDuyetDong/", "DMNguoiDuyet")' + $('#soHopDong').val() + '?maCongViec=HopDongLaoDong' + '&url=' + $('#url').val());
        PopUpManager(url, "DUYET", 1000, 300);
    }

    function duyetPhieu() {
        var url = ('@Url.Action("DuyetPhieu/", "DMNguoiDuyet")' + $('#soHopDong').val() + '?maCongViec=HopDongLaoDong' + '&maQuiTrinhDuyet=' + $('#maQuiTrinhDuyet').val() + '&url=' + $('#url').val());
        PopUpManager(url, "DUYET", 1000, 300);
    }

    function TraLai() {
        var tenBD = $('#tenBuocDuyet').val().replace(/\ /g, '');
        var url = ('@Url.Action("TraLaiDong/", "DMNguoiDuyet")' + $('#soHopDong').val() + '?tenBuocDuyet=' + tenBD + '&maQuiTrinhDuyet=' + $('#maQuiTrinhDuyet').val() + '&maCongViec=HopDongLaoDong' + '&url=' + $('#url').val());
        PopUpManager(url, "DUYET", 1000, 300);
    }

    function PopUpManager(url, title, w, h) {
        var left = (screen.width / 2) - (w / 2);
        var top = (screen.height / 2) - (h / 2);
        var targetWin = window.open(url, title, 'width=' + w + ', height=' + h + ', top=' + top + ', left=' + left);
    }

    function LoadLaiTrang() {
        location.href = '@Url.Action("Details/", "HopDongLaoDong")' + $('#soHopDong').val();
    }

    function printPreview() {
        var maPhieu = $("#soHopDong").val();
        var url = "@Url.Action("InHopDongLaoDong", "HopDongLaoDong")" + "?maPhieu=" + maPhieu;
        $("#print-panel").load(url);
    }


    function printTV() {
        var print = $('#print-preview').html();
        var WinPrint = window;
        WinPrint.document.write(print);
        WinPrint.print();
        location.href = '@Url.Action("Details", "HopDongLaoDong")';
    }

    function InFileWorld(obj) {
        var li = $(obj).parent();
        var xhr = new XMLHttpRequest();
        xhr.open('POST', "/HopDongLaoDong/In", true);
        xhr.responseType = 'arraybuffer';
        xhr.onload = function () {
            if (this.status === 200) {
                var filename = "";
                var disposition = xhr.getResponseHeader('Content-Disposition');
                if (disposition && disposition.indexOf('attachment') !== -1) {
                    var filenameRegex = /filename[^;=\n]*=((['"]).*?\2|[^;\n]*)/;
                    var matches = filenameRegex.exec(disposition);
                    if (matches != null && matches[1]) filename = matches[1].replace(/['"]/g, '');
                }
                var type = xhr.getResponseHeader('Content-Type');

                var blob = new Blob([this.response], { type: type });
                if (typeof window.navigator.msSaveBlob !== 'undefined') {
                    // IE workaround for "HTML7007: One or more blob URLs were revoked by closing the blob for which they were created. These URLs will no longer resolve as the data backing the URL has been freed."
                    window.navigator.msSaveBlob(blob, filename);
                } else {
                    var URL = window.URL || window.webkitURL;
                    var downloadUrl = URL.createObjectURL(blob);

                    if (filename) {
                        // use HTML5 a[download] attribute to specify filename
                        var a = document.createElement("a");
                        // safari doesn't support this yet
                        if (typeof a.download === 'undefined') {
                            window.location = downloadUrl;
                        } else {
                            a.href = downloadUrl;
                            a.download = filename;
                            document.body.appendChild(a);
                            a.click();
                        }
                    } else {
                        window.location = downloadUrl;
                    }

                    setTimeout(function () { URL.revokeObjectURL(downloadUrl); }, 100); // cleanup
                }

            }
        };
        xhr.onloadstart = function (e) {
            li.html('<img src="/Images/progress.gif" />')
        };
        xhr.onloadend = function (e) {
            li.html(obj);
        };
        xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
        xhr.send($.param({
            maPhieu: $("#soHopDong").val()
        }));
    }



</script>
<style>
    td
    {
        border: none!important;
    }

    .input-group-btn
    {
        position: absolute;
        font-size: 0;
    }

    .tdtitle
    {
        font-weight: 600;
    }

        .tdtitle::after
        {
            content: ":";
        }

    .leftCop button, .leftCop ul li
    {
        float: left;
    }

    .numberinputInt, .numberinput
    {
        text-align: right;
    }
</style>
@{
    

    BatDongSan.Models.HeThong.Sys_User user = new BatDongSan.Models.HeThong.Sys_User();
    if (Session["User"] != null)
    {
        user = (BatDongSan.Models.HeThong.Sys_User)Session["User"];
    }
    var phanBoLuong = ViewBag.PhanBoLuong as PhanBoLuongModel;
}
<form>
    <fieldset class="removeBorderFieldset">
        <div id="tabs">
            <ul class="ui-tabs-nav">
                <li class="ui-tabs-selected active">
                    <a href="#tab1" data-toggle="tab"><span>Chi tiết hợp đồng lao động</span></a></li>
            </ul>
        </div>
        <div class="tab-content">
            <div class="tab-pane in active" id="tab1">
                <table class="table table-hover table-striped table-condensed" style="position: relative">
                    <tr>
                        <td class="tdtitle" style="width: 15%">Nhân viên</td>
                        <td style="width: 35%">
                            @Html.DisplayFor(model => model.tenNhanVien)
                            <input type="hidden" id="url" value="@ViewBag.URL" />
                            @Html.HiddenFor(m => m.maQuiTrinhDuyet)
                            @Html.HiddenFor(model => model.soHopDong)
                            <input type="hidden" id="tenBuocDuyet" value="@ViewBag.TenBuocDuyet " />
                            @Html.Hidden("maPhieu", Model.id)
                        </td>

                        <td class="tdtitle" style="width: 15%;">Chức danh</td>
                        <td style="width: 35%">@Html.DisplayFor(model => model.tenChucDanh)</td>
                    </tr>
                    <tr>
                        <td class="tdtitle">Số hợp đồng</td>
                        <td>@Html.DisplayFor(model => model.soHopDong)
                        </td>

                        <td class="tdtitle">Tên hợp đồng</td>
                        <td>@Html.DisplayFor(model => model.tenHopDong)</td>
                    </tr>
                    <tr>
                        <td class="tdtitle">Loại hợp đồng</td>
                        <td>@Html.DisplayFor(model => model.tenLoaiHopDong)</td>
                        <td class="tdtitle">Ngày ký hợp đồng</td>
                        <td>@Html.Raw(Model.ngayKy.HasValue ? Model.ngayKy.Value.ToString("dd/MM/yyyy") : string.Empty)</td>
                        @*<td class="tdtitle">Tỉ lệ hưởng lương</td>
                        <td>@Html.DisplayFor(model => model.tyLeHuong) %</td>*@
                    </tr>
                    <tr>
                        <td class="tdtitle">Thời hạn hợp đồng</td>
                        <td>@Html.DisplayFor(model => model.tenThoiHanHopDong)</td>

                        <td class="tdtitle">Thời hạn</td>
                        <td>@Html.DisplayFor(model => model.soThang) Tháng</td>
                    </tr>
                    <tr>
                        <td class="tdtitle">Ngày bắt đầu</td>
                        <td>@Html.Raw(Model.ngayBatDau.HasValue ? Model.ngayBatDau.Value.ToString("dd/MM/yyyy") : string.Empty)</td>

                        <td class="tdtitle">Ngày kết thúc</td>
                        <td>@Html.Raw(Model.ngayKetThuc.HasValue ? Model.ngayKetThuc.Value.ToString("dd/MM/yyyy") : string.Empty)</td>
                    </tr>
                    <tr>
                        <td class="tdtitle">Bậc lương</td>
                        <td style="text-align: right">@Model.bac
                        <td class="tdtitle">Cấp bậc chức vụ</td>
                        <td style="text-align: right">@Model.bacChucVu
                        </td>
                    </tr>
                   <tr>
                        <td class="tdtitle">Hình thức lương
                        </td>
                        <td>
                            @Html.DropDownListFor(model => model.maHinhThuc, ViewBag.HinhThucLuongs as SelectList, new { @class = "form-control" })
                            

                        </td>
                        <td class="tdtitle">Ngày bắt đầu tính phép<span style="font-style: italic; float: right; color: red"></span></td>
                        <td>@Html.Raw(Model.ngayBatDauTinhPhep.HasValue ? Model.ngayBatDauTinhPhep.Value.ToString("dd/MM/yyyy") : string.Empty)</td>
                    </tr>
                    <tr>
                       
                         <td class="tdtitle">Bảo hiểm
                        </td>
                        <td>
                            @Html.DropDownListFor(model => model.maBaoHiem, ViewBag.BaoHiems as SelectList, new { @class = "form-control" })
                            

                        </td>
                         <td class="tdtitle">Thuế
                        </td>
                        <td>
                            @Html.DropDownListFor(model => model.maThue, ViewBag.DMThues as SelectList, new { @class = "form-control"})
                            

                        </td>
                        
                    </tr>
                    <tr>
                        <td class="tdtitle">Lương cơ bản(1)</td>
                        <td class="numberinputInt">@Model.luongCoBan
                        </td>                       
                        <td class="tdtitle">Lương thành tích (2)</td>
                        <td class="numberinputInt">@Model.luongThanhTich
                        </td>
                    </tr>
                    <tr>
                        <td class="tdtitle">Tổng lương (3=1+2)</td>
                        <td class="numberinputInt">@Model.tongLuong</td>
                        <td class="tdtitle">Lương đóng BH<span style="font-style: italic; float: right; color: red">*</span></td>
                        <td class="numberinputInt">@Model.luongDongBH</td>
                    </tr>
                    <tr>
                        <td class="tdtitle">Quỹ nội bộ</td>
                        <td class="numberinput" data-a-sign=" %">@Model.doanPhi</td>
                        <td class="tdtitle">Phụ cấp thu hút</td>
                        <td class="numberinputInt">@Model.khoanBoSungLuong
                        </td>
                    </tr>                   
                    @*<tr>
                        <td class="tdtitle">Tiền xăng</td>
                        <td>@Model.tienXang</td>

                        <td class="form-inline tdtitle">Tiền đi lại</td>
                        <td>@Model.tienDiLai</td>
                    </tr>*@
                    <tr>
                        <td class="tdtitle">Tiền điện thoại</td>
                        <td class="numberinputInt">@Model.tienDienThoai</td>                       
                        <td class="tdtitle">Tiền ăn giữa ca</td>
                        <td>
                            @Html.CheckBoxFor(model => model.tienAnGiuaCa)
                        </td>
                        <td colspan="2"></td>
                    </tr>
                    <tr>
                        <td class="tdtitle">Phụ cấp đi lại</td>
                        <td> @Html.CheckBoxFor(model => model.checkPhuCapDiLai)</td>
                         <td class="tdtitle">Tiền phụ cấp đi lại</td>
                        <td>
                            @Html.TextBoxFor(model => model.phuCapDiLaiNew, new { @class = "form-control numberinput", @readonly="readonly" })
                        </td>
                    </tr>
                    <tr>
                          <td class="tdtitle">Hợp đồng hết hiệu lực</td>
                        <td> @Html.CheckBoxFor(model => model.hopDongHetHieuLuc)</td>
                        <td class="tdtitle">Ghi chú</td>
                        <td>@Html.DisplayFor(model => model.ghiChu)</td>
                    </tr>
                </table>
            </div>
        </div>
        @*  <div id="phanbo-div" style="padding-top: 0px;">
            @{Html.RenderPartial("PartialPhanBoLuong", phanBoLuong);}
        </div>*@
        <div class="form-group" style="float: right">
            @if ((Model.Duyet == null || Model.Duyet.tinhTrang == 0) && Model.nguoiLap == user.manv)
            {                         
                <button class="btn btn-info" type="button" id="btnGuiDuyet">Gửi duyệt </button>
            }
            else if (Model.Duyet != null && (Model.Duyet.maBuocDuyet != "DTN" && Model.Duyet.maBuocDuyet != "DD") && Model.Duyet.nguoiDuyet.maNhanVien == user.manv)
            {                         
                <button class="btn btn-info" type="button" id="btnDuyetPhieu">Duyệt phiếu này</button>
                <button class="btn btn-info" type="button" id="btnTraLai">Trả lại</button>
            }
            <button class="btn btn-primary dropdown-toggle" type="button" onclick="printPreview()" data-toggle="modal" data-target="#printModal">Xem bản in </button>
            <button class="btn btn-info" type="button" id="btnTroVe">Trở về </button>
        </div>
    </fieldset>
</form>


<div class="modal fade" id="printModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <div class="container" style="width: 98%">
                    <div class="row">
                        <div id="print-panel" class="filter-panel">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer leftCop">
                <div style="float: right">
                    <button type="button" class="btn btn-info btnPrint" onclick="printTV()">In</button>
                    <ul style="display: inline">
                        <li>
                            <button type="button" class="btn btn-info btnInFileWorld" onclick="InFileWorld(this)">Xuất file world</button>
                        </li>
                    </ul>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>
</div>
