@using BatDongSan.Models.NhanSu;
@model IPagedList<sp_NS_HopDongLaoDong_IndexResult>
@{
    Layout = null;
    int i = 1;    
}
<style>
    td
    {
        border: none;
    }
</style>

@{
    BatDongSan.Models.HeThong.Sys_User user1 = new BatDongSan.Models.HeThong.Sys_User();
    if (Session["User"] != null)
    {
        user1 = (BatDongSan.Models.HeThong.Sys_User)Session["User"];
    }
}
<table class="table table-striped table-hover table-condensed" id="maintable">
    <thead>
        <tr>
            <th style="text-align: center; width: 45px">STT</th>
            <th>Số hợp đồng</th>
            <th>Mã nhân viên</th>
            <th>Phòng ban</th>
            <th>Ngày ký</th>
            <th>Tổng lương</th>
            <th>Phụ lục</th>
            <th style="width: 80px">Trạng thái</th>
            <th style="width: 100px"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {                                                        
            <tr>
                <td style="text-align: center">@i</td>
                <td style="text-align: left">
                    <a style="color:#519ee5" href="@Url.Action("Details", "HopDongLaoDong", new { id = item.soHopDong })">@item.soHopDong</a><br />
                    <i class="fa fa-file-image-o" aria-hidden="true"></i>@item.tenLoaiHopDong
                </td>
                <td style="text-align: left">@item.maNhanVien<br />
                    <i class="fa fa-user" aria-hidden="true"></i>@item.hoTenNhanVien
                </td>
                <td style="text-align: left">
                    @item.tenPhongBan<br />
                    <i class="fa fa-ticket" aria-hidden="true"></i>@item.TenChucDanh
                </td>
                <td style="text-align: left">Ký : @item.ngayKy.Value.ToString("dd/MM/yyyy")
                    <br />
                    <i class="fa fa-calendar-o" aria-hidden="true"></i>@item.tenThoiHanHopDong@*Fr: @String.Format("{0: dd/MM/yyyy}", @item.ngayBatDau)*@
                    @*<br />
                    <i class="fa fa-calendar-o" aria-hidden="true"></i>To: @String.Format("{0: dd/MM/yyyy}", @item.ngayKetThuc)*@
                </td>
                <td style="text-align:right">
                    @String.Format("{0:#,##0.####}", item.tongLuong)
                </td>
                <td>
                    @if (item.maBuocDuyet == "DTN" || item.maBuocDuyet=="DD")
                    {
                        if (item.soLuongPhuLuc > 0)
                        {
                        <a style="color:#519ee5" href="@Url.Action("Index", "PhuLucHopDong", new { id = item.soHopDong })">[@item.soLuongPhuLuc]Chi tiết</a>    
                        }
                        else
                        {                            
                        <a style="color:#519ee5" href="@Url.Action("Create", "PhuLucHopDong", new { id = item.soHopDong })">Tạo phụ lục</a>    
                        }
                    }
                </td>
                <td style="text-align: center">
                    <a href="javascript:void(0);" onclick="ViewDetailHistory('@item.soHopDong','@item.maQTD')">
                        @item.tenTrangThaiDuyet</a>
                </td>
                <td style="text-align: center">
                    @if (item.nguoiLap == user1.manv && item.trangThai == 0)
                    {
                        <a href="@Url.Action("Edit", "HopDongLaoDong", new { id = item.soHopDong })" title ="Sửa phiếu"><i class="fa fa-pencil-square-o" style="font-size: 30px; color: orange;" aria-hidden="true">| </i></a>
                        <a class="btnDelete" alt="@item.soHopDong" title ="Xoá phiếu"><i class="fa fa-trash" style="font-size: 30px; color: red; cursor: pointer;" aria-hidden="true"></i></a>
                    }

                </td>
            </tr> 
                    i++;
        }
    </tbody>
</table>
<div>
    Trang @Model.PageNumber của @Model.PageCount / @ViewBag.Count
</div>
<div>
     <ul class="pagination">
        @Html.Raw(Ajax.Pager(new AjaxOptions { UpdateTargetId = "content", OnBegin = "beginPaging", OnSuccess = "successPaging", OnFailure = "failurePaging" }, Model.PageSize, Model.PageNumber, Model.TotalItemCount,
        new { controller = "HopDongLaoDong", action = "Index", searchString = ViewBag.searchString, loaiHopDong = ViewBag.loaiHopDong, maPhongBan = ViewBag.maPhongBan, trangThai = ViewBag.trangThai, trangThaiNV = ViewBag.trangThaiNV }))
    </ul>
</div>

