@using BatDongSan.Models.HeThong;
@using BatDongSan.Utils.Paging;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";        
}
<link rel="stylesheet" href="~/Content/batdongsan-alert.css" />
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/Scripts/batdongsan.generals.js"></script>
<style>
    #content td {
        border-bottom: 1px inset #ADC2D6;
        position: relative;
    }

    .avatar {
        background-size: 15px;
        width: 50px;
        height: 50px;
        object-fit: cover;
    }

    .modal-body {
        overflow-y: auto;
        max-height: 600px;
        width: 100%;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $('#btnUpdate').click(function (id) {
            var idArray = [];
            $("input:checkbox:checked").each(function () {
                idArray.push(this.value);
            });
            var url = '@Url.Action("Edit", "PhanQuyenSuatAn", new { id = "maNhomUser" })';
            if (idArray.length > 0) {
                var maNhom = idArray[0];
                url = url.replace("maNhomUser", maNhom);
                window.location.href = url;
            }
            else {
                $("#dialog").show();
                var counter = 5;
                var timer = setInterval(function () {
                    counter--;
                    if (counter == 0) {
                        $("#dialog").hide();
                        clearInterval(timer);
                    }
                }, 800)

            }
        });

        $(".btnNhanVien").click(function () {
            var url = "@Url.Action("GetNhanVien", "PhanQuyenSuatAn")" + "/" + $(this).attr("data-value");
            $("#nhanVien-panel").load(url)
        })

        $(".btnQuyen").click(function () {
            var url = "@Url.Action("QuyenTruyCap", "PhanQuyenSuatAn")" + "/" + $(this).attr("data-value");
            $("#quyenTruyCap-panel").load(url)
        })

        $('#btnDelete').click(function (e) {
            if ($('input:checkbox:checked').length <= 0) {
                alert("Không có nhân viên nào được chọn!");
                e.preventDefault();
            }
            else {
                var cnf = window.confirm("Bạn có muốn xóa không?");
                if (!cnf) e.preventDefault();
            }
        })

        $("#nhanVienModal").on("hide.bs.modal", function () {
            $("#nhanVien-panel").html("");
        });

    });

    function themMoi() {
        var url = "@Url.Action("Create", "PhanQuyenSuatAn")";
        window.location.href = url;
    }

    function beginPaging(args) {
        // Animate        
        $('#maintable >tbody').fadeOut('fast');
    }

    function successPaging() {
        // Animate
        noRecordToGet = false;
        offset = 50;
        $('#maintable >tbody').fadeIn('normal');
    }

    function failurePaging() {
        alert("Không thể tải dữ liệu nhân viên");
    }

    //Load more page when hitting the bottom of page 
    var loading = false, noRecordToGet = false, fetchNext = 50, offset = 50;
    $(window).on("scroll", function () {
        if ($(window).scrollTop() == $(document).height() - $(window).height()) {
            if (loading == false && noRecordToGet == false) {
                var url = "@Url.Action("LoadMore", "NhanVien")" + "?offset=" + offset + "&fetchNext=" + fetchNext
                                                             + "&sanGiaoDich=" + $("#btnSanGiaoDich").val() + "&maPhongBan=" + $("#btnPhongBan").val()
                                                             + "&searchString=" + $("#pref-search").val().replace(/ /gi, '+');
                loading = true;
                $.ajax({
                    url: url,
                    type: "POST",
                    dataType: "html",
                    success: function (data) {
                        offset = offset + fetchNext;
                        $("#loader").show();
                        setTimeout(function () {
                            $("#maintable >tbody").append(data);
                            if (data.trim() == "") {
                                noRecordToGet = true;
                                $("#loader").hide();
                            }
                            loading = false;
                        }, 1000);
                    },
                    error: function () {
                        bdsConfirm.alert("Có lỗi xảy ra", "Thông báo");
                    }
                })
            }
        }
    });

</script>
@using (Html.BeginForm("Delete", "PhanQuyenSuatAn", FormMethod.Post, new { @class = "form-inline", @role = "form", @id = "form-submit" }))
{            
    <div id="container">
        <fieldset class="removeBorderFieldset">
            <div id="tabs" style="" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
                <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
                    <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a><span>Danh sách phân quyền suất ăn</span></a></li>
                </ul>
            </div>
            <div id="filter-panel" class="collapse filter-panel" style="display: block">
                <div id="dialog" class="alert alert-info" style="display: none">
                    <strong>Thông báo!</strong> Vui lòng chọn nhóm người dùng để cập nhật.  
                </div>
                <div class="panel panel-default background_top">
                    <div class="panel-body">
                        
                        <div class="form-group" style="float: right">
                          @*  <button class="btn btn-info btnThemeAdd" type="button" onclick="themMoi()">Thêm </button>*@
                            <button class="btn btn-info" type="button" id="btnUpdate">Sửa </button>
                            @*<button class="btn btn-info" id="btnDelete">Xóa </button>*@
                        </div>
                    </div>
                </div>
            </div>
            <div id="content">
                <table class="table table-striped table-hover table-condensed" id="maintable">
                    <thead>
                        <tr>
                            <th style="text-align: center; width: 45px">STT</th>
                            <th>Mã nhóm người sử dụng</th>
                            <th>Tên nhóm người sử dụng</th>
                            <th>Danh sách nhân viên</th>
                            <th>Ghi chú</th>
                            <th style="width: 45px"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @Html.Partial("PartialContent")
                    </tbody>
                </table>
            </div>
            <div style="text-align: center; display: none" id="loader">
                <img src="/Images/loader.gif" />
            </div>
        </fieldset>
    </div>    
}
<!--------------------------- Modal - NHÂN VIÊN TRỰC THUỘC ------------------------>
<div id="nhanVienModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div class="container" style="width: 100%">
                    <div class="row">
                        <div id="nhanVien-panel" class="filter-panel">
                            @if (ViewBag.Get != null)
                            {
                                Html.RenderPartial("PartialNhanVien");
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

