@using BatDongSan.Models.PhieuDeNghi;
@model PhieuDieuChuyen
@{
    ViewBag.Title = "Chi tiết phiếu quyết định điều động nhân sự";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string[] nhanVienNS = ViewBag.NhanVienThuocNhoms;
}
<script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script>
    $(document).ready(function () {
        $("#btnTroVe").click(function () {
            var url = "@Url.Action("Index")";
            location.href = url;
        });

        $("#btnIn").click(function () {
            var url = "@Url.Action("InPhieuDieuChuyen")" + '?maPhieu=' + $("#maPhieu").val();
            location.href = url;
        });


        $("#btnGuiDuyet").click(function () {
            chonNguoiDuyet();
        });

        $("#btnDuyetPhieu").click(function () {
            duyetPhieu();
        });


        $("#btnTraLai").click(function () {
            TraLai();
        });
    });


    @*  //Không duyệt động function PopUpManager(url, title, w, h) {
        var left = (screen.width / 2) - (w / 2);
        var top = (screen.height / 2) - (h / 2);
        var targetWin = window.open(url, title, 'width=' + w + ', height=' + h + ', top=' + top + ', left=' + left);
    }
    function chonNguoiDuyet() {
        var lyDo = '';
        var url = ('@Url.Action("SelectCapDuyet1/", "DMNguoiDuyet")' + $('#maPhieu').val() + '?maCongViec=PhieuDieuChuyen' + '&trangThai=' + 0 + '&title=' + "" + '&maNhanVien=' + $("#maNVD").val() + '&lyDo=' + lyDo + "&idQuiTrinh=" + $("#maQuiTrinhDuyet").val() + '&url=' + $("#url").val());
        PopUpManager(url, "DUYET", 800, 500);
    }

    function chonNguoiDuyet2() {
        var lyDo = '';
        var url = ('@Url.Action("SelectCapDuyet/", "DMNguoiDuyet")' + $('#maPhieu').val() + '?maCongViec=PhieuDieuChuyen' + '&trangThai=' + 0 + '&title=' + "" + '&maNhanVien=' + $("#maNVD").val() + '&lyDo=' + lyDo + "&idQuiTrinh=" + $("#maQuiTrinhDuyet").val() + '&url=' + $("#url").val());
        PopUpManager(url, "DUYET", 800, 500);
    }

    function DuyetPhieu() {
        if (window.confirm('Bạn có chắc chắn duyệt phiếu điều chuyển này hay không?')) {
            var lyDo = "";
            $.post('@Url.Action("DuyeTheoQuiTrinhDong", "DMNguoiDuyet")', { lyDo: lyDo, maNhanVien: $('#maNVD').val(), maPhieu: $('#maPhieu').val(), soNgayNghiPhep: $('#soNgayNghiPhep').val(), maCongViec: "PhieuDieuChuyen", tenNhanVien: $('#tenNhanVien').val(), idQuiTrinh: $("#maQuiTrinhDuyet").val(), sendMail: false, sendSMS: false }, function (data) {
                if (data.length == 0) {
                    location.href = '@Url.Action("Details/", "PhieuDieuChuyen")' + $('#maPhieu').val();
                }
                else {
                    alert(data);
                }
            });
        }
    }

    function LoadLaiTrang() {
        location.href = '@Url.Action("Details/", "PhieuDieuChuyen")' + $('#maPhieu').val();
    }

    function KhongDuyet() {

        if (window.confirm('Bạn có chắc chắn không duyệt phiếu điểu chuyển này hay không?')) {
            var lyDo = "";
            $.post('@Url.Action("TraLaiNew", "DMNguoiDuyet")', { lyDo: lyDo, maNhanVien: $('#maNVD').val(), maPhieu: $('#maPhieu').val(), soNgayNghiPhep: $('#soNgayNghiPhep').val(), maCongViec: "PhieuDieuChuyen", tenNhanVien: $('#tenNhanVien').val(), idQuiTrinh: $("#maQuiTrinhDuyet").val(), sendMail: false, sendSMS: false }, function (data) {
                if (data.length == 0) {
                    location.href = '@Url.Action("Details/", "PhieuDieuChuyen")' + $('#maPhieu').val();
                }
                else {
                    alert(data);                    
                }
            });
        }
    }

    function TraLai(status, employeeId) {
        var url = ('@Url.Action("TraLai/", "DMNguoiDuyet")' + $('#maPhieu').val() + '?maCongViec=PhieuDieuChuyen' + '&trangThai=' + 0 + '&title=' + "" + '&maNhanVien=' + $("#maNVD").val() + '&lyDo=' + "" + "&idQuiTrinh=" + $("#maQuiTrinhDuyet").val() + '&url=' + $("#url").val());
        PopUpManager(url, "DUYET", 700, 200);
    }*@

    function chonNguoiDuyet() {
        var url = ('@Url.Action("SelectCapDuyetDong/", "DMNguoiDuyet")' + $('#maPhieu').val() + '?maCongViec=PhieuBoNhiem' + '&url=' + $('#url').val());
        PopUpManager(url, "DUYET", 1000, 300);
    }

    function duyetPhieu() {
        var url = ('@Url.Action("DuyetPhieu/", "DMNguoiDuyet")' + $('#maPhieu').val() + '?maCongViec=PhieuBoNhiem' + '&maQuiTrinhDuyet=' + $('#maQuiTrinhDuyet').val() + '&url=' + $('#url').val());
        PopUpManager(url, "DUYET", 1000, 300);
    }

    function TraLai() {
        var tenBD = $('#tenBuocDuyet').val().replace(/\ /g, '');
        var url = ('@Url.Action("TraLaiDong/", "DMNguoiDuyet")' + $('#maPhieu').val() + '?tenBuocDuyet=' + tenBD + '&maQuiTrinhDuyet=' + $('#maQuiTrinhDuyet').val() + '&maCongViec=PhieuBoNhiem' + '&url=' + $('#url').val());
        PopUpManager(url, "DUYET", 1000, 300);
    }

    function PopUpManager(url, title, w, h) {
        var left = (screen.width / 2) - (w / 2);
        var top = (screen.height / 2) - (h / 2);
        var targetWin = window.open(url, title, 'width=' + w + ', height=' + h + ', top=' + top + ', left=' + left);
    }

    function LoadLaiTrang() {
        location.href = '@Url.Action("Details/", "PhieuBoNhiem")' + $('#maPhieu').val();
    }

    function printPreview() {
        var maPhieu = $("#maPhieu").val();
        var url = "@Url.Action("InPhieuDieuChuyen", "PhieuBoNhiem")" + "?maPhieu=" + maPhieu;
        $("#print-panel").load(url);
    }


    function printTV() {
        var print = $('#print-preview').html();
        var WinPrint = window;
        WinPrint.document.write(print);
        WinPrint.print();
        location.href = '@Url.Action("Details", "PhieuBoNhiem")';
    }

    function InFileWorld(obj) {
        var li = $(obj).parent();
        var xhr = new XMLHttpRequest();
        xhr.open('POST', "/PhieuBoNhiem/In", true);
        xhr.responseType = 'arraybuffer';
        xhr.onload = function () {
            if (this.status === 200) {
                var filename = "";
                var disposition = xhr.getResponseHeader('Content-Disposition');
                if (disposition && disposition.indexOf('attachment') !== -1) {
                    var filenameRegex = /filename[^;=\n]*=((['"]).*?\2|[^;\n]*)/;
                    var matches = filenameRegex.exec(disposition);
                    if (matches != null && matches[1]) filename = matches[1].replace(/['"]/g, '');
                }
                var type = xhr.getResponseHeader('Content-Type');

                var blob = new Blob([this.response], { type: type });
                if (typeof window.navigator.msSaveBlob !== 'undefined') {
                    // IE workaround for "HTML7007: One or more blob URLs were revoked by closing the blob for which they were created. These URLs will no longer resolve as the data backing the URL has been freed."
                    window.navigator.msSaveBlob(blob, filename);
                } else {
                    var URL = window.URL || window.webkitURL;
                    var downloadUrl = URL.createObjectURL(blob);

                    if (filename) {
                        // use HTML5 a[download] attribute to specify filename
                        var a = document.createElement("a");
                        // safari doesn't support this yet
                        if (typeof a.download === 'undefined') {
                            window.location = downloadUrl;
                        } else {
                            a.href = downloadUrl;
                            a.download = filename;
                            document.body.appendChild(a);
                            a.click();
                        }
                    } else {
                        window.location = downloadUrl;
                    }

                    setTimeout(function () { URL.revokeObjectURL(downloadUrl); }, 100); // cleanup
                }

            }
        };
        xhr.onloadstart = function (e) {
            li.html('<img src="/Images/progress.gif" />')
        };
        xhr.onloadend = function (e) {
            li.html(obj);
        };
        xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
        xhr.send($.param({
            maPhieu: $("#maPhieu").val()
        }));
    }
</script>
<style>
    #tbl-create td
    {
        border: none;
    }

    .leftCop button, .leftCop ul li
    {
        float: left;
    }
</style>
@{
    
    BatDongSan.Models.HeThong.Sys_User user1 = new BatDongSan.Models.HeThong.Sys_User();
    if (Session["User"] != null)
    {
        user1 = (BatDongSan.Models.HeThong.Sys_User)Session["User"];
    }  
    
}
<div id="container" class="custome_fieldSet">
    <fieldset class="removeBorderFieldset">
        <div id="tabs" style="width: 30%; height: auto; border: none; float: left; box-sizing: border-box; overflow: hidden; clear: none;" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
            <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
                <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active ">
                    <a><span><i class="fa fa-yelp" aria-hidden="true"></i>Chi tiết điều động nhân sự</span></a></li>
            </ul>
        </div>
        <table class="table table-striped table-hover table-condensed" id="tbl-create" style="position: relative">
            <tr>
                <td class="tdtitle">Số phiếu </td>
                <td>@Model.maPhieu</td>
                <td class="tdtitle">Ngày lập </td>
                <td>@String.Format("{0: dd/MM/yyyy}", Model.ngayLap)
                </td>
            </tr>
            <tr>
                <td style="width: 15%" class="tdtitle">Mã nhân viên</td>
                <td style="width: 35%">@Model.NhanVien.maNhanVien
                    @Html.HiddenFor(model => model.NhanVien.maNhanVien)
                    <input type="hidden" id="url" value="@ViewBag.URL" />
                    @Html.HiddenFor(model => model.maQuiTrinhDuyet)
                    <input type="hidden" id="tenBuocDuyet" value="@ViewBag.TenBuocDuyet " />
                </td>
                <td style="width: 15%" class="tdtitle">Tên nhân viên </td>
                <td style="width: 35%">@Model.NhanVien.hoVaTen</td>
            </tr>
            <tr>
                <td class="tdtitle">Phòng ban
                </td>
                <td>
                    @Model.tenPhongBanCu
                </td>
                <td class="tdtitle">Chức danh
                </td>
                <td>
                    @Model.tenChucDanhCu
                </td>
            </tr>
            <tr>
                <td class="tdtitle">Phân ca</td>
                <td>
                    @Model.tenPhanCaCu


                </td>
            </tr>
            <tr>
                <td class="tdtitle">Ngày chuyển</td>
                <td>@String.Format("{0: dd/MM/yyyy}", Model.ngayChuyen)</td>
                <td class="tdtitle">Bộ phận tính lương</td>
                <td>
                    @Model.tenBoPhanTinhLuongCu
                </td>
            </tr>
            <tr>
                <td class="tdtitle">Nội dung</td>
                <td colspan="3">@Html.Raw(Model.noiDung)</td>

            </tr>
        </table>
        <div id="tabs" style="width: 30%; height: auto; border: none; float: left; box-sizing: border-box; overflow: hidden; clear: none;" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
            <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
                <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active ">
                    <a><span><i class="fa fa-yelp" aria-hidden="true"></i>Thông tin đề nghị điều động</span></a></li>
            </ul>
        </div>
        <table class="table table-striped table-hover table-condensed">
           @* <tr>
                <td class="tdtitle">Phòng ban
                </td>
                <td colspan="3">
                    @Model.tenPhongBan
                </td>
            </tr>*@
            <tr>
                <td class="tdtitle" style="width: 15%">Chức danh
                </td>
                <td style="width: 35%">
                    @Model.tenChucDanhMoi
                </td>
                <td class="tdtitle" style="width: 15%">Bộ phận tính lương
                </td>
                <td style="width: 35%">
                    @Model.tenBoPhanTinhLuongMoi
                </td>
            </tr>
            <tr>
                <td class="tdtitle">Phân ca</td>
                <td>@Model.tenPhanCaMoi</td>
            </tr>
        </table>
        <div style="text-align: right; margin-top: 10px">
            <input type="hidden" name="maNVD" id="maNVD" value="@user1.manv" />
            <input type="hidden" name="tenNhanVien" id="tenNhanVien" value="@ViewBag.HoTen" />
            @Html.HiddenFor(model => model.maPhieu)
            @Html.HiddenFor(model => model.noiDung)
            @* // Không duyệt động @if (ViewBag.TenTrangThaiDuyet != "KDD")
            {
                if ((Model.Duyet == null || Model.Duyet.tinhTrang == 0) && Model.maNhanVienLapPhieu == user1.manv && Model.Duyet.maBuocDuyet != "KDD")
                {
                <button class="btn btn-info" type="button" onclick="chonNguoiDuyet();">Gửi duyệt </button>
                }
                else if (Model.Duyet != null && (Model.Duyet.nguoiDuyet.maNhanVien == null ? string.Empty : Model.Duyet.nguoiDuyet.maNhanVien.Trim()) == user1.manv && Model.Duyet.maBuocDuyet != "DTN" && Model.Duyet.maBuocDuyet != "CDL2" && Model.Duyet.maBuocDuyet != "CD")
                {
                <button class="btn btn-info" type="button" onclick="chonNguoiDuyet2();">Duyệt phiếu </button>
                <button class="btn btn-info" type="button" onclick="KhongDuyet();">Không duyệt</button>
                <button class="btn btn-info" type="button" onclick="TraLai();">Trả lại</button>
                }
                else if (Model.Duyet != null && (Model.Duyet.maBuocDuyet == "CDL2" || Model.Duyet.maBuocDuyet == "CD") && (Model.Duyet.nguoiDuyet.maNhanVien == null ? string.Empty : Model.Duyet.nguoiDuyet.maNhanVien.Trim()) == user1.manv && Model.Duyet.maBuocDuyet != "DTN")
                {
                <button class="btn btn-info" type="button" onclick="DuyetPhieu();">Duyệt</button>
                <button class="btn btn-info" type="button" onclick="KhongDuyet();">Không duyệt</button>
                <button class="btn btn-info" type="button" onclick="TraLai();">Trả lại</button>
                }
                else if (Model.Duyet != null && (nhanVienNS != null && nhanVienNS.Contains(user1.manv)) && Model.Duyet.maBuocDuyet == "CTN" && Model.Duyet.maBuocDuyet != "DTN")//Tất cả nhân viên ở phòng nhân sự đều được duyệt ở đấy
                {
                <button class="btn btn-info" type="button" onclick="DuyetPhieu();">Duyệt</button>
                <button class="btn btn-info" type="button" onclick="KhongDuyet();">Không duyệt</button>
                <button class="btn btn-info" type="button" onclick="TraLai();">Trả lại</button>
                }
            }*@

            @if ((Model.Duyet == null || Model.Duyet.tinhTrang == 0) && Model.maNhanVienLapPhieu == user1.manv)
            {                         
                <button class="btn btn-info" type="button" id="btnGuiDuyet">Gửi duyệt </button>
            }
            else if (Model.Duyet != null && (Model.Duyet.maBuocDuyet != "DTN" && Model.Duyet.maBuocDuyet != "DD") && Model.Duyet.nguoiDuyet.maNhanVien == user1.manv)
            {                         
                <button class="btn btn-info" type="button" id="btnDuyetPhieu">Duyệt phiếu này</button>
                <button class="btn btn-info" type="button" id="btnTraLai">Trả lại</button>
            }
@* else if (Model.Duyet != null && (Model.Duyet.maBuocDuyet == "DTN" || Model.Duyet.maBuocDuyet == "DD"))
            {
                <button class="btn btn-primary dropdown-toggle" type="button" onclick="printPreview()" data-toggle="modal" data-target="#printModal">Xem bản in </button>
            }*@
            <button class="btn btn-primary dropdown-toggle" type="button" onclick="printPreview()" data-toggle="modal" data-target="#printModal">Xem bản in </button>
            <button class="btn btn-info" type="button" id="btnTroVe">Trở về </button>
        </div>
    </fieldset>

</div>

<div class="modal fade" id="printModal" role="dialog">
    @Html.HiddenFor(model => model.maPhieu)
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <div class="container" style="width: 98%">
                    <div class="row">
                        <div id="print-panel" class="filter-panel">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer leftCop">
                <div style="float: right">
                    <button type="button" class="btn btn-info btnPrint" onclick="printTV()">In</button>
                    <ul style="display: inline">
                        <li>
                            <button type="button" class="btn btn-info btnInFileWorld" onclick="InFileWorld(this)">Xuất file world</button>
                        </li>
                    </ul>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>
</div>

