@using BatDongSan.Models.NhanSu;
@model TiLeThanhTich
@{
    ViewBag.Title = "Lập phiếu tỉ lệ thành tích";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<BatDongSan.Models.NhanSu.NhanVienModel> nhanVienThuocNhoms = ViewBag.ChiTietNhanVien;
    int i = 1;
}
<link rel="stylesheet" href="~/Content/summernote/summernote.css" />
<script src="~/Content/summernote/summernote.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/additional-methods.min.js"></script>
<script src="~/Scripts/autoNumeric.js"></script>
<script src="~/Scripts/batdongsan.validate.js"></script>
<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/vi.js"></script>
<script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
<link rel="stylesheet" href="~/Content/bootstrap-datetimepicker.min.css" />
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<script>
    $(document).ready(function () {
        $(".numberinput").autoNumeric('init', { mDec: 0, mNum: 3, lZero: 'deny', aSep: ',', aDec: '.', pSign: 's', vMin: '0' });
        $(".numberinputInt").autoNumeric('init', { lZero: 'deny', mDec: 0, pSign: 's', aSep: ',', aDec: '.' });
        $("#btnTroVe").click(function () {
            var url = "@Url.Action("Index")";
            location.href = url;
        });
        $('#editor').summernote({
            height: 150,                 // set editor height
            minHeight: null,             // set minimum height of editor
            maxHeight: null             // set maximum height of editor
            //focus: true                  // set focus to editable area after initializing summernote
        });
        $(".timepicker").datetimepicker({
            locale: 'vi',
            format: 'HH:mm'
        });

        $(".datepicker").datetimepicker({
            locale: 'vi',
            format: 'DD/MM/YYYY',
            useCurrent: false
        });
        $("#btnSubmit").click(function () {
            if (CheckForm()) {
                var noiDung = $(".note-editable").html();

                $("#noiDung").val(noiDung);
                $("#form-submit").submit();
            }
        });

        $("#maLoaiTangCa").change(function () {
            $.post('@Url.Action("HeSoTangCa", "TiLeThanhTich")', { maLoaiTangCa: $("#maLoaiTangCa").val() }, function (data) {
                $("#heSoTangCa").val(data);
            });
        });


   @*     $("#ChoosePB").click(function () {
            $('#myModalChonPhongBan').modal();
            var Url = '@Url.Action("ChonPhongBan", "PhieuCongTac")';
            $('#filter-panel').load(Url);
        });*@

        $(document).on("dp.change", "#ngayTangCa", function (e) {
            var date = new Date();
            var expire = moment().subtract(0, "day");
            $(this).data("DateTimePicker").minDate(expire, function () {
                return;
            });
            var ngayBD = $('#ngayLap').val();
            var ngayKT = $('#ngayTangCa').val();
            var d1 = Date.parse(convertDate(ngayBD));
            var d2 = Date.parse(convertDate(ngayKT));
            if (d2 < d1) {
                Alert.error("Ngày tăng ca > ngày lập. Vui lòng nhập lại.", "Thông báo", { displayDuration: 3000 });
                $("#ngayTangCa").val("");
            }
        });

        $('#btnNhanVien').click(function () {
            @*  var maPhongBan = $("#maPhongBan").val();
            var searchString = $("#searchString").val().replace(/ /gi, '+');
            var url = '@Url.Action("GetMoreUsers", "TiLeThanhTich")' + "?maPB=" + maPhongBan + "&searchString=" + searchString;
            beginPaging();
            $('#filter-panel .panel-default').load(url, function () {
                successPaging();
            });*@

            // $('#myModalChonPhongBan').modal();
            @*  var Url = '@Url.Action("ChonNhanVien", "TiLeThanhTich")';
            $('#filter-panelNV').load(Url);*@

            var url = '@Url.Action("DanhSachNhanVien", "TiLeThanhTich")';
            showPopup(url, 980, 550);
        });

        $('#btnSearch').click(function () {
            var maPhongBan = $("#maPhongBan").val();
            var searchString = $("#searchString").val().replace(/ /gi, '+');
            var url = '@Url.Action("GetMoreUsers", "TiLeThanhTich")' + "?maPB=" + maPhongBan + "&searchString=" + searchString;
            beginPaging();
            $('#filter-panel .panel-default').load(url, function () {
                successPaging();
            });
        });

        $(document).on("click", ".clsXoa", function () {

            $(this).closest("tr").remove();
        });
        // Check Quy, Nam
        $("#quy,#nam").change(function () {

            $.ajax({
                type: "POST",
                url: "/TiLeThanhTich/CheckQuyNam",
                data: {
                    Quy: $("#quy").val(),
                    Nam: $("#nam").val()

                },
                error: function () {
                    alert("Error");
                    return false;
                },
                success: function (result) {
                    if (result == 1) {
                        $("#quy,#nam").addClass("error");
                        $(".showQuyNam").html('Tháng: ' + $("#quy").val() + ' Năm:' + $("#nam").val() + ' đã được tạo.').show();
                        $("#btnSubmit").hide();

                    }
                    else {
                        $("#quy,#nam").removeClass("error");
                        $(".showQuyNam").html('').hide();
                        $("#btnSubmit").show();

                    }


                }
            });
        });
        
        $(document).on("change", ".valTyLe,.valKhoanBSLuongBD", function () {
            var idNhanVien = $(this).closest("tr").attr("id");
            var idNV = "#" + idNhanVien;
            var luongTT = parseFloat($(idNV + " .valThanhTichBD").val());
            var luongSauKhiTyLe = ((luongTT * parseFloat($(idNV + " .valTyLe").val())) / 100);
            $(idNV + " .lbThanhTich").autoNumeric("set", luongSauKhiTyLe);
            $(idNV + " .valThanhTich").val(luongSauKhiTyLe);
            // Bo sung luong
            var luongBoSung = $(idNV + " .valKhoanBSLuongBD").autoNumeric("get");
            if (luongBoSung == "") { luongBoSung = 0; $(idNV + " .valKhoanBSLuongBD").autoNumeric("set",0); }
            $(idNV + " .valKhoanBSLuong").val(luongBoSung);
            var tongThanhTichVaBoSung = parseFloat(luongSauKhiTyLe) + parseFloat(luongBoSung);
            // End bo sung luong
            $.ajax({
                type: "POST",
                url: "/TiLeThanhTich/Thue",
                data: {
                    ThanhTich: tongThanhTichVaBoSung

                },
                error: function () {
                    alert("Error");
                    return false;
                },
                success: function (result) {
                    var TienThue = parseFloat(result).toFixed(2);
                    $(idNV + " .lbThue").autoNumeric("set", TienThue);
                    $(idNV + " .valThue").val(TienThue);
                    $(idNV + " .labThucNhan").autoNumeric("set", tongThanhTichVaBoSung - TienThue);

                    $(idNV + " .valThucNhan").val(tongThanhTichVaBoSung - TienThue);

                }
            });


        });

        // End check nam

    });

    function beginPaging(args) {
        // Animate         
        $('#content').fadeOut('fast');
    }

    function successPaging() {
        // Animate        
        $('#content').fadeIn('fast');
    }














    function CheckForm() {
        var flag = true;

        //if ($("#lyDo").val() == "") {
        //    $("#lyDo").addClass("error").attr("title", "Vui lòng nhập lý do.");
        //    flag = false;

        //}


        if ($("#tbodyNV tr").length == 0) {
            Alert.error("Bạn phải nhập ít nhất 1 nhân viên.", "Thông báo", { displayDuration: 3000 });
            flag = false;
        }
        if ($("#quy").val() == 0) {
            Alert.error("Bạn phải chọn Tháng.", "Thông báo", { displayDuration: 3000 });
            flag = false;
        }
        if ($("#nam").val() == 0) {
            Alert.error("Bạn phải chọn Năm.", "Thông báo", { displayDuration: 3000 });
            flag = false;
        }
        return flag;
    }

    function enterToSeacrh(event) {
        if (event.keyCode == 13)
            $("#btnSearch").click();
    }

</script>
<style>
    #tbl-create td
    {
        border: none;
    }

    #tbody tr td:nth-child(5)
    {
        text-align: center;
    }
</style>
<form id="form-submit" class="form-horizontal" method="post">
    <div id="container" class="custome_fieldSet">
        <fieldset class="removeBorderFieldset">
            <div id="tabs" style="width: 30%; height: auto; border: none; float: left; box-sizing: border-box; overflow: hidden; clear: none;" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
                <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
                    <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active ">
                        <a><span><i class="fa fa-plus-square-o" aria-hidden="true"></i>Thêm mới tỉ lệ thành tích</span></a></li>
                </ul>
            </div>
            <table class="table table-striped table-hover table-condensed" id="tbl-create" style="position: relative">
                <tr>
                    <td style="width: 15%" class="tdtitle">Mã nhân viên</td>
                    <td style="width: 35%">@Html.TextBoxFor(model => model.NhanVien.maNhanVien, new { @class = "form-control", @readonly = true })</td>
                    <td style="width: 15%" class="tdtitle">Tên nhân viên </td>
                    <td style="width: 35%">@Html.TextBoxFor(model => model.NhanVien.hoVaTen, new { @class = "form-control", @readonly = true })</td>
                </tr>
                <tr>
                    <td class="tdtitle">Số phiếu</td>
                    <td>@Html.TextBoxFor(model => model.maPhieu, new { @class = "form-control", @readonly = true })</td>
                    <td class="tdtitle">Phòng ban</td>
                    <td>@Html.TextBoxFor(model => model.tenPhongBan, new { @class = "form-control", @readonly = true, @Style = "width:100%;  margin-right: 5px;   float: left;" })
                        @Html.HiddenFor(model => model.maPhongBan)
                    </td>
                    @*<td>Loại công tác</td>
                    <td>
                        @Html.RadioButtonFor(model => model.loaiCongTac, false, new { @id = "rad-1", @style = "width:auto",@checked=true }) Trong nước @Html.RadioButtonFor(model => model.loaiCongTac, true, new { @id = "rad-2", style = "width:auto" }) Nước ngoài

                    </td>*@
                </tr>
                <tr>
                    <td class="tdtitle">Áp dụng từ</td>
                    <td colspan="3">
                        <span style="float: left">Tháng:@Html.DropDownList("quy", ViewData["Quys"] as SelectList, new { @style = "width:150px" })
                            Năm:@Html.DropDownList("nam", ViewData["Nams"] as SelectList, new { @style = "width:150px" })
                        </span>
                        <span style="float: left; color: red; background: yellow; margin-left: 50px; padding: 2px; display: none" class="showQuyNam"></span>
                    </td>
                </tr>


                <tr>
                    <td class="tdtitle">Nội dung</td>
                    <td colspan="3">
                        <div id="editor"></div>
                        @Html.HiddenFor(model => model.noiDung, new { @class = "form-control" })
                    </td>

                </tr>
            </table>
            <br />
            <label>
                @*<button class="btn btn-link btn-sm" id="btnNhanVien" type="button" data-toggle="modal" data-target="#myModal">Thêm nhân viên</button>*@
                <button class="btn btn-link btn-sm" id="btnNhanVien" type="button">Thêm nhân viên</button>
            </label>
            <div id="containerNhanVien">
                <table class="table table-striped table-hover table-condensed" id="tbl-users">
                    <thead>
                        <tr id="trtop">
                            <th>STT</th>
                            <th  style="width: 100px">Mã nhân viên</th>
                            <th style="width: 200px">Họ và tên</th>
                            <th>Phòng ban</th>
                            <th style="width: 80px; text-align: center">Tỷ lệ</th>

                            <th style="width: 150px">Lương thành tích</th>
                             <th style="width: 150px">Khoản bổ sung lương</th>
                            <th style="width: 150px">Thuế</th>
                            <th style="width: 150px">Thực lãnh</th>
                           
                            <th style="width: 40px"></th>
                        </tr>
                    </thead>
                    <tbody id="tbodyNV">
                    </tbody>
                </table>
            </div>
            <br />
            <div style="text-align: right; margin-bottom: 10px">
                <label class="checkbox-inline">@Html.CheckBoxFor(model => model.xacNhan, new { style = "width:auto" })Hoàn tất?</label>
                <button class="btn btn-info" id="btnSubmit" type="button">Lưu </button>
                <button class="btn btn-info" type="button" id="btnTroVe">Trở về </button>
            </div>
        </fieldset>

    </div>
</form>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width: 900px">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <div class="container" style="width: 98%">
                    <div class="row">
                        <div style="position: relative">
                            <input type="text" id="searchString" class="form-control" style="padding-right: 30px; border-radius: 50px" placeholder="Search" onkeyup="enterToSeacrh(event)">
                            <i class="fa fa-search" id="btnSearch" style="position: absolute; cursor: pointer; top: 6px; right: 7px;"></i>
                        </div>
                        <div id="filter-panel" class="filter-panel" style="padding-top: 10px;">
                            <div class="panel panel-default" style="border: none">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-sm" id="btnAccept">
                    <span class="glyphicon glyphicon-ok"></span>&nbsp;Đồng ý
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal" id="btnClose">Hủy</button>
            </div>
        </div>
    </div>
</div>


<div id="myModalChonPhongBan" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div class="container" style="width: 98%">
                    <div class="row">
                        <div id="filter-panelNV" class="filter-panel">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>

    </div>
</div>


<script type="text/javascript" src="~/Scripts/JQuery/calendar/include/ui-1.10.0/jquery-1.9.0.min.js"></script>
<link rel="stylesheet" href="~/Scripts/JQuery/calendar/include/ui-1.10.0/ui-lightness/jquery-ui-1.10.0.custom.min.css" />
<link rel="stylesheet" href="~/Scripts/JQuery/calendar/include/jquery.ui.timepicker.css" />

<script type="text/javascript" src="~/Scripts/JQuery/calendar/include/ui-1.10.0/jquery.ui.core.min.js"></script>
<script type="text/javascript" src="~/Scripts/JQuery/calendar/include/jquery.ui.timepicker.js"></script>
<script type="text/javascript" src="~/Scripts/JQuery/select2.full.js"></script>
<link rel="stylesheet" href="~/Content/css/select2.min.css" />

<script type="text/javascript">        jQuery.noConflict(); </script>


<script>
    jQuery(document).ready(function ($) {
        $('#gioBatDau').timepicker({
            showAnim: 'blind'
        });

        $('#gioKetThuc').timepicker({
            showAnim: 'blind'
        });

        $('#thoiGianNghiGiuaCa').timepicker({
            showAnim: 'blind'
        });

        $('#thoiGianNghiKetThucGiuaCa').timepicker({
            showAnim: 'blind'
        });

        $("#gioKetThuc").change(function () {
            checkEndTime();
        });

        $("#gioBatDau").change(function () {
            checkEndTime();
        });

        $("#thoiGianNghiGiuaCa").change(function () {
            CheckThoiGianBatDauNghiGiuaCa();
            if ($("#thoiGianNghiKetThucGiuaCa").val() != "") {
                GenerateThoiGianNghiGiuaCa();
            }

        });

        $("#thoiGianNghiKetThucGiuaCa").change(function () {
            CheckThoiGianBatDauNghiGiuaCa();
            if ($("#thoiGianNghiKetThucGiuaCa").val() != "") {
                GenerateThoiGianNghiGiuaCa();
            }

        });
    });

</script>


