@using BatDongSan.Models.NhanSu
@{
    ViewBag.Title = "Index";
    Layout = null;
    Layout = "~/Views/Shared/_Popup.cshtml";
   
}
<script type="text/javascript" src="~/Scripts/Jquery.treeview/jquery.treeview.js"></script>
<link rel="stylesheet" href="~/Scripts/Jquery.treeview/jquery.treeview.css" />

<script src="/Scripts/autoNumeric.js"></script>

<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<script type="text/javascript">
    var obj = window.opener;
    $().ready(function () {


        $('#checkAll').click(function (e) {
            $('[name="chk"]').prop('checked', this.checked);
        });

        $('[name="chk"]').click(function (e) {
            if ($('[name="chk"]:checked').length == $('[name="chk"]').length || !this.checked)
                $('#checkAll').prop('checked', this.checked);
        });
        $("#navigation1").treeview({
            persist: "location",
            collapsed: false,
            unique: false
        });
        var parentId = "";
        //khi click vào công viêc tren tree
        $("#navigation1 a").click(function () {
            $.each($("#navigation1 a"), function () {
                $(this).css("color", "");
            });
            $(this).css("color", "red");
            parentId = $(this).attr("alt");

            // Get phòng ban
            var giatri = $(this).attr("alt").replace(/ /gi, '+');
            var qsearch = $("#searchText").val().replace(/ /gi, '+');

            var url = '@Url.Action("LoadNhanVien", "PhieuTangCa")' + "?parrentId=" + giatri.trim() + "&_page=1" + '&qSearch=' + qsearch;
            var imageUrl = '<div id="divMsg" align="center"><img src="@Url.Content("~/Content/Images/loading.gif") "/></div>';
            $('#tbody').html(imageUrl);
            $('#tbody').load(url, function () {
            });
        });
        $('#btnSearch').click(function () {
            Search();
        });

        $("#searchText").keyup(function (e) {
            if (event.keyCode == 13) {
                Search();
            }
        });
    });

    function OnCriteriaPC(page) {
        var giatri = $("#parrentId").val().replace(/ /gi, '+');
        var qsearch = $("#searchText").val().replace(/ /gi, '+');
        var url = '@Url.Action("LoadNhanVien", "PhieuTangCa")' + "?parrentId=" + giatri.trim() + "&_page=" + page + '&qSearch=' + qsearch;
        var imageUrl = '<div id="divMsg" align="center"><img src="@Url.Content("~/Content/Images/loading.gif") "/></div>';
        $('#tbody').html(imageUrl);
        $('#tbody').load(url, function () {
        });
    }

    function Search() {
        var giatri = $("#parrentId").val().replace(/ /gi, '+');
        var qsearch = $("#searchText").val().replace(/ /gi, '+');
        var url = '@Url.Action("LoadNhanVien", "PhieuTangCa")' + "?parrentId=" + giatri.trim() + "&_page=1" + '&qSearch=' + qsearch;
        var imageUrl = '<div id="divMsg" align="center"><img src="@Url.Content("~/Content/Images/loading.gif") "/></div>';
        $('#tbody').html(imageUrl);
        $('#tbody').load(url, function () {
        });
    }
    function ChonNV() {
        var available = [];
        jQuery("#tbl_NhanVienTLTT [name=chk]:checked").each(function (index, element) {
            var kqCheck = checkNhanVien(this.value);
            if (kqCheck == true) {
                available.push(this.value);
            }
        });
        var STTTemp = obj.$(".rowHienTaiNV").length + 1;
        if (available.length > 0) {
            $.ajax({
                url: "@Url.Action("updateListTiLeTT", "TiLeThanhTich")",
                type: "POST",
                dataType: "html",
                data: $.param({ maNV: available, STTTemp: STTTemp }, true),
                success: function (data) {

                    obj.$("#tbodyNV").append(data);
                },

                error: function () {
                    Alert.error("Nhân viên này đã được thêm!", "Thông báo", { displayDuration: 2000 });
                },
                complete: function () {
                }
            });
        }
        else {
            Alert.error("Vui lòng chọn nhân viên!", "Thông báo", { displayDuration: 2000 });
        }
                
            
         
        
        
    }

    function checkNhanVien(idNhanVien) {
        for (var i = 0; i < obj.$("[name='ValmaNhanVien']").length; i++) {
            if (obj.$("[name='ValmaNhanVien']:eq(" + i + ")").val() == idNhanVien) {
                return false;
            }
        }
        return true;
    }
    
    function ValidateKeypress(numcheck, e) {
        var keynum, keychar, numcheck;
        if (window.event) {//IE
            keynum = e.keyCode;
        }
        else if (e.which) {// Netscape/Firefox/Opera
            keynum = e.which;
        }
        if (keynum == 8 || keynum == 127 || keynum == null || keynum == 9 || keynum == 0 || keynum == 13) return true;
        keychar = String.fromCharCode(keynum);
        var result = numcheck.test(keychar);
        return result;
    }

</script>

<style>
    .pageActive, .pageCurrent:hover, .pageNext:hover, .pageLast:hover, .pageFirst:hover, .pagePrevious:hover
    {
        padding: 7px 11px;
        background-color: #4D8AFF;
        color: #FFFFFF;
        display: inline-block;
        border: 1px solid #80ABFF;
        border-radius: 20px;
        text-decoration: none;
        font-weight: bold;
    }

    .pageCurrent, .pageNext, .pageLast, .pageFirst, .pagePrevious
    {
        padding: 7px 11px;
        background-color: #fff;
        display: inline-block;
        border: 1px solid #80ABFF;
        border-radius: 20px;
        font-weight: bold;
    }

    #Avatar
    {
        width: 100%;
        height: auto;
        max-width: 50px;
        object-fit: cover;
    }

    #imgInp
    {
        opacity: 0;
        height: 100%;
        width: 100%;
        bottom: 0;
        cursor: pointer;
        position: absolute;
        margin: 0;
        padding: 0;
        right: 0;
    }
</style>
<div id="container">



    <table width="100%" cellpadding="2" border="0" cellspacing="0">
        <tr>
            <td style="width: 30%" valign="top">
                <fieldset class="removeBorderFieldset">

                    <div id="tabs" style="" class="ui-tabs">
                        <ul class="ui-tabs-nav">
                            <li class="ui-tabs-selected ui-state-active"><a><span>Danh mục bộ phận</span></a></li>
                        </ul>
                    </div>
                    <div style="height: 90%; max-height: 400px; overflow: auto; margin-left: 30px" id="divTreeCongViec">@Html.Raw(ViewBag.departments)</div>
                </fieldset>
            </td>
            <td valign="top" style="width: 70%">
                <fieldset class="removeBorderFieldset">
                    <div id="tabs" style="" class="ui-tabs">
                        <ul class="ui-tabs-nav">
                            <li class="ui-tabs-selected ui-state-active"><a><span>Danh sách nhân viên</span></a></li>
                        </ul>
                    </div>

                    <div style="padding: 5px; overflow: hidden; background: #ddd;">




                        <div class="input-group" style="max-width: 350px; float: left;">

                            <input type="text" id="searchText" placeholder="Nhập mã hoặc tên" name="searchText" value="@ViewBag.qSearch" class="form-control"/>
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" id="btnSearch">Tìm kiếm</button>

                            </span>
                        </div>
                        <!-- /input-group -->
                        @*<input type="button"  class="btn btn-default btnChon" value="Chọn" onclick="ChonNhanViens()" style="float:right"/>*@
                        <input type="button" class="btn btn-default btnChon" value="Chọn" onclick="ChonNV()" style="float: right" />
                    </div>
                    <table  width="100%" class="tbl colorize table table-striped table-hover table-condensed" id="tbl_NhanVienTLTT">
                        <thead>
                            <tr class="background_tr">
                                <th style="width: 30px;">STT
                                </th>
                                <th style="width: 100px;">Hình ảnh
                                </th>
                                <th style="width: 250px;">Nhân viên
                                </th>
                                <th style="width: 250px;">Phòng ban
                                </th>
                                <th style="width: 250px;">Chức danh
                                </th>
                                <th style="width: 30px;">
                                    <input type="checkbox" id="checkAll" name="checkAll" title="Click chọn tất cả." onclick="checkAllTbl('gridSource', 'checkAll')" />
                                </th>
                            </tr>
                        </thead>
                        <tbody id="tbody">@{Html.RenderPartial("LoadNhanVien");}</tbody>
                    </table>
                </fieldset>
            </td>
        </tr>
    </table>

</div>
