@using BatDongSan.Models.PhieuDeNghi;
@model IPagedList<sp_NS_PhieuDangKyTangCa_IndexResult>
@{
    int i = 1;
    bool quyenDuyet = (bool)ViewBag.QuyenDuyet;
}
<script>
    function beginPaging(args) {
        // Animate        
        $('#content').fadeOut('fast');
    }

    function successPaging() {
        // Animate
        $('#content').fadeIn('normal');
    }

    function failurePaging() {
        alert("Không thể tải dữ liệu");
    }

</script>

@{
    BatDongSan.Models.HeThong.Sys_User user1 = new BatDongSan.Models.HeThong.Sys_User();
    if (Session["User"] != null)
    {
        user1 = (BatDongSan.Models.HeThong.Sys_User)Session["User"];
    }
}
<table class="table table-striped table-hover table-condensed" id="maintable">
    <thead>
        <tr>
            <th style="width: 45px">STT</th>
            <th style="width: 125px">Số phiếu</th>
            <th style="width: 120px">Nhân viên</th>
            <th style="width: 135px">Phòng ban</th>
            <th>Ngày tăng ca</th>
            <th>Nội dung</th>
            <th style="width: 100px">Giờ</th>
            <th style="width: 50px">Hệ số</th>
            <th style="width: 80px">Trạng thái</th>
            <th style="width: 100px"></th>
        </tr>
    </thead>
    <tbody id="load">

        @foreach (var item in Model)
        {

            var clsNV = item.soPhieu + "_" + item.maNhanVienTC + "_cls";
            <tr>
                <td style="text-align: center">@i</td>
                <td><i class="fa fa-clipboard"></i><a style="color:blue" href="@Url.Action("Details", "PhieuTangCa", new { id = item.soPhieu })">@item.soPhieu</a>
                    <br />
                    <i class="fa fa-calendar" aria-hidden="true"></i>@String.Format("{0: dd/MM/yyyy}", item.ngaylap)
                </td>
                <td><i class="fa fa-user"></i>@item.hoTen
                    <br />
                    <i class="fa fa-credit-card" aria-hidden="true"></i>@item.maNhanVienTC
                </td>
                <td>@item.tenPhongBan
                    <br />
                    <i class="fa fa-ticket" aria-hidden="true"></i>@item.TenChucDanh
                </td>

                <td style="text-align: right">@String.Format("{0: dd/MM/yyyy}", item.ngayTangCa)</td>
                <td>
                    <div style="max-width: 350px; clear: both; float: none; text-align: left" class="responTangCa ResponTal">
                        @Html.Raw(item.noiDungTangCa)
                    </div>
                    @*    <br />
                    <i class="fa fa-clock-o" aria-hidden="true"></i>@item.soGioTangCa*@
                </td>
                <td>
                    <i class="fa fa-calendar-o" aria-hidden="true"></i>Fr: @String.Format("{0:HH\\:mm}", @item.gioBatDau)
                    <br />
                    <i class="fa fa-calendar" aria-hidden="true"></i>To: @String.Format("{0:HH\\:mm}", @item.gioKetThuc)
                    <br />
                    <i class="fa fa-clock-o" aria-hidden="true"></i>SG: @item.soGioTangCa
                </td>
                <td style="text-align: right">
                    @item.heSoTangCa
                    <br />
                </td>
                <td style="text-align: center">
                    <a href="javascript:void(0);" onclick="ViewDetailHistory('@item.soPhieu','@item.maQuiTrinhDuyet')">
                        @item.tenTrangThaiDuyet</a>
                </td>
                <td style="text-align: center">
                   @if ((item.trangThai == 0 && item.nguoiLap == user1.manv) || ((string)ViewBag.Administrator == "true"))
                    {   <a href="@Url.Action("Edit", "PhieuTangCa", new { id = item.soPhieu })" title ="Sửa phiếu"><i class="fa fa-pencil-square-o" style="font-size: 30px; color: orange;" aria-hidden="true"> | </i></a>                         
                        <a class="btnDelete" alt="@item.soPhieu" title ="Xoá phiếu"><i class="fa fa-trash" style="font-size: 30px; color: red; cursor: pointer;" aria-hidden="true"></i></a>
                      
                    }
                </td>
            </tr>
            <tr class="clrBeforeMobile">
                <td></td>
                <td colspan="9" class="@clsNV">
                    <div class="chiTietTangCaTrongNgay" attrMaNV="@item.maNhanVienTC" attrMaPhieu="@item.soPhieu">
                        <span class="xemTC"><i class="fa fa-sort-desc"></i>Xem phiếu tăng ca khác trong ngày @String.Format("{0: dd/MM/yyyy}", item.ngayTangCa)</span>
                        <span class="hideTC"><i class="fa fa-sort-asc"></i>Ẩn</span>
                    </div>
                    <div class="showTangCa" style="display: none"></div>

                </td>
            </tr>
            
                    i++;
        }
    </tbody>
</table>
<div>
    Trang @Model.PageNumber của @Model.PageCount / @ViewBag.Count
</div>
<div>
    <ul class="pagination">
        @Html.Raw(Ajax.Pager(new AjaxOptions { UpdateTargetId = "content", OnBegin = "beginPaging", OnSuccess = "successPaging", OnFailure = "failurePaging" }, Model.PageSize, Model.PageNumber, Model.TotalItemCount, new { controller = "PhieuTangCa", action = "ViewIndex", qSearch = ViewBag.Search, tuNgay = ViewBag.tuNgay, denNgay = ViewBag.denNgay, trangThai = ViewBag.trangThai }))
    </ul>
</div>
