@using BatDongSan.Models.NhanSu;
@model IPagedList<sp_NS_PhieuTamUng_IndexResult>
@{
    int i = 1;
}
<script>
    function beginPaging(args) {
        // Animate        
        $('#content').fadeOut('fast');
    }

    function successPaging() {
        // Animate
        $('#content').fadeIn('normal');
    }

    function failurePaging() {
        alert("Không thể tải dữ liệu");
    }

</script>

@{
    BatDongSan.Models.HeThong.Sys_User user1 = new BatDongSan.Models.HeThong.Sys_User();
    if (Session["User"] != null)
    {
        user1 = (BatDongSan.Models.HeThong.Sys_User)Session["User"];
    }
}
<table class="table table-striped table-hover table-condensed" id="maintable">
    <thead>
        <tr>
            <th style="width: 35px">STT</th>
            <th style="width: 120px">Số phiếu</th>
            <th style="width: 110px">Nhân viên</th>
            <th style="width: 135px">Phòng ban</th>
            <th style="width: 50px">Tháng</th>
            <th style="width: 50px">Năm</th>
            <th style="width: 80px">Số tiền TU</th>
            <th style="width: 180px">Lý do</th>
            <th style="width: 80px">Trạng thái</th>
            <th style="width: 80px"></th>
        </tr>
    </thead>
    <tbody id="load">


        @foreach (var item in Model)
        {
            <tr>
                <td style="text-align: center">@i</td>
                <td>
                    <i class="fa fa-clipboard"></i><a style="color:blue" href="@Url.Action("Details", "PhieuTamUng", new { id = item.soPhieu })">@item.soPhieu</a>
                    <br />
                    <i class="fa fa-user"></i>@item.nguoiLap
                    <br />
                    <i class="fa fa-calendar" aria-hidden="true"></i>@String.Format("{0: dd/MM/yyyy}", item.ngayLap)
                </td>
                <td>
                    <i class="fa fa-user"></i>@item.hoTenNhanVien
                </td>
                <td>@item.tenPhongBan
                    <br />
                    <i class="fa fa-ticket" aria-hidden="true"></i>@item.TenChucDanh
                </td>
                <td style="text-align: center">@item.tamUngThang</td>
                <td style="text-align: center">@item.tamUngNam</td>
                <td style="text-align:right">
                    @String.Format("{0:#,##0}",item.soTien)                    
                </td>
                <td>@Html.Raw(item.ghiChu)</td>
                <td style="text-align: center">
                    <a href="javascript:void(0);" onclick="ViewDetailHistory('@item.soPhieu','@item.maQuiTrinhDuyet')">
                        @item.tenTrangThaiDuyet</a>
                </td>
                <td style="text-align: center">
                    @if (item.trangThai == 0 && item.maNVL == user1.manv)
                    {
                        <a href="@Url.Action("Edit", "PhieuTamUng", new { id = item.soPhieu })" title ="Sửa phiếu"><i class="fa fa-pencil-square-o" style="font-size: 30px; color: orange;" aria-hidden="true">| </i></a>
                        <a class="btnDelete" alt="@item.soPhieu" title ="Xoá phiếu"><i class="fa fa-trash" style="font-size: 30px; color: red; cursor: pointer;" aria-hidden="true"></i></a>
                    }
                </td>
            </tr> 
                    i++;
        }
    </tbody>
</table>
<div>
    Trang @Model.PageNumber của @Model.PageCount / @ViewBag.Count
</div>
<div>
    <ul class="pagination">
        @Html.Raw(Ajax.Pager(new AjaxOptions { UpdateTargetId = "content", OnBegin = "beginPaging", OnSuccess = "successPaging", OnFailure = "failurePaging" }, Model.PageSize, Model.PageNumber, Model.TotalItemCount, new { controller = "PhieuTamUng", action = "ViewIndex", qSearch = ViewBag.Search, thang = ViewBag.thang, nam = ViewBag.nam, trangThai = ViewBag.trangThai }))
    </ul>
</div>
