@using BatDongSan.Models.NhanSu
@{
    ViewBag.Title = "Index";
    Layout = null;
 
   
}
@{
                                
    int stt = 1;
    int page_ = Convert.ToInt32(ViewBag.page);
    int total_ = Convert.ToInt32(ViewBag.total);

    var ls = ViewData["lsDanhSach"] as List<sp_NS_BangChamCongChiTietResult>;

    foreach (var item in ls.ToList())
    {


      
    <tr>
        <td align="center">
            @(stt++)
        </td>
        <td><a style="color:#519ee5" href="@Url.Action("Details", "NhanVien", new { id = item.maNhanVien })">@item.maNhanVien</a>
            <br /><i class="fa fa-user" aria-hidden="true"></i>@item.hoTen</td>
        <td><i class="fa fa-barcode" aria-hidden="true"></i>&nbsp;@item.maVanTay</td>
     
        <td style="text-align: center">@String.Format("{0: dd/MM/yyyy}", item.ngayLam)</td>
        <td style="text-align:center"> @item.ngayLam.Value.DayOfWeek.ToString()</td>
         <td style="text-align: center">@item.quetVao.Value.ToString("HH:mm:ss")</td>
         <td style="text-align: center">@item.quetRa.Value.ToString("HH:mm:ss")</td>
        <td style="text-align: center">@item.loai</td>
        <td style="text-align: center">@item.soGioCong</td>





    </tr>
                           
    
    }
}

<tr>
    <td colspan="10" align="left">
        @{
                
            if (page_ > 1)
            {
        
            <a class="pageFirst" href="javascript:void(0)" onclick="javascript:OnCriteriaPC(1);">First</a> <a class="pagePrevious" href="javascript:void(0)" onclick="javascript:OnCriteriaPC(@(page_ - 1));">
                Previous</a>
       
            }


            if (page_ - 2 >= 1)
            { 
            <a class="pageCurrent" href="javascript:void(0)" onclick="javascript:OnCriteriaPC(@(page_ - 2));">
                @(page_ - 2) </a> <a class="pageCurrent" href="javascript:void(0)" onclick="javascript:OnCriteriaPC(@(page_ - 1));">
                    @(page_ - 1) </a>
            } <span class="pageActive">@page_</span>
            if (page_ + 2 <= total_)
            { 
            <a class="pageCurrent" href="javascript:void(0)" onclick="javascript:OnCriteriaPC(@(page_ + 1) );">
                @(page_ + 1) </a> <a class="pageCurrent" href="javascript:void(0)" onclick="javascript:OnCriteriaPC(@(page_ + 2));">
                    @(page_ + 2) </a>
            }

            if (page_ < total_)
            { 
        
            <a class="pageNext" href="javascript:void(0)" onclick="javascript:OnCriteriaPC(@(page_ + 1));">Next</a> <a class="pageLast" href="javascript:void(0)" onclick="javascript:OnCriteriaPC(@total_);">
                Last</a>
        
            }
        
            <span>Tổng số dòng :</span><strong>@ViewBag.totalRow</strong>
        }
    </td>
</tr>
