@using BatDongSan.Models.NhanSu
@{
    ViewBag.Title = "Index";
    Layout = null;
   
}
@{
                                
    int stt = 1;
    //int page_ = Convert.ToInt32(ViewBag.page);
    //int total_ = Convert.ToInt32(ViewBag.total);

    var ls = ViewData["lsDanhSach"] as List<BatDongSan.Models.QLSuatAn.LuuVet.sp_SA_PhanBoCuaHangCongChuan_IndexResult>;

    var groupCongChuans = ls.OrderByDescending(d => d.congChuan).Select(d => d.congChuan).Distinct();

    foreach (var group in groupCongChuans)
    {
        <tr>
            <td colspan="6" style="font-weight:bold; color:blue;">
                Công chuẩn : @group
            </td>
        </tr>
        
        foreach (var item in ls.Where(d=>d.congChuan == group).ToList())
        {


      
        <tr>
            <td align="center">
                @(stt++)
            </td>
            <td>@item.tenCuaHang
            <td style="text-align: right">@item.soSuatAnNhanVienNhapTrongNgay</td>
            <td style="text-align: right">@item.congChuan</td>
            <td style="text-align: right">@item.tyLePhanBo</td>
            <td style="text-align: right">@item.soLanAnPhanBo</td>

        </tr>
                           
    
        }
    }
    
    
}

@*<tr>
    <td colspan="5" align="left">
        @{
                
            if (page_ > 1)
            {
        
            <a class="pageFirst" href="javascript:void(0)" onclick="javascript:OnCriteriaPC(1);">First</a> <a class="pagePrevious" href="javascript:void(0)" onclick="javascript:OnCriteriaPC(@(page_ - 1));">
                Previous</a>
       
            }


            if (page_ - 2 >= 1)
            { 
            <a class="pageCurrent" href="javascript:void(0)" onclick="javascript:OnCriteriaPC(@(page_ - 2));">
                @(page_ - 2) </a> <a class="pageCurrent" href="javascript:void(0)" onclick="javascript:OnCriteriaPC(@(page_ - 1));">
                    @(page_ - 1) </a>
            } <span class="pageActive">@page_</span>
            if (page_ + 2 <= total_)
            { 
            <a class="pageCurrent" href="javascript:void(0)" onclick="javascript:OnCriteriaPC(@(page_ + 1) );">
                @(page_ + 1) </a> <a class="pageCurrent" href="javascript:void(0)" onclick="javascript:OnCriteriaPC(@(page_ + 2));">
                    @(page_ + 2) </a>
            }

            if (page_ < total_)
            { 
        
            <a class="pageNext" href="javascript:void(0)" onclick="javascript:OnCriteriaPC(@(page_ + 1));">Next</a> <a class="pageLast" href="javascript:void(0)" onclick="javascript:OnCriteriaPC(@total_);">
                Last</a>
        
            }
        
            <span>Tổng số dòng :</span><strong>@ViewBag.totalRow</strong>
        }
    </td>
</tr>*@
@Html.Hidden("isDuyetPhanBo",ViewData["isDuyetPhanBo"])

