@using BatDongSan.Models.NhanSu
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
  
   
}

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/additional-methods.min.js"></script>
<script src="~/Scripts/autoNumeric.js"></script>
<script src="~/Scripts/batdongsan.validate.js"></script>
<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/vi.js"></script>
<script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
<link rel="stylesheet" href="~/Content/bootstrap-datetimepicker.min.css" />
<script src="~/Scripts/batdongsan.utils.js"></script>
<link rel="stylesheet" href="~/Content/batdongsan-alert.css" />
<script type="text/javascript" src="~/Scripts/Jquery.treeview/jquery.treeview.js"></script>
<link rel="stylesheet" href="~/Scripts/Jquery.treeview/jquery.treeview.css" />
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<style>
    .pageActive, .pageCurrent:hover, .pageNext:hover, .pageLast:hover, .pageFirst:hover, .pagePrevious:hover
    {
        padding: 7px 11px;
        background-color: #4D8AFF;
        color: #FFFFFF;
        display: inline-block;
        border: 1px solid #80ABFF;
        border-radius: 20px;
        text-decoration: none;
        font-weight: bold;
    }

    .pageCurrent, .pageNext, .pageLast, .pageFirst, .pagePrevious
    {
        padding: 7px 11px;
        background-color: #fff;
        display: inline-block;
        border: 1px solid #80ABFF;
        border-radius: 20px;
        font-weight: bold;
    }

    #navigation1
    {
        overflow: auto;
        height: 600px;
    }
    .infor_capnhat,.infor_LuongNV,.infor_SendBLLuongNV,.infor_DuyetLuongNV
    {
            padding: 5px;
    background: rgb(226, 144, 72);
   
    border-radius: 3px;
    color: #fff;
    box-sizing: border-box;
    margin: 5px auto;
    line-height: 1.7;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {

        //setting phong ban//
        $("#navigation1").treeview({
            persist: "location",
            unique: false,
            collapsed: true
        }).find(".expandable-hitarea").click();


        $('ul.dropdown-menu .hitarea').on('click', function (event) {
            event.stopPropagation();
        });

        $('#qSearch').on("input", function () {

            $('#navigation1').filterLink($('#qSearch').val());
        });

        $("#phongban-dropdown-menu").removeAttr("style");

        $("#customModal").on("hide.bs.modal", function () {
            $("#custom-panel").html("");
        });


        $(document).on("click", "#phongban-dropdown-menu li a", function () {
          
            $("#btnPhongBan").val(this.id);
            $(this).parents(".dropdown").find('.btn').html($(this).text() + ' &nbsp;<span class="caret"></span>');
            $("#btnSearch").click();
        })
        //End
        
        $(".datepicker").datetimepicker({
            locale: 'vi',
            format: 'DD/MM/YYYY'
        });
        $("#btnSearch").click(function () {
            $(".infor_LuongNV,.infor_DuyetLuongNV").css('display', 'none');
            Search();
        });
        $("#thang,#nam").change(function () {
            $(".infor_LuongNV,.infor_DuyetLuongNV").css('display', 'none');
            Search();
        });



        Search();
        $(document).on('click', '#btnTinhluongNV', function () {
            var imageUrl = '<div id="divMsg" align="center"><img src="/Content/Images/loading.gif "/></div>';
            $('.infor_LuongNV').html(imageUrl).css('display', 'block');
            $.ajax({

                type: "POST",
                url: '/BangLuongThuongTetVip/UpdateLuongNV',
                data: {
                    'nam': $("#nam").val()
                 

                },
                success: function (result) {
                    $(".infor_LuongNV").css('display', 'block');

                    if (result.kq == true) {
                        $(".infor_LuongNV").html('Cập nhật thành công bảng lương thưởng tết nhân viên VIP năm: '+ $("#nam").val());
                    }
                    else {
                        $(".infor_LuongNV").html('Cập nhật thất bại bảng lương thưởng tết nhân viên VIP năm: ' + $("#nam").val());
                    }

                    Search();
                }
            });

        });
        $(document).on('click', '#btnXuatFileBLNV', function () {
            var giatri = $("#qSearch").val().trim();
            var url = '/BangLuongThuongTetVIP/XuatFileBLThuongTet' + "?nam=" + $("#nam").val() + "&maPhongBan=" + $("#btnPhongBan").val() + "&qSearch=" + giatri;
            window.location = url;

        });

        // Send mail nhân viên VIP
        $(document).on('click', '#btnSendMailNV', function () {
            bootbox.confirm("Gửi bảng lương đến nhân viên VIP?", function (result) {
                if (result) {

                    var imageUrl = '<div id="divMsg" align="center"><img src="/Content/Images/loading.gif "/></div>';
                    $('.infor_SendBLLuongNV').html(imageUrl).css('display', 'block');
                    $.ajax({

                        type: "POST",
                        url: '/BangLuongThuongTetVip/SendBangLuongNV',
                        data: {
                            'nam': $("#nam").val(),


                        },
                        success: function (result) {
                            $(".infor_SendBLLuongNV").css('display', 'block');

                            if (result.kq == true) {
                                $(".infor_SendBLLuongNV").html('Đã gửi mail nhân viên năm:' + $("#nam").val());
                            }
                            else {
                                $(".infor_SendBLLuongNV").html('Gửi mail nhân viên thất bại năm: ' + $("#nam").val());
                            }

                            Search();
                        }
                    });
                }
            });
        });
        // End send mail NV Vip
        $(document).on('click', '#btnDuyetBLThuongTet', function () {
            bootbox.confirm("Bạn có chắc chắn duyệt bảng lương thưởng tết VIP?", function (result) {
                if (result) {
                    var imageUrl = '<div id="divMsg" align="center"><img src="/Content/Images/loading.gif "/></div>';
                    $('.infor_DuyetLuongNV').html(imageUrl).css('display', 'block');
                    $.ajax({

                        type: "POST",
                        url: '/BangLuongThuongTetVip/DuyetLuongThuongTetVIP',
                        data: {
                            nam: $("#nam").val()
                        },
                        success: function (result) {
                            $(".infor_DuyetLuongNV").css('display', 'block');

                            if (result.kq == true) {
                                $(".infor_DuyetLuongNV").html('Đã duyệt bảng lương thưởng tết VIP, năm: ' + $("#nam").val());
                            }
                            else {
                                $(".infor_DuyetLuongNV").html('Duyệt bảng lương thưởng tết VIP thất bại, năm: ' + $("#nam").val());
                            }

                            Search();
                        }
                    });
                }
            });
        });

    });
    function OnCriteriaPC(page) {
        var giatri = $("#qSearch").val().trim();
        giatri = giatri.replace(/ /gi, '+');
        var url = '@Url.Action("LoadIndex", "BangLuongThuongTetVip")' + "?nam=" + $("#nam").val() + "&qSearch=" + giatri + "&_page=" + page;
        var imageUrl = '<div id="divMsg" align="center"><img src="@Url.Content("~/Content/Images/loading.gif") "/></div>';
        $('#tbody').html(imageUrl);
        $('#tbody').load(url, function () {
        });
    }

    function Search() {

        var giatri = $("#qSearch").val().trim();
        giatri = giatri.replace(/ /gi, '+');


        var url = '@Url.Action("LoadIndex", "BangLuongThuongTetVip")' + "?nam=" + $("#nam").val() + "&maPhongBan=" + $("#btnPhongBan").val() + "&qSearch=" + giatri + "&_page=0";

        var imageUrl = '<div id="divMsg" align="center"><img src="@Url.Content("~/Content/Images/loading.gif") "/></div>';
        $('#tbody').html(imageUrl);
        $('#tbody').load(url, function () {
            var ckDuyet = $("#ckDuyet").val();
            if (ckDuyet == "duyet") {
                $("#btnDuyetBLThuongTet,#btnTinhluongNV").hide();
                $("#Infor_DuyetLuongTT").show();
            }
            else {

                $("#btnDuyetBLThuongTet,#btnTinhluongNV").show();
                $("#Infor_DuyetLuongTT").hide();
            }
        });
    }



    function enterToSeacrh(event) {
        if (event.keyCode == 13)
            $("#btnSearch").click();
    }
    
     
    

    function beginPaging() {
    }
    function successPaging() {
    }

</script>



<fieldset class="removeBorderFieldset">

    <div id="tabs" style="" class="ui-tabs">
        <ul class="ui-tabs-nav">
            <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
                <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active activeColorTab tabToggle">
                    <a href="#"><span><i class="fa fa-object-group" aria-hidden="true"></i>Bảng lương thưởng tết VIP</span></a>

                </li>
             


            </ul>

        </ul>
    </div>
    <div id="container">
        <div class="contentToggle" style="display: block;">
            <div id="filter-panel" class="collapse filter-panel" style="display: block; position: relative">
                <div class="panel panel-default background_top">
                    <div class="panel-body">
                        <div style="line-height: 26px; float: left">
                            <div style="float: left">
                                Năm:@Html.DropDownList("nam", ViewData["lstNam"] as SelectList, new { @style = "width:150px" })
                            </div>

                            <div class="form-group" id="phongban-div" style="float:left; margin-left:10px;">
                                <div class="dropdown">
                                    <button class="btn btn-primary btn-sm dropdown-toggle" id="btnPhongBan" type="button" data-toggle="dropdown">
                                        Danh sách phòng ban&nbsp;<span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" id="phongban-dropdown-menu">
                                        <li role="presentation">
                                            <div class="form-group has-feedback" style="width: 90%; margin: 5px auto !important; display: block;">
                                                <input type="text" class="form-control input-sm" id="txtsearch" placeholder="Search" style="width: 100%" />
                                                <span class="glyphicon glyphicon-search form-control-feedback"></span>
                                            </div>
                                        </li>
                                        <li role="presentation">
                                            @Html.Raw(ViewBag.PhongBans)
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div style="float:left; display:none; color:blue" id="Infor_DuyetLuongTT">
                                Đã duyệt lương thưởng tết VIP.
                            </div>


                        </div>
                        <div style="float: right">
                            <input type="text" id="qSearch" value="@ViewBag.Search" class="form-control" style="width:200px;float:left;margin-right:5px" placeholder="Nhập giá trị tìm kiếm" onkeypress="enterToSeacrh(event);" />
                            <button class="btn btn-info" id="btnSearch" type="button" style="margin-top: 2px; float: left; margin-left: 2px">Tìm kiếm</button>
                            <button class="btn btn-info" id="btnTinhluongNV" type="button" style="margin-top: 2px; float: left; margin-left: 10px !important; display: block;">Tính lương nhân viên</button>
                            <button class="btn btn-info" id="btnSendMailNV" type="button" style="margin-top: 2px; float: left; margin-left: 10px !important;">Send mail NV</button>
                            <button class="btn btn-info" id="btnDuyetBLThuongTet" type="button" style="margin-top: 2px; float: left; display: block; margin-left: 10px !important;">Duyệt BL</button>
                            <button class="btn btn-info" id="btnXuatFileBLNV" type="button" style="margin-top: 2px; float: left; margin-left: 10px !important">Xuất File</button>
                            
                        </div>

                    </div>
                </div>
            </div>
            <div class="infor_LuongNV" style="display:none"></div>
            <div class="infor_SendBLLuongNV" style="display:none"></div>
             <div class="infor_DuyetLuongNV" style="display:none"></div>
            
            <table style="width: 100%" class="table table-striped table-hover table-condensed tableThemeCustome">

                <thead>
                    <tr>
                        <th style="width: 35px; text-align: center">STT
                        </th>
                        <th style="text-align: center">Mã nhân viên
                        </th>
                        
                        <th style="text-align: center">Họ tên
                        </th>
                        
                        
                        <th style="text-align: center">Điểm đánh giá
                        </th>
                        
                        <th style="text-align: center">Xếp loại
                        </th>


                        <th style="text-align: center">Tổng thu nhập trong năm
                        </th>

                        <th style="text-align: center">Số tháng lương</th>
                        
                        <th style="text-align: center">Lương tháng trung bình
                        </th>
                        <th style="text-align: center">Số tiền thưởng</th>
                        <th style="text-align: center">Đã chuyển đợt 1
                        </th>
                        
                        <th style="text-align: center">Còn lại phải chuyển
                        </th>


                    </tr>
                </thead>
                <tbody id="tbody">
                </tbody>


            </table>
        </div>
        
        <div id="myModalChonPhongBan" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">

                    <div class="container" style="width: 98%">
                        <div class="row">
                            <div id="filter-panel1" class="filter-panel">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>

        </div>
    </div>
    </div>
</fieldset>
