@using BatDongSan.Models.PhieuDeNghi;
@model PhieuDeNghiNghiPhep
@{
    ViewBag.Title = "Xem chi tiết phiếu nghỉ phép";
    Layout = "~/Views/Shared/_Layout.cshtml";
    // List<BatDongSan.Models.HeThong.sp_Sys_User_IndexResult> nhanVienNS = ViewBag.NhanVienThuocNhoms;
    string[] nhanVienNS = ViewBag.NhanVienThuocNhoms;
}
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/additional-methods.min.js"></script>
<script src="~/Scripts/autoNumeric.js"></script>
<script src="~/Scripts/batdongsan.validate.js"></script>
<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/vi.js"></script>
<script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
<link rel="stylesheet" href="~/Content/bootstrap-datetimepicker.min.css" />

<script>
    $(document).ready(function () {
        if ($("#loaiNghiPhep").val() == "OTHERLEAVE") {
            $.post('@Url.Action("GetSoNgayTangCa", "PhieuNghiPhep")', { maNhanVien: $("#NhanVien_maNhanVien").val() }, function (data) {

                $("#tongNgayTangCa").val(data.soGioTangCa);
                $("#soNgayTangCa").val(data.soGioConLai);

            });
        }
        $("#loaiNghiBatDau").val('@ViewBag.LoaiBatDauNghi');
        $("#loaiNghiKetThuc").val('@ViewBag.LoaiKetThucNghi');
        $(".numberinput").autoNumeric('init', { mDec: 1, mNum: 3, lZero: 'deny', aSep: ',', aDec: '.', pSign: 's', vMin: '0' });
        $(".numberinputInt").autoNumeric('init', { lZero: 'deny', mDec: 0, pSign: 's', aSep: ',', aDec: '.' });
        $("#btnTroVe").click(function () {
            var url = "@Url.Action("Index")";
            location.href = url;
        });
        $(".datepicker").datetimepicker({
            locale: 'vi',
            format: 'DD/MM/YYYY'
        });
        $("#btnSubmit").click(function () {
            if (CheckForm()) {
                $("#form-submit").submit();
            }
        });
        
       

        
     
        xuathien();
        fnChangeLeaveTime();

        $('#loaiNghiBatDau').change(function () {
            GenerateCountDayHoLiDay();
        });
        $('#loaiNghiKetThuc').change(function () {
            $('#loaiNghiBatDau').change();
        });
    });

        var xuathien = (function () {

            var valueXuatHien = $("#loaiNghiPhep").val();
            var leaveValue = $("[name='thoiGianNghi']:checked").val();
            if (valueXuatHien == '') {
                $("#tr_PhepNam").hide();
                $("#trHideTangCa").hide();
            }
            else {
                if (valueXuatHien == 'SUBSIDYTREATMENT' || valueXuatHien == 'SUBSIDYSICKNESS' || valueXuatHien == 'SUBSIDYMATERITY') {
                    if (leaveValue == "true") {
                        $("#trSoNgayNghiPhepHide").show();
                        $("#tr_PhepNam").hide();
                    }
                    else {
                        $("#trSoNgayNghiPhepHide").show();
                        $("#tr_PhepNam").hide();
                    }
                }
                if (valueXuatHien == 'WEDLEAVE' || valueXuatHien == 'PROMISELEAVE' ||
                valueXuatHien == 'UNPAIDLEAVE' || valueXuatHien == 'OTHERLEAVE' || valueXuatHien == 'FUNERALLEAVE' || valueXuatHien == 'SHOFTSICKNESSLEAVE' ||
                valueXuatHien == 'LONGSICKNESSLEAVE' || valueXuatHien == 'CHILDSICKNESSLEAVE' || valueXuatHien == 'ANTENARALLEAVE' || valueXuatHien == 'MISCARRIAGELEAVE' || valueXuatHien == 'BIRTHCHILLEAVE' || valueXuatHien == 'PATERNITYLEAVE' || valueXuatHien == 'CHILDRENMARRIAGE') {
                    $("#trSoNgayNghiPhepHide").show();
                    $("#tr_PhepNam").hide();
                }
                if (valueXuatHien == 'YEARLEAVE') {
                    $("#trSoNgayNghiPhepHide").show();
                    $("#tr_PhepNam").show();
                    $.post('@Url.Action("CountDayPhepNam", "PhieuNghiPhep")', { code: $("#NhanVien_maNhanVien").val(), ngayNghi: $("#ngayBatDau").val() }, function (data) {
                        $("#soPhepNamConLai").val(data.SoPhepNamCon);
                        $("#soPhepTonConLai").val(data.SoPhepTonCon);
                    });
                }

                //Nghỉ bù phải tính được thời gian tăng ca
                if (valueXuatHien == 'OTHERLEAVE') {
                    $("#trHideTangCa").show();
                    //Phải tính được số ngày tăng ca
                }
                else {
                    $("#trHideTangCa").hide();
                }
            }
        });
        function GenerateCountDayHoLiDay() {
            var employeeId = $("#NhanVien_maNhanVien").val();
            var fromDate = $("#ngayBatDau").val();
            var toDate = $("#ngayKetThuc ").val();
            var soNgayBatDau = "1";
            var soNgayKetThuc = "1";

            if ($("#loaiNghiBatDau").val() == "2" || $("#loaiNghiBatDau").val() == "3") {
                soNgayBatDau = "0.5";
            }
            if ($("#loaiNghiKetThuc").val() == "2" || $("#loaiNghiKetThuc").val() == "3") {
                soNgayKetThuc = "0.5";
            }
            if ($("#ngayBatDau").val() != "") {
                $.post('@Url.Action("CountDayHoLiDay", "PhieuNghiPhep")', { code: employeeId, fromDateVDA: fromDate, toDateVDA: toDate, halftStartDay: soNgayBatDau, halfEndDay: soNgayKetThuc }, function (data) {
                    if (data.CountDay != null) {
                        $("#soNgayNghiPhep").val(data.CountDay);
                        $("#const_SoNgayNghi").val(data.CountDay);
                    }
                    else {
                        Alert.error(data.strHtml, "Thông báo", { displayDuration: 2000 });
                    }
                });
            }

        }
        var fnChangeLeaveTime = (function () {
            var leaveValue = $("[name='thoiGianNghi']:checked").val();
            var valueXuatHien = $("#loaiNghiPhep").val();

            if (leaveValue == "True") {
                //Loại nữa buổi sáng
                $("#loaiNghiBatDau option:eq(1)").hide();
                $("#loaiNghiKetThuc option:eq(2)").hide();

                if (valueXuatHien == 'SUBSIDYTREATMENT' || valueXuatHien == 'SUBSIDYSICKNESS' || valueXuatHien == 'SUBSIDYMATERITY') {
                    $("#trSoNgayNghiPhepHide").show();
                    $(".NgayKetThucHide").show();
                    $("#lblNgayNghi").html("Ngày bắt đầu nghỉ");
                    $("#const_SoNgayNghi").val(0);
                }
                else {
                    $(".NgayKetThucHide").show();
                    $("#lblNgayNghi").html("Ngày bắt đầu nghỉ");
                }
            } else {
                //Loại nữa buổi sáng
                $("#loaiNghiBatDau option:eq(1)").show();

                if (valueXuatHien == 'SUBSIDYTREATMENT' || valueXuatHien == 'SUBSIDYSICKNESS' || valueXuatHien == 'SUBSIDYMATERITY') {

                    $(".NgayKetThucHide").hide();
                    $("#lblNgayNghi").html("Ngày nghỉ");
                    $("#ngayKetThuc").val("");
                }
                else {
                    if (valueXuatHien == 'LEAVEYEAR') {
                    }
                    else {
                        $(".NgayKetThucHide").hide();
                        $("#lblNgayNghi").html("Ngày nghỉ");
                      
                        $("#ngayKetThuc").val("");
                    }
                }
            }
        });
      

        function PopUpManager(url, title, w, h) {
            var left = (screen.width / 2) - (w / 2);
            var top = (screen.height / 2) - (h / 2);
            var targetWin = window.open(url, title, 'width=' + w + ', height=' + h + ', top=' + top + ', left=' + left);
        }
        function chonNguoiDuyet(status, employeeId) {
            var lyDo = '';
            var url = ('@Url.Action("SelectCapDuyet1/", "DMNguoiDuyet")' + $('#maPhieu').val() + '?maCongViec=PhieuNghiPhep' + '&trangThai=' + 0 + '&title=' + "" + '&maNhanVien=' + $("#maNVD").val() + '&lyDo=' + lyDo + "&idQuiTrinh=" + $("#maQuiTrinhDuyet").val() + '&url=' + $("#url").val());
            PopUpManager(url, "DUYET", 800, 500);
        }

        function chonNguoiDuyet2(status, employeeId) {
            var lyDo = '';
            var url = ('@Url.Action("SelectCapDuyet/", "DMNguoiDuyet")' + $('#maPhieu').val() + '?maCongViec=PhieuNghiPhep' + '&trangThai=' + 0 + '&title=' + "" + '&maNhanVien=' + $("#maNVD2").val() + '&lyDo=' + lyDo + "&idQuiTrinh=" + $("#maQuiTrinhDuyet").val() + '&url=' + $("#url").val());
            PopUpManager(url, "DUYET", 800, 500);
        }

        function DuyetPhieu() {
            var url = ('@Url.Action("DuyetPhieuDK/", "DMNguoiDuyet")' + $('#maPhieu').val() + '?maCongViec=PhieuNghiPhep' + '&maQuiTrinhDuyet=' + $('#maQuiTrinhDuyet').val() + '&url=' + $('#url').val() + '&maNhanVien=' + $('#maNVD').val());
            PopUpManager(url, "DUYET", 1000, 300);
           @* if (window.confirm('Bạn có chắc chắn duyệt phiếu nghỉ phép này hay không?')) {
                var lyDo = "";//$('#lyDo').val().replace(/\ /g, '+');
                $.post('@Url.Action("DuyeTheoQuiTrinhDong", "DMNguoiDuyet")', { lyDo: lyDo, maNhanVien: $('#maNVD').val(), maPhieu: $('#maPhieu').val(), soNgayNghiPhep: $('#soNgayNghiPhep').val(), maCongViec: "PhieuNghiPhep", tenNhanVien: $('#tenNhanVien').val(), idQuiTrinh: $("#maQuiTrinhDuyet").val(), sendMail: false, sendSMS: false }, function (data) {
                    if (data.length == 0) {
                        location.href = '@Url.Action("Details/", "PhieuNghiPhep")' + $('#maPhieu').val();
                    }
                    else {
                        alert(data);
                    }
                });
            }*@
        }



    function LoadLaiTrang() {
        location.href = '@Url.Action("ListCongViecProcess", "User")';
    }

    function LoadLaiTrangChiTiet() {
        location.href = '@Url.Action("Details/", "PhieuNghiPhep")' + $('#maPhieu').val();
    }

    @*function KhongDuyet() {

        if (window.confirm('Bạn có chắc chắn không duyệt phiếu nghỉ phép này hay không?')) {
            var lyDo = "";
            $.post('@Url.Action("TraLaiNew", "DMNguoiDuyet")', { lyDo: lyDo, maNhanVien: $('#maNV').val(), maPhieu: $('#maPhieu').val(), soNgayNghiPhep: $('#soNgayNghiPhep').val(), maCongViec: "PhieuNghiPhep", tenNhanVien: $('#tenNhanVien').val(), idQuiTrinh: $("#maQuiTrinhDuyet").val(), sendMail: false, sendSMS: false }, function (data) {
                   if (data.length == 0) {
                       location.href = '@Url.Action("Details/", "PhieuNghiPhep")' + $('#maPhieu').val();
                }
                else {
                    alert(data);
                    //$(this).attr("disabled", false);
                }
               });
        }
    }*@
    function KhongDuyet() {
        var sendEmail = false;
        if ($("#emailKD").is(":checked")) {
            sendEmail = true;
        }
        var sendSMS = false;
        if ($("#smsKD").is(":checked")) {
            sendSMS = true;
        }
        var lyDo = $("#lyDoKhongDuyet").val();
        if (window.confirm('Bạn có chắc chắn không duyệt phiếu nghỉ phép này hay không?')) {

            $.post('@Url.Action("KhongDuyetGhiChu", "DMNguoiDuyet")', { lyDo: lyDo, maNhanVien: $('#NhanVien_maNhanVien').val(), maPhieu: $('#maPhieu').val(), maCongViec: "PhieuNghiPhep", tenNhanVien: $('#NhanVien_hoVaTen').val(), idQuiTrinh: $("#maQuiTrinhDuyet").val(), sendMail: sendEmail, sendSMS: sendSMS }, function (data) {
                if (data.length == 0) {
                    location.href = '@Url.Action("Details/", "PhieuNghiPhep")' + $('#maPhieu').val();
                }
                else {
                    alert(data);
                    //$(this).attr("disabled", false);
                }
            });
        }
    }


    function TraLai(status, employeeId) {
        var url = ('@Url.Action("TraLai/", "DMNguoiDuyet")' + $('#maPhieu').val() + '?maCongViec=PhieuNghiPhep' + '&trangThai=' + 0 + '&title=' + "" + '&maNhanVien=' + $("#maNVD").val() + '&lyDo=' + "" + "&idQuiTrinh=" + $("#maQuiTrinhDuyet").val() + '&url=' + $("#url").val());
        PopUpManager(url, "DUYET", 700, 200);
    }

</script>

<style>
    #tbl-create td
    {
        border: none;
    }

    #PhanTram
    {
        position: absolute;
        top: 50%;
        right: 5px;
        transform: translateY(-50%);
        font-weight: bold;
        font-size: 15px;
    }
     td, input
{
	
	 border: 0px solid #ccc; 
}
</style>
@{
    BatDongSan.Models.HeThong.Sys_User user1 = new BatDongSan.Models.HeThong.Sys_User();
    if (Session["User"] != null)
    {
        user1 = (BatDongSan.Models.HeThong.Sys_User)Session["User"];
    }  
}
<form id="form-submit" class="form-horizontal" method="post">
    <div id="container" class="custome_fieldSet">
        <fieldset class="removeBorderFieldset">
            <div id="tabs" style="width: 30%; height: auto; border: none; float: left; box-sizing: border-box; overflow: hidden; clear: none;" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
                <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
                    <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active ">
                        <a><span><i class="fa fa-yelp" aria-hidden="true"></i>Chi tiết phiếu nghỉ phép</span></a></li>
                </ul>
            </div>
            <table class="table table-striped table-hover table-condensed" id="tbl-create" style="position: relative">
                @if (Model.NhanVien.maNhanVien != Model.NhanVienLapPhieuTT.maNhanVien)
                {
                    <tr>
                        <td style="width: 15%" class="tdtitle">MNV lập phiếu                                                             
                        </td>
                        <td style="width: 35%">@Html.TextBoxFor(model => model.NhanVienLapPhieuTT.maNhanVien, new { @class = "form-control", @readonly = true })</td>
                        <td style="width: 15%" class="tdtitle">Họ tên NV lập phiếu </td>
                        <td style="width: 35%">@Html.TextBoxFor(model => model.NhanVienLapPhieuTT.hoVaTen, new { @class = "form-control", @readonly = true })</td>
                    </tr>
                }
                <tr>
                    <td style="width: 15%" class="tdtitle">
                        <input type="hidden" id="const_SoNgayNghi">
                        Mã nhân viên</td>
                    <td style="width: 35%">@Html.TextBoxFor(model => model.NhanVien.maNhanVien, new { @class = "form-control", @readonly = true })
                        <input type="hidden" id="url" value="@ViewBag.URL" />
                        @Html.HiddenFor(model => model.maQuiTrinhDuyet)
                    </td>
                    <td style="width: 15%" class="tdtitle">Tên nhân viên </td>
                    <td style="width: 35%">@Html.TextBoxFor(model => model.NhanVien.hoVaTen, new { @class = "form-control", @readonly = true })</td>
                </tr>
                <tr>
                    <td style="width: 15%" class="tdtitle">Phòng ban</td>
                    <td style="width: 35%">@Html.TextBoxFor(model => model.NhanVien.tenPhongBan, new { @class = "form-control", @readonly = true })</td>
                    <td style="width: 15%" class="tdtitle">Chức danh </td>
                    <td style="width: 35%">@Html.TextBoxFor(model => model.NhanVien.tenChucDanh, new { @class = "form-control", @readonly = true })
                        @Html.HiddenFor(model => model.NhanVien.tenChiNhanh, new { @class = "form-control", @readonly = true })
                    </td>
                </tr>
                <tr>
                    <td class="tdtitle">Số phiếu đăng ký </td>
                    <td>@Html.TextBoxFor(model => model.maPhieu, new { @class = "form-control", @readonly = true, @style = "font-weight:bold" })</td>
                    <td class="tdtitle">Loại nghỉ</td>
                    <td>@Html.DropDownList("loaiNghiPhep", ViewBag.LoaiNghi as SelectList, new { @class = "form-control" })</td>
                </tr>
                <tr>

                    <td class="tdtitle">Thời gian nghỉ</td>
                    <td colspan="3">@Html.RadioButtonFor(model => model.thoiGianNghi, false, new { @id = "rad-1", @style = "width:auto", @checked = true }) Trong ngày @Html.RadioButtonFor(model => model.thoiGianNghi, true, new { @id = "rad-2", style = "width:auto" }) Nhiều ngày

                    </td>
                </tr>
                <tr id="tr_PhepNam" style="display: none">
                    <td class="tdtitle">Số phép năm còn lại</td>
                    <td colspan="3">@Html.TextBox("soPhepNamConLai", 1, new { @class = "form-control numberinput", @readonly = true })</td>
                    @* <td>Số phép tồn còn lại</td>
                    <td>@Html.TextBox("soPhepTonConLai", 0, new { @class = "form-control numberinput", @readonly = true })
                    </td>*@
                </tr>
                <tr>
                    <td class="tdtitle"><span id="lblNgayNghi">Ngày nghỉ</span></td>
                    <td>@Html.TextBoxFor(model => model.ngayBatDau, "{0: dd/MM/yyyy}", new { @class = "form-control datepicker", @style = "width:48%;float:left" })
                        @Html.DropDownList("loaiNghiBatDau", ViewBag.LoaiNghiBatDau as SelectList, new { @class = "form-control", @style = "width:48%;float:right" })
                    </td>
                    <td class="tdtitle NgayKetThucHide" style="display: none">Ngày kết thúc nghỉ</td>
                    <td class="NgayKetThucHide" style="display: none">@Html.TextBoxFor(model => model.ngayKetThuc, "{0: dd/MM/yyyy}", new { @class = "form-control datepicker", @style = "width:48%;float:left" })
                        @Html.DropDownList("loaiNghiKetThuc", ViewBag.LoaiNghiKetThuc as SelectList, new { @class = "form-control", @style = "width:48%;float:right" })

                    </td>
                </tr>
                <tr id="trSoNgayNghiPhepHide">
                    <td class="tdtitle">Số ngày nghỉ phép</td>
                    <td>@Html.TextBoxFor(model => model.soNgayNghiPhep, new { @class = "form-control numberinput", @readonly = true })</td>
                    <td class="tdtitle">Phẩn trăm tính hưởng</td>
                    <td>
                        <div style="position: relative">

                            @Html.TextBoxFor(model => model.phanTramTinhHuong, new { @class = "form-control numberinput", @readonly = true })
                            <span id="PhanTram">%</span>
                        </div>
                    </td>
                </tr>
                <tr id="trHideTangCa" style="display: none">
                    <td class="tdtitle">Số ngày còn lại nghỉ bù</td>
                    <td>@Html.TextBoxFor(model => model.soNgayTangCa, new { @class = "form-control numberinput", @readonly = true })</td>
                    <td class="tdtitle">Tổng ngày tăng ca:</td>
                    <td>
                        <input class="form-control numberinput" data-val="true" data-val-number="The field tongNgayTangCa must be a number." id="tongNgayTangCa" name="tongNgayTangCa" readonly="True" type="text" value="">
                    </td>
                </tr>
                <tr>
                    <td class="tdtitle">Lý do</td>
                    <td colspan="3">
                        <div id="editor">@Html.Raw(Model.lyDo)</div>
                        @Html.HiddenFor(model => model.lyDo, new { @class = "form-control" })

                    </td>

                </tr>
            </table>
            <div style="text-align: right; margin-bottom: 10px">
                @*<input type="hidden" name="maNVD" id="maNVD" value="@user1.manv" />*@

                <input type="hidden" name="maNVD" id="maNVD" value="@Model.NhanVien.maNhanVien" />
                <input type="hidden" name="maNVD2" id="maNVD2" value="@user1.manv" />
                <input type="hidden" name="tenNhanVien" id="tenNhanVien" value="@ViewBag.HoTen" />
                @Html.HiddenFor(model => model.maPhieu)
                @Html.HiddenFor(model => model.lyDo)
                @if (ViewBag.TenTrangThaiDuyet != "KDD")
                {
                    if ((Model.Duyet == null || Model.Duyet.tinhTrang == 0) && Model.nguoiLap == user1.manv && Model.Duyet.maBuocDuyet != "KDD")
                    {
                    <button class="btn btn-info" type="button" onclick="chonNguoiDuyet();">Gửi duyệt </button>
                    }
                    else if (Model.Duyet != null && (Model.Duyet.nguoiDuyet.maNhanVien == null ? string.Empty : Model.Duyet.nguoiDuyet.maNhanVien.Trim()) == user1.manv && Model.Duyet.maBuocDuyet != "DTN" && Model.Duyet.maBuocDuyet != "CDL2" && Model.Duyet.maBuocDuyet != "CD")
                    {
                    <button class="btn btn-info" type="button" onclick="chonNguoiDuyet2();">Duyệt phiếu </button>
                    <button class="btn btn-info" type="button"  data-toggle="modal" data-toggle="modal" data-target="#myModalKhongDuyet">Không duyệt</button>
                    <button class="btn btn-info" type="button" onclick="TraLai();">Trả lại</button>
                    }
                    else if (Model.Duyet != null && (Model.Duyet.maBuocDuyet == "CDL2" || Model.Duyet.maBuocDuyet == "CD") && (Model.Duyet.nguoiDuyet.maNhanVien == null ? string.Empty : Model.Duyet.nguoiDuyet.maNhanVien.Trim()) == user1.manv && Model.Duyet.maBuocDuyet != "DTN")
                    {
                    <button class="btn btn-info" type="button" onclick="DuyetPhieu();">Duyệt</button>
                    <button class="btn btn-info" type="button"  data-toggle="modal" data-toggle="modal" data-target="#myModalKhongDuyet">Không duyệt</button>
                    <button class="btn btn-info" type="button" onclick="TraLai();">Trả lại</button>
                    }
                    else if (Model.Duyet != null && (nhanVienNS != null && nhanVienNS.Contains(user1.manv)) && Model.Duyet.maBuocDuyet == "CTN" && Model.Duyet.maBuocDuyet != "DTN")//Tất cả nhân viên ở phòng nhân sự đều được duyệt ở đấy
                    {
                    <button class="btn btn-info" type="button" onclick="DuyetPhieu();">Duyệt</button>
                   <button class="btn btn-info" type="button"  data-toggle="modal" data-toggle="modal" data-target="#myModalKhongDuyet">Không duyệt</button>
                    <button class="btn btn-info" type="button" onclick="TraLai();">Trả lại</button>
                    }
                }
                <button class="btn btn-info" type="button" id="btnTroVe">Trở về </button>
            </div>
        </fieldset>

    </div>
</form>
<!-- Bo sung chuc nang khong duyet them ly do-->
<!-- Modal -->
<div class="modal fade" id="myModalKhongDuyet" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body">
        <fieldset class="fieldset1 clsDuyetPhieu">
            <div class="titleDP">Không duyệt phiếu</div>
        <form name="form" action="" method="post">
           
            <table style="width: 100%; font-family: Tahoma;" cellpadding="2" cellspacing="0" border="0">
                <tbody><tr>
                    <td style="font-size: 25px; text-align: center;" colspan="2"></td>
                </tr>
                <tr>
                    <td>Send Email:<input type="checkbox" id="emailKD">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Send SMS:<input type="checkbox" id="smsKD">
                    </td>
                    <td align="right" style="padding: 7px 0; float:right">
                        <input type="button" class="btn btn-info" value="Không duyệt" onclick="KhongDuyet();">
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <textarea class="form-control" cols="20" id="lyDoKhongDuyet" name="lyDoKhongDuyet" rows="2"></textarea>
                        <div style="float: right; margin-top: 10px">
                            <input type="button" class="btn btn-info" value="Không duyệt" onclick="KhongDuyet();">

                        </div>
                    </td>
                </tr>
            </tbody></table>
        </form>
        </fieldset>
      </div>
      
    </div>
  </div>
</div>
<!-- End bo sung -->