@using BatDongSan.Models.PhieuDeNghi;
@model PhieuDeNghiNghiPhep
@{
    ViewBag.Title = "Cập nhật phiếu nghỉ phép";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool quyenDuyet = (bool)ViewBag.QuyenDuyet;
}
<link rel="stylesheet" href="~/Content/summernote/summernote.css" />
<script src="~/Content/summernote/summernote.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/additional-methods.min.js"></script>
<script src="~/Scripts/autoNumeric.js"></script>
<script src="~/Scripts/batdongsan.validate.js"></script>
<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/vi.js"></script>
<script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
<link rel="stylesheet" href="~/Content/bootstrap-datetimepicker.min.css" />

<script>
    $(document).ready(function () {
        if ($("#loaiNghiPhep").val() == "OTHERLEAVE") {
            $.post('@Url.Action("GetSoNgayTangCa", "PhieuNghiPhep")', { maNhanVien: $("#NhanVien_maNhanVien").val() }, function (data) {

                $("#tongNgayTangCa").val(data.soGioTangCa);
                $("#soNgayTangCa").val(data.soGioConLai);

            });
        }
        $("#loaiNghiBatDau").val('@ViewBag.LoaiBatDauNghi');
        $("#loaiNghiKetThuc").val('@ViewBag.LoaiKetThucNghi');
        $(".numberinput").autoNumeric('init', { mDec: 1, mNum: 3, lZero: 'deny', aSep: ',', aDec: '.', pSign: 's', vMin: '0' });
        $(".numberinputInt").autoNumeric('init', { lZero: 'deny', mDec: 0, pSign: 's', aSep: ',', aDec: '.' });
        $("#btnTroVe").click(function () {
            var url = "@Url.Action("Index")";
            location.href = url;
        });
        $('#editor').summernote({
            height: 150,                 // set editor height
            minHeight: null,             // set minimum height of editor
            maxHeight: null             // set maximum height of editor
            //focus: true                  // set focus to editable area after initializing summernote
        });
        $(".datepicker").datetimepicker({
            locale: 'vi',
            format: 'DD/MM/YYYY'
        });
        $("#btnSubmit").click(function () {
            if (CheckForm()) {
                var noiDung = $(".note-editable").html();
                $("#lyDo").val(noiDung);
                // Call check
                $.post('@Url.Action("CheckNgayBatDau", "PhieuNghiPhep")', { ngayBatDau: $("#ngayBatDau").val(), maNhanVien: $("#NhanVien_maNhanVien").val(), loaiNghi: $("#loaiNghiBatDau").val(), loaiNghiPhep: $("#loaiNghiPhep").val() }, function (data) {
                    // If admin tao phieu khong check ngay rang buoc
                    if (data == "1") {
                        //$("#ngayBatDau").val("");
                        var contSNRB = $("#const_SoNgayRB").val();
                        Alert.error("Làm phép trước " + contSNRB + " ngày đăng ký nghỉ phép", "Thông báo", { displayDuration: 3000 });
                    }
                    else {

                        if ($("#loaiNghiPhep").val() == "OTHERLEAVE") {

                            //Post Server to check
                            $.post('@Url.Action("GetSoNgayTangCa", "PhieuNghiPhep")', { maNhanVien: $("#NhanVien_maNhanVien").val() }, function (data) {
                                var soNgayTangCa = data.soGioConLai;
                                if (soNgayTangCa >= $("#soNgayNghiPhep").val() && $("#soNgayNghiPhep").val() == $("#const_SoNgayNghi").val()) {
                                    $.post('@Url.Action("CheckPhieuCongTac", "PhieuNghiPhep")', { loaiThoiGian: $("[name='thoiGianNghi']:checked").val(), ngayBatDau: $("#ngayBatDau").val(), ngayKetThuc: $("#ngayKetThuc").val(), loaiNghiBatDau: $("#loaiNghiBatDau").val(), loaiNghiKetThuc: $("#loaiNghiKetThuc").val(), maNhanVien: $("#NhanVien_maNhanVien").val() }, function (data) {
                                        if (data == 1) {
                                            $("#form-submit").submit();
                                        }
                                        else {
                                            Alert.error("Số ngày nghỉ phép này đã được lập phiếu tăng ca xin vui lòng chọn lại ngày.", "Thông báo", { displayDuration: 3000 });
                                            return false;
                                        }
                                    });
                                }
                                else {

                                    Alert.error("Số ngày nghỉ phép không được lớn hơn số ngày tăng ca còn lại.", "Thông báo", { displayDuration: 3000 });
                                    return false;
                                }
                            });
                            //End Check
                        }
                        else {
                            //Kiểm tra phiếu này đã lập phiếu công tác hay chưa                          
                            $.post('@Url.Action("CheckPhieuCongTac", "PhieuNghiPhep")', { loaiThoiGian: $("[name='thoiGianNghi']:checked").val(), ngayBatDau: $("#ngayBatDau").val(), ngayKetThuc: $("#ngayKetThuc").val(), loaiNghiBatDau: $("#loaiNghiBatDau").val(), loaiNghiKetThuc: $("#loaiNghiKetThuc").val(), maNhanVien: $("#NhanVien_maNhanVien").val() }, function (data) {
                                if (data == 1) {
                                    $("#form-submit").submit();
                                }
                                else {
                                    Alert.error("Số ngày nghỉ phép này đã được lập phiếu tăng ca xin vui lòng chọn lại ngày.", "Thông báo", { displayDuration: 3000 });
                                    return false;
                                }
                            });
                        }
                    }
                });
                //End call check
            }
        });
        $("[name='thoiGianNghi']").click(function () {
            fnChangeLeaveTime();
            $('#ngayKetThuc').val('');
            GenerateCountDayHoLiDay();
        });
        $("#loaiNghiPhep").change(function () {
            xuathien();
            $.post('@Url.Action("GetLoaiNghiPhep", "PhieuNghiPhep")', { maLoai: $("#loaiNghiPhep").val(), loaiNghi: $("#loaiNghiBatDau").val() }, function (data) {

                $("#phanTramTinhHuong").val(data.phanTramLuongHuong);
                var giatri = 0;
                if (data.soNgayRangBuoc != null) {
                    giatri = data.soNgayRangBuoc;
                }
                // $(".inforRB").css("display", "block");
                $("#soNgayRangBuoc").html(giatri);
                $("#const_SoNgayRB").val(giatri);

            });
            //Check Loai nghi phep = nghi bu
            if ($("#loaiNghiPhep").val() == "OTHERLEAVE") {
                $.post('@Url.Action("GetSoNgayTangCa", "PhieuNghiPhep")', { maNhanVien: $("#NhanVien_maNhanVien").val() }, function (data) {

                    $("#tongNgayTangCa").val(data.soGioTangCa);
                    $("#soNgayTangCa").val(data.soGioConLai);

                });
            }

        });

        $(document).on("dp.change", "#ngayBatDau", function (e) {
            $.post('@Url.Action("CheckNgayBatDau", "PhieuNghiPhep")', { ngayBatDau: moment(e.date).format("DD/MM/YYYY"), maNhanVien: $("#NhanVien_maNhanVien").val(), loaiNghi: $("#loaiNghiBatDau").val(), loaiNghiPhep: $("#loaiNghiPhep").val() }, function (data) {
                if (data == "1") {
                    //$("#ngayBatDau").val("");
                    var contSNRB = $("#const_SoNgayRB").val();
                    Alert.error("Làm phép trước " + contSNRB + " ngày đăng ký nghỉ phép", "Thông báo", { displayDuration: 3000 });
                }

            });
            $('#loaiNghiBatDau').change();
            xuathien();
        });
        $(document).on("dp.change", "#ngayKetThuc", function (e) {

            var ngayBD = $('#ngayBatDau').val();
            var ngayKT = $('#ngayKetThuc').val();
            var d1 = Date.parse(convertDate(ngayBD));
            var d2 = Date.parse(convertDate(ngayKT));
            if (d1 > d2) {
                Alert.error("Ngày kết thúc lớn hơn ngày bắt đầu. Vui lòng nhập lại.", "Thông báo", { displayDuration: 3000 });
                $("#ngayKetThuc").val("");
            }
            else if (d1 == d2) {
                Alert.error("Ngày kết thúc phải khác ngày bắt đầu. Vui lòng nhập lại.", "Thông báo", { displayDuration: 3000 });
                $("#ngayKetThuc").val("");
            }
            var v1 = $('#ngayBatDau').val().split('/');
            var v2 = $('#ngayKetThuc').val().split('/');
            if (v1 != "" && v1 != null && v2 != "" && v2 != null && v1[1] != v2[1]) {

                Alert.error("Vui lòng lập 2 phiếu cho 2 tháng khác nhau.", "Thông báo", { displayDuration: 3000 });
                $("#ngayKetThuc").val("");

            }
            $('#loaiNghiKetThuc').change();
        });
        xuathien();
        fnChangeLeaveTime();

        $('#loaiNghiBatDau').change(function () {
            GenerateCountDayHoLiDay();
        });
        $('#loaiNghiKetThuc').change(function () {
            $('#loaiNghiBatDau').change();
        });
    });

        var xuathien = (function () {

            var valueXuatHien = $("#loaiNghiPhep").val();
            var leaveValue = $("[name='thoiGianNghi']:checked").val();
            if (valueXuatHien == '') {
                $("#tr_PhepNam").hide();
                $("#trHideTangCa").hide();
            }
            else {
                if (valueXuatHien == 'SUBSIDYTREATMENT' || valueXuatHien == 'SUBSIDYSICKNESS' || valueXuatHien == 'SUBSIDYMATERITY') {
                    if (leaveValue == "true") {
                        $("#tr_PhepNam").hide();
                    }
                    else {
                        $("#tr_PhepNam").hide();
                    }
                }
                if (valueXuatHien == 'WEDLEAVE' || valueXuatHien == 'PROMISELEAVE' ||
                valueXuatHien == 'UNPAIDLEAVE' || valueXuatHien == 'OTHERLEAVE' || valueXuatHien == 'FUNERALLEAVE' || valueXuatHien == 'SHOFTSICKNESSLEAVE' ||
                valueXuatHien == 'LONGSICKNESSLEAVE' || valueXuatHien == 'CHILDSICKNESSLEAVE' || valueXuatHien == 'ANTENARALLEAVE' || valueXuatHien == 'MISCARRIAGELEAVE' || valueXuatHien == 'BIRTHCHILLEAVE' || valueXuatHien == 'PATERNITYLEAVE' || valueXuatHien == 'CHILDRENMARRIAGE') {

                    $("#tr_PhepNam").hide();
                }
                if (valueXuatHien == 'YEARLEAVE') {
                    $("#tr_PhepNam").show();
                    $.post('@Url.Action("CountDayPhepNam", "PhieuNghiPhep")', { code: $("#NhanVien_maNhanVien").val(), ngayNghi: $("#ngayBatDau").val() }, function (data) {
                        $("#soPhepNamConLai").val(data.SoPhepNamCon);
                        $("#const_datePermiss").val(data.SoPhepNamCon);
                        $("#soPhepTonConLai").val(data.SoPhepTonCon);
                    });
                }

                //Nghỉ bù phải tính được thời gian tăng ca
                if (valueXuatHien == 'OTHERLEAVE') {
                    $("#trHideTangCa").show();
                    //Phải tính được số ngày tăng ca
                }
                else {
                    $("#trHideTangCa").hide();
                }
            }
        });
        function GenerateCountDayHoLiDay() {
            var employeeId = $("#NhanVien_maNhanVien").val();
            var fromDate = $("#ngayBatDau").val();
            var toDate = $("#ngayKetThuc ").val();
            var soNgayBatDau = "1";
            var soNgayKetThuc = "1";

            if ($("#loaiNghiBatDau").val() == "2" || $("#loaiNghiBatDau").val() == "3") {
                soNgayBatDau = "0.5";
            }
            if ($("#loaiNghiKetThuc").val() == "2" || $("#loaiNghiKetThuc").val() == "3") {
                soNgayKetThuc = "0.5";
            }
            if ($("#ngayBatDau").val() != "") {
                $.post('@Url.Action("CountDayHoLiDay", "PhieuNghiPhep")', { code: employeeId, fromDateVDA: fromDate, toDateVDA: toDate, halftStartDay: soNgayBatDau, halfEndDay: soNgayKetThuc }, function (data) {
                    if (data.CountDay != null) {

                        $("#soNgayNghiPhep").val(data.CountDay);
                        $("#const_SoNgayNghi").val(data.CountDay);
                    }
                    else {
                        Alert.error(data.strHtml, "Thông báo", { displayDuration: 2000 });
                    }
                });
            }

        }
        var fnChangeLeaveTime = (function () {
            var leaveValue = $("[name='thoiGianNghi']:checked").val();
            var valueXuatHien = $("#loaiNghiPhep").val();
            if (leaveValue == "True") {
                //Loại nữa buổi sáng
                $("#loaiNghiBatDau option:eq(1)").hide();
                $("#loaiNghiKetThuc option:eq(2)").hide();

                if (valueXuatHien == 'SUBSIDYTREATMENT' || valueXuatHien == 'SUBSIDYSICKNESS' || valueXuatHien == 'SUBSIDYMATERITY') {
                    $(".NgayKetThucHide").show();
                    $("#lblNgayNghi").html("Ngày bắt đầu nghỉ");
                    $("#const_SoNgayNghi").val(0);
                }
                else {
                    $(".NgayKetThucHide").show();
                    $("#lblNgayNghi").html("Ngày bắt đầu nghỉ");
                }
            } else {
                //Loại nữa buổi sáng
                $("#loaiNghiBatDau option:eq(1)").show();

                if (valueXuatHien == 'SUBSIDYTREATMENT' || valueXuatHien == 'SUBSIDYSICKNESS' || valueXuatHien == 'SUBSIDYMATERITY') {

                    $(".NgayKetThucHide").hide();
                    $("#lblNgayNghi").html("Ngày nghỉ");
                    $("#soNgayNghiPhep").val(0);
                    $("#ngayKetThuc").val("");
                }
                else {
                    if (valueXuatHien == 'LEAVEYEAR') {
                    }
                    else {
                        $(".NgayKetThucHide").hide();
                        $("#lblNgayNghi").html("Ngày nghỉ");
                        //$("#soNgayNghiPhep").val(1);
                        $("#ngayKetThuc").val("");
                    }
                }
            }
        });
        function CheckForm() {
            var flag = true;
            if ($("#ngayBatDau").val() == "") {
                $("#ngayBatDau").addClass("error").attr("title", "Vui lòng chọn ngày nghỉ.");
                flag = false;

            }

            if ($("#loaiNghiPhep").val() == "") {
                $("#loaiNghiPhep").addClass("error").attr("title", "Vui lòng chọn loại nghỉ phép.");
                flag = false;

            }

            if ($("#lyDo").val() == "") {
                $("#lyDo").addClass("error").attr("title", "Vui lòng nhập lý do.");
                flag = false;

            }
            var v1 = $('#ngayBatDau').val().split('/');
            var v2 = $('#ngayKetThuc').val().split('/');
            var ngayBD = $('#ngayBatDau').val();
            var ngayKT = $('#ngayKetThuc').val();
            var d1 = Date.parse(convertDate(ngayBD));
            var d2 = Date.parse(convertDate(ngayKT));

            if (v1 != "" && v1 != null && v2 != "" && v2 != null && v1[1] != v2[1]) {
                flag = false;
                $("#ngayKetThuc").addClass("error").attr("title", "Ngày kết thúc không hợp lệ.");

            }
            if ($("#loaiNghiPhep").val() == "YEARLEAVE") {
                var countDatePermiss = parseFloat($("#const_datePermiss").val());
                var phepNamConLai = parseFloat($("#soPhepNamConLai").val());
                var soNgayNghiPhep = parseFloat($("#soNgayNghiPhep").val());
                if (phepNamConLai < soNgayNghiPhep || phepNamConLai == 0 || countDatePermiss != phepNamConLai) {
                    flag = false;
                    $("#soNgayNghiPhep").addClass("error").attr("title", "Số ngày nghỉ phép phải <= số ngày phép còn lại.");
                }
            }
            return flag;
        }


        function ShowDivUpload() {
            $('#divUploadFile').show();
            $('body').append('<div class="jqmOverlay" style="height: 100%; width: 100%; position: fixed; left: 0px; top: 0px; z-index: 2999; opacity: 0.5;"></div>');
        }

        function closePopup_onclick() {
            $('#divUploadFile').hide();
            $('.jqmOverlay').remove();
        }

        function PopUpManager(url, title, w, h) {
            var left = (screen.width / 2) - (w / 2);
            var top = (screen.height / 2) - (h / 2);
            var targetWin = window.open(url, title, 'width=' + w + ', height=' + h + ', top=' + top + ', left=' + left);
        }
        function chonNguoiDuyet() {
            var lyDo = '';
            //$('#lyDo').val().replace(/\ /g, '+');
            var url = ('@Url.Action("SelectCapDuyet1/", "DMNguoiDuyet")' + $('#maPhieu').val() + '?maCongViec=PhieuNghiPhep' + '&trangThai=' + 0 + '&title=' + "" + '&maNhanVien=' + $("#maNVD").val() + '&lyDo=' + lyDo + "&idQuiTrinh=" + $("#maQuiTrinhDuyet").val() + '&url=' + $("#url").val());
            PopUpManager(url, "DUYET", 800, 500);
        }

        function LoadLaiTrang() {
            location.href = '@Url.Action("ListCongViecProcess", "User")';
        }

        function LoadLaiTrangChiTiet() {
            location.href = '@Url.Action("Details/", "PhieuNghiPhep")' + $('#maPhieu').val();
        }

</script>

<style>
    #tbl-create td {
        border: none;
    }

    #PhanTram {
        position: absolute;
        top: 50%;
        right: 5px;
        transform: translateY(-50%);
        font-weight: bold;
        font-size: 15px;
    }
</style>
@{
    BatDongSan.Models.HeThong.Sys_User user1 = new BatDongSan.Models.HeThong.Sys_User();
    if (Session["User"] != null)
    {
        user1 = (BatDongSan.Models.HeThong.Sys_User)Session["User"];
    }  
}
<form id="form-submit" class="form-horizontal" method="post">
    <div id="container" class="custome_fieldSet">
        <fieldset class="removeBorderFieldset">
            <div id="tabs" style="width: 30%; height: auto; border: none; float: left; box-sizing: border-box; overflow: hidden; clear: none;" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
                <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
                    <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active ">
                        <a><span><i class="fa fa-yelp" aria-hidden="true"></i>Cập nhật phiếu nghỉ phép</span></a></li>
                </ul>
            </div>
            <table class="table table-striped table-hover table-condensed" id="tbl-create" style="position: relative">
                @if (Model.NhanVien.maNhanVien != Model.NhanVienLapPhieuTT.maNhanVien)
                {
                    <tr>
                        <td style="width: 15%" class="tdtitle">MNV lập phiếu                                                                   
                        </td>
                        <td style="width: 35%">@Html.TextBoxFor(model => model.NhanVienLapPhieuTT.maNhanVien, new { @class = "form-control", @readonly = true })</td>
                        <td style="width: 15%" class="tdtitle">Họ tên NV lập phiếu </td>
                        <td style="width: 35%">@Html.TextBoxFor(model => model.NhanVienLapPhieuTT.hoVaTen, new { @class = "form-control", @readonly = true })</td>
                    </tr>
                }
                <tr>
                    <td style="width: 15%" class="tdtitle">
                        <input type="hidden" id="const_SoNgayNghi" name="const_SoNgayNghi" value="@Model.soNgayNghiPhep" class ="form-control numberinput" readonly="True">
                        Mã nhân viên nghỉ phép</td>
                    <td style="width: 35%">@Html.TextBoxFor(model => model.NhanVien.maNhanVien, new { @class = "form-control", @readonly = true })
                        <input type="hidden" id="url" value="@ViewBag.URL" />
                        @Html.HiddenFor(m => m.maQuiTrinhDuyet)
                        @*<input type="hidden" name="maNVD" id="maNVD" value="@user1.manv" />*@

                        <input type="hidden" name="maNVD" id="maNVD" value="@Model.NhanVien.maNhanVien" />

                        <input type="hidden" id="const_SoNgayRB" value="@Model.soNgayRangBuoc" />
                        <input type="hidden" id="const_datePermiss" readonly="True" />
                    </td>
                    <td style="width: 15%" class="tdtitle">Tên nhân viên nghỉ phép</td>
                    <td style="width: 35%">@Html.TextBoxFor(model => model.NhanVien.hoVaTen, new { @class = "form-control", @readonly = true })</td>
                </tr>
                <tr>
                    <td style="width: 15%" class="tdtitle">Phòng ban</td>
                    <td style="width: 35%">@Html.TextBoxFor(model => model.NhanVien.tenPhongBan, new { @class = "form-control", @readonly = true })</td>
                    <td style="width: 15%" class="tdtitle">Chức danh </td>
                    <td style="width: 35%">@Html.TextBoxFor(model => model.NhanVien.tenChucDanh, new { @class = "form-control", @readonly = true })
                        @Html.HiddenFor(model => model.NhanVien.tenChiNhanh, new { @class = "form-control", @readonly = true })
                    </td>
                </tr>
                <tr>
                    <td class="tdtitle">Số phiếu đăng ký </td>
                    <td>@Html.TextBoxFor(model => model.maPhieu, new { @class = "form-control", @readonly = true, @style = "font-weight:bold" })</td>
                    <td class="tdtitle">Loại nghỉ</td>
                    <td>@Html.DropDownList("loaiNghiPhep", ViewBag.LoaiNghi as SelectList, new { @class = "form-control" })</td>

                </tr>
                <tr>

                    <td class="tdtitle">Thời gian nghỉ</td>
                    <td colspan="3"><span style="float: left">@Html.RadioButtonFor(model => model.thoiGianNghi, false, new { @id = "rad-1", @style = "width:auto", @checked = true }) Trong ngày @Html.RadioButtonFor(model => model.thoiGianNghi, true, new { @id = "rad-2", style = "width:auto" }) Nhiều ngày</span>
                        <span style="float: right; display: none" class="inforRB"><span style="float: left; padding-right: 5px;">Làm phép trước </span><span style="float: left; width: 50px; border: 1px solid #73709e; background-color: #37cb2d; color: #fff; text-align: center; border-radius: 4px;"
                            id="soNgayRangBuoc">@Model.soNgayRangBuoc</span><span style="float: left; padding-left: 5px;">ngày đăng ký nghỉ phép</span></span>
                    </td>
                </tr>
                <tr id="tr_PhepNam" style="display: none">
                    <td class="tdtitle">Số phép năm còn lại</td>
                    <td colspan="3">@Html.TextBox("soPhepNamConLai", 1, new { @class = "form-control numberinput", @readonly = true })</td>
                    @* <td>Số phép tồn còn lại</td>
                    <td>@Html.TextBox("soPhepTonConLai", 0, new { @class = "form-control numberinput", @readonly = true })
                    </td>*@
                </tr>
                <tr>
                    <td class="tdtitle"><span id="lblNgayNghi">Ngày nghỉ</span></td>
                    <td>@Html.TextBoxFor(model => model.ngayBatDau, "{0: dd/MM/yyyy}", new { @class = "form-control datepicker", @style = "width:48%;float:left" })
                        @Html.DropDownList("loaiNghiBatDau", ViewBag.LoaiNghiBatDau as SelectList, new { @class = "form-control", @style = "width:48%;float:right" })
                    </td>
                    <td class="NgayKetThucHide tdtitle" style="display: none">Ngày kết thúc nghỉ</td>
                    <td class="NgayKetThucHide" style="display: none">@Html.TextBoxFor(model => model.ngayKetThuc, "{0: dd/MM/yyyy}", new { @class = "form-control datepicker", @style = "width:48%;float:left" })
                        @Html.DropDownList("loaiNghiKetThuc", ViewBag.LoaiNghiKetThuc as SelectList, new { @class = "form-control", @style = "width:48%;float:right" })

                    </td>
                </tr>
                <tr id="trSoNgayNghiPhepHide">
                    <td class="tdtitle">Số ngày nghỉ phép</td>
                    <td>@Html.TextBoxFor(model => model.soNgayNghiPhep, new { @class = "form-control numberinput", @readonly = true })</td>
                    <td class="tdtitle">Phẩn trăm tính hưởng</td>
                    <td>
                        <div style="position: relative">

                            @Html.TextBoxFor(model => model.phanTramTinhHuong, new { @class = "form-control numberinput", @readonly = true })
                            <span id="PhanTram">%</span>
                        </div>
                    </td>
                </tr>
                <tr id="trHideTangCa" style="display: none">
                    <td class="tdtitle">Số ngày còn lại nghỉ bù</td>
                    <td>@Html.TextBoxFor(model => model.soNgayTangCa, new { @class = "form-control", @readonly = true })</td>
                    <td class="tdtitle">Tổng ngày tăng ca:</td>
                    <td>
                        <input class="form-control numberinput" data-val="true" data-val-number="The field tongNgayTangCa must be a number." id="tongNgayTangCa" name="tongNgayTangCa" readonly="True" type="text" value="">
                    </td>
                </tr>
                <tr>
                    <td class="tdtitle">Lý do</td>
                    <td colspan="3">
                        <div id="editor">@Html.Raw(Model.lyDo)</div>
                        @Html.HiddenFor(model => model.lyDo, new { @class = "form-control" })
                        @*@Html.TextAreaFor(model => model.lyDo, new { @class = "form-control" })*@

                    </td>

                </tr>
            </table>
            <div style="text-align: right; margin-bottom: 10px">
                @if (ViewBag.TenTrangThaiDuyet != "KDD")
                {
                    if ((Model.Duyet == null || Model.Duyet.tinhTrang == 0) && Model.nguoiLap == user1.manv && Model.Duyet.maBuocDuyet != "DTN")
                    {
                    <button class="btn btn-info" type="button" onclick="chonNguoiDuyet();">Gửi duyệt </button>
                    
                    }
                    if ((Model.Duyet == null || Model.Duyet.tinhTrang == 0) && (Model.nguoiLap == user1.manv && Model.Duyet.maBuocDuyet != "DTN") || (quyenDuyet == true))
                    {
                    <button class="btn btn-info" id="btnSubmit" type="button">Lưu </button>    
                    }
                }
                <button class="btn btn-info" type="button" id="btnTroVe">Trở về </button>
            </div>
        </fieldset>

    </div>
</form>

<div id="divUploadFile" class="jqmWindow" title="List File Upload" style="width: 900px!important">
    <div id="divmgs" align="center">
    </div>
    <form id="frmFile" enctype="multipart/form-data" method="post" name="frmFile" action='@Url.Action("UploadFileMutil", "HopDong")'>
        <table style="width: 100%;">
            <tr>
                <td style="width: 37.3%;">
                    <label for="fileToUpload">
                        <input type="file" name="fileToUpload[]" multiple="multiple" onchange="SelectFiles(this)" style="border: none" /></label>
                </td>
                <td style="float: right">
                    <button type="button" onclick="SaveFile();" class="btnOk" id="btnUpLoad" value="Đồng ý"
                        disabled="disabled" />
                    Đồng ý
                    <button type="button" id="closePopup" value="Đóng" class="jqmClose" onclick="return closePopup_onclick()" />
                    Đóng
                </td>
                <td>
                    <div id="progressNumber">
                    </div>
                </td>
            </tr>
        </table>
        <div id="divListFile">
            <table class="tbl" style="width: 100%" id="tblFiles">
                <thead>
                    <tr>
                        <td>File Name
                        </td>
                        <td style="width: 70px;">File Size
                        </td>
                        <td style="width: 100px;">Người upload
                        </td>
                        <td style="width: 100px;">Ngày upload
                        </td>
                        <td style="width: 50px;"></td>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </form>
</div>

<style type="text/css">
    .jqmWindow {
        display: none;
        position: fixed;
        top: 30%!important;
        left: 50%!important;
        margin-left: 0px!important;
        width: auto!important;
        min-width: 600px;
        background-color: #fff;
        color: #333;
        border: 1px solid #A9A8A8;
        padding: 12px;
        transform: translateX(-50%);
        border-radius: 5px;
        z-index: 3000;
    }

    .jqmOverlay {
        background-color: #000;
    }

    /* Background iframe styling for IE6. Prevents ActiveX bleed-through (<select> form elements, etc.) */
    * iframe.jqm {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: expression(this.parentNode.offsetWidth+'px');
        height: expression(this.parentNode.offsetHeight+'px');
    }

    /* Fixed posistioning emulation for IE6
     Star selector used to hide definition from browsers other than IE6
     For valid CSS, use a conditional include instead */
    * html .jqmWindow {
        position: absolute;
        top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(17 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px');
    }
</style>
