@using BatDongSan.Models.NhanSu
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int i = 1;    
}
<link rel="stylesheet" href="~/Content/batdongsan-alert.css" />
<script src="~/Scripts/batdongsan.generals.js"></script>
<script src="~/Scripts/batdongsan.utils.js"></script>
<script type="text/javascript" src="~/Scripts/Jquery.treeview/jquery.treeview.js"></script>
<link rel="stylesheet" href="~/Scripts/Jquery.treeview/jquery.treeview.css" />
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<style>
    #content td, th
    {
        border-bottom: 1px inset #ADC2D6;
        position: relative;
        text-align: center;
    }

    #navigation1
    {
        overflow: auto;
        height: 600px;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        //setting phong ban//
        $("#navigation1").treeview({
            persist: "location",
            unique: false,
            collapsed: true
        }).find(".expandable-hitarea").click();


        $('ul.dropdown-menu .hitarea').on('click', function (event) {
            event.stopPropagation();
        });

        $('#txtsearch').on("input", function () {

            $('#navigation1').filterLink($('#txtsearch').val());
        });

        $("#phongban-dropdown-menu").removeAttr("style");

        $("#customModal").on("hide.bs.modal", function () {
            $("#custom-panel").html("");
        });

        $(document).on("click", "#phongban-dropdown-menu li a", function () {
            $("#saveIDPhongBan").val($(this).attr('alt'));
            $("#btnPhongBan").val($(this).attr('alt'));
            $(this).parents(".dropdown").find('.btn').html($(this).text() + ' &nbsp;<span class="caret"></span>');
            $("#btnSearch").click();

        })
        //End
        //$("#phongban-dropdown-menu").removeAttr("style");



        $(document).on("click", ".btnEdit", function () {
            var url = "/HopDongLaoDong/Edit/" + this.value;
            location.href = url;
        })

        $("#btnSearch").click(function () {
            var url = "@Url.Action("Index", "HopDongLaoDong")" + "?searchString=" + $("#pref-search").val().replace(/\ /g, "+") + "&loaiHopDong=" + $("#loaiHopDong").val() + "&maPhongBan=" + $("#saveIDPhongBan").val() + "&trangThai=" + $("#trangThaiDuyet").val();
            beginPaging();
            $("#content").html('<h4>Loading...</h4>').load(url, function () {
                successPaging();
            })
        })

        $("#trangThaiDuyet").change(function () {
            var url = "@Url.Action("ViewIndex", "PhuLucHopDong")" + "?id=" + $("#soHopDong").val() + "&trangThai=" + $("#trangThaiDuyet").val();
            beginPaging();
            $("#content").html('<h4>Loading...</h4>').load(url, function () {
                successPaging();
            })
        })

        $("#loaiHopDong").change(function () {
            $("#btnSearch").click();
        })


        $(document).on("click", ".btnDelete", function () {
            var url = "@Url.Action("Delete", "PhuLucHopDong")" + "/" + $(this).attr("alt");
            bootbox.confirm("Bạn có muốn xóa không", function (result) {
                if (result) {
                    var form = document.getElementById("form-submit");
                    form.action = url;
                    form.submit();
                }
            })
        });
    });


        function them() {
            if ($("#flagPhuLuc").val() == "false") {
                alert("Tồn tại phụ lục hợp đồng chưa được duyệt nên bạn không thể tạo phụ lục");
            }
            else {
                var url = "@Url.Action("Create", "PhuLucHopDong")?id=" + $("#soHopDong").val();
                location.href = url;
            }
        }

        function troVe() {
            var url = "@Url.Action("Index", "HopDongLaoDong")";
            location.href = url;
        }

        function beginPaging(args) {
            // Animate        
            $('#content').fadeOut('fast');
        }

        function successPaging() {
            // Animate
            $('#content').fadeIn('fast');
        }

        function failurePaging() {
            alert("Không thể tải dữ liệu");
        }

        function enterToSeacrh(event) {
            if (event.keyCode == 13)
                $("#btnSearch").click();
        }

        //Lịch sử duyệt
        function ViewDetailHistory(soPhieu, maQuiTrinh) {
            var url = '@Url.Action("LichSuDuyetPhieu/", "DMNguoiDuyet")' + soPhieu + '?maQuiTrinh=' + maQuiTrinh;
        PopUpManager(url, "DUYET", 700, 200);
    }

    function PopUpManager(url, title, w, h) {
        var left = (screen.width / 2) - (w / 2);
        var top = (screen.height / 2) - (h / 2);
        var targetWin = window.open(url, title, 'width=' + w + ', height=' + h + ', top=' + top + ', left=' + left);
    }
</script>
<form id="form-submit" method="post">
    <input type="hidden" value="" id="saveIDPhongBan" />
    <div id="container">
        <fieldset class="removeBorderFieldset">
            <div id="tabs" class="ui-tabs">
                <ul class="ui-tabs-nav">
                    <li class="ui-tabs-selected ui-state-active"><a><span>Danh sách phụ lục hợp đồng lao động</span></a></li>
                </ul>
            </div>
            <div class="panel-body background_top">
                <div class="form-inline">
                    @Html.Hidden("flagPhuLuc", (string)ViewBag.FlagPhuLuc)
                    @*   <div class="form-group" id="loaiHopDong-div">
                        @Html.DropDownList("loaiHopDong", ViewBag.LoaiHopDongs as SelectList, new { @class = "btn btn-sm btn-default btn-select btn-select-light", @style = "padding:2px !important;" })
                    </div>
                    <div class="form-group" id="phongban-div">
                        <div class="dropdown">
                            <button class="btn btn-primary btn-sm dropdown-toggle" id="btnPhongBan" type="button" data-toggle="dropdown">
                                Danh sách phòng ban&nbsp;<span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" id="phongban-dropdown-menu">
                                <li role="presentation">
                                    <div class="form-group has-feedback" style="width: 90%; margin: 5px auto;">
                                        <input type="text" class="form-control input-sm" id="txtsearch" placeholder="Search" style="width: 100%" />
                                        <span class="glyphicon glyphicon-search form-control-feedback"></span>
                                    </div>
                                </li>
                                <li role="presentation">
                                    @Html.Raw(ViewBag.PhongBans)
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control input-sm" id="pref-search" onkeypress="enterToSeacrh(event)" value="@ViewBag.Search" style="width:200px" />
                    </div>
                    <div class="form-group">
                        <button id="btnSearch" type="button" class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-search" style=""></span>Tìm kiếm
                        </button>
                    </div>*@
                    <div class="form-group" style="float: right">
                        <button class="btn btn-info btnThemeAdd" type="button" onclick="them()">Thêm </button>
                        <button class="btn btn-info btnTroVe" type="button" onclick="troVe()">Trở về </button>
                        <div style="float: left">
                            <span>Trạng thái:</span>
                            @Html.DropDownList("trangThaiDuyet", ViewBag.TrangThaiDuyet as SelectList, new { @class = "form-control", @style = "width:250px" })
                            @Html.Hidden("soHopDong", (string)ViewBag.SoHopDong)
                        </div>
                    </div>
                </div>
            </div>
            <div id="content">
                @{Html.RenderPartial("ViewIndex");}
            </div>
        </fieldset>
    </div>
</form>
