@using BatDongSan.Models.HeThong;
@using BatDongSan.Controllers.HeThong;
@model Sys_User
@{    
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool ischecked = false;
}
<link rel="stylesheet" href="~/Content/bootstrap-switch/bootstrap3/bootstrap-switch.min.css" />
<script src="~/Scripts/jquery-2.1.4.min.js"></script>
<script src="~/Scripts/bootstrap-switch.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js" type="text/javascript"></script>
<script src="~/Scripts/additional-methods.min.js" type="text/javascript"></script>
<script src="~/Scripts/batdongsan.validate.js"></script>
<script src="~/Content/bootstrap/js/bootstrap.min.js"></script>
<script src="~/Scripts/batdongsan.generals.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>


<style>
    .main-tbl td {
        border: none !important;
        line-height: 2.428571 !important;
        vertical-align: middle !important;
    }
</style>
<script>
    $(document).ready(function () {
        $("#status").attr("data-size", "mini").bootstrapSwitch();

        $("#btnTaoAccount").click(function (e) {
            bootbox.confirm("Bạn có chắc tạo tài khoản cho nhân viên này?. Nhân viên được tạo sẽ nhận mail chứa thông tin về tài khoản đăng nhập.", function (result) {
                if (result) {
                    $("#form-submit").submit();
                    Alert.success("Đã tại User thành công!", "Thông báo", { displayDuration: 2000 });
                }
            });
        });



        //$("#btnSubmit").click(function (event) {
        //    $("#error-message").find("ul").empty();
        //    var usname = $("#userName").val();
        //    var pass = $("#password").val();
        //    var passlen = pass.length;

        //    if (passlen > 0 && passlen < 6) {
        //        $("#error-message").find("ul").html(function () {
        //            $(this).append("<li>Mật khẩu phải ít nhất 6 ký tự</li>");
        //        });
        //        event.preventDefault();
        //    }
        //    else {
        //        if (pass != $("#xacnhanpass").val()) {
        //            $("#error-message").find("ul").html(function () {
        //                $(this).append("<li>Xác nhận mật khẩu không đúng</li>");
        //                event.preventDefault();
        //            });
        //        }
        //    }

        //    if ($("#error-message").find("ul").html() != "") {
        //        $("#error-message").fadeIn("fast");
        //        var counter = 5;
        //        var timer = setInterval(function () {
        //            counter--;
        //            if (counter == 0) {
        //                $("#error-message").fadeOut("slow");
        //                clearInterval(timer);
        //            }
        //        }, 1500);
        //    }
        //});



        $('.btnNhanVien').click(function () {
            var url = '@Url.Action("GetNhanVienInfo", "User")';
            $('#filter-panel .panel-default').load(url, function () {
                if ($('#filter-panel >:first').html().trim() == '') {
                    $('#filter-panel').toggleClass('in');
                }
            });
        })
        $(".btnNhanVien").click(function () {

            var Url = '/User/ChonNhanVien';
            $('#filter-panel').load(Url);
        });

        $("#myModal").on("hidden.bs.modal", function () {
            $("#filter-panel .panel-default").html("");
        })

        $("#btnTroVe").click(function () {
            location.href = "@Url.Action("Index", "User")";
        })
    });
</script>
<form id="form-submit" method="post">
    <div style="width: 100%">
        <fieldset>
            <legend style="display: inline">Đăng ký người dùng</legend>
            <div id="error-message" class="form-error alert alert-danger" style="display: none">
                <strong>Đăng ký không thành công!</strong>
                <ul>
                </ul>
            </div>
            <div class="panel-body">
                <div>
                    <table class="table main-tbl">
                        <tr>
                            <td class="tdtitle">Nhân viên <span style="font-style: italic; float: right; color: red">*</span></td>
                            <td>
                                <div style="display: inline-flex; width: 100%;">
                                    @Html.HiddenFor(model => model.manv)
                                    <input type="text" class="form-control" required="required" name="nhanvien" id="nhanvien" />
                                    <div style="width: 125px; float: right">
                                        <button style="" type="button" class="btn btn-primary btn-sm btnNhanVien" id="btnNhanVien" data-toggle="modal" data-target="#myModalChonPhongBan">
                                            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>&nbsp;Chọn nhân viên</button>
                                    </div>
                                    <span style="color: red; font-style: italic">@TempData["MaNhanVien"]</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-1 tdtitle">Tên đăng nhập <span style="font-style: italic; float: right; color: red">*</span>
                            </td>
                            <td id="ttlmauser" class="col-md-2">
                                @Html.TextBoxFor(model => model.userName, new { @class = "form-control", maxlength = "50", required = "required", @readonly = "readonly" })
                                <span style="color: red; font-style: italic">@TempData["TenDangNhap"]</span>
                            </td>
                        </tr>

                        @*<tr>
                            <td class="tdtitle">Mật khẩu <span style="font-style: italic; float: right; color: red">*</span></td>
                            <td>
                                @Html.PasswordFor(model => model.password, new { @class = "form-control", required = "required", maxlength = "200" })
                            </td>
                        </tr>
                        <tr>
                            <td class="tdtitle">Xác nhận mật khẩu <span style="font-style: italic; float: right; color: red">*</span>
                            </td>
                            <td>
                                <input type="password" class="form-control" required="required" name="xacnhanpass" id="xacnhanpass" maxlength="200" />
                            </td>
                        </tr>*@
                        <tr>
                            <td class="tdtitle">Email <span style="font-style: italic; float: right; color: red">*</span></td>
                            <td>
                                @Html.TextBoxFor(model => model.email, new { @class = "form-control", required = "required", @readonly = "readonly" })
                            </td>
                        </tr>
                        @*<tr>
                            <td class="tdtitle">Số điện thoại di động
                            </td>
                            <td>
                                @Html.TextBoxFor(model => model.telephone, new { @class = "form-control", @maxlength = "20" })
                            </td>
                        </tr>*@
                        <tr>
                            <td class="tdtitle">Trạng thái kích hoạt
                            </td>
                            <td>
                                @Html.CheckBox("status", ischecked, new { @class = "form-control" })
                            </td>
                        </tr>
                        <tr>
                            <td class="tdtitle">Ghi chú
                            </td>
                            <td>
                                @Html.TextAreaFor(model => model.note, new { @class = "form-control" })
                            </td>
                        </tr>
                    </table>
                </div>
                <div style="text-align: center">
                    <button type="button" id="btnTaoAccount" class="btn btn-info">Tạo account</button>
                    <button class="btn btn-info" type="button" id="btnTroVe">Trở về </button>
                </div>
            </div>
            <!-- Modal -->
            <div id="myModalChonPhongBan" class="modal fade" role="dialog">
                <div class="modal-dialog modal-lg">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title"></h4>
                        </div>
                        <div class="modal-body">
                            <div class="container" style="width: 98%">
                                <div class="row">
                                    <div id="filter-panel" class="filter-panel">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>

                </div>
            </div>

        </fieldset>
    </div>
</form>
