@using BatDongSan.Models.NhanSu;
@model HopDongLaoDongModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";    
}
<link rel="stylesheet" href="~/Content/bootstrap-datetimepicker.min.css" />
<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/vi.js"></script>
<script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
<script src="~/Scripts/autoNumeric.js"></script>
<script src="~/Scripts/batdongsan.uploadfile.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".datepicker").datetimepicker({
            locale: 'vi',
            format: 'DD/MM/YYYY'
        });

        $(".numberinput").autoNumeric('init', { mDec: 0, lZero: 'deny', aSep: ',', aDec: '.', pSign: 's', vMin: '0' });

        $("#btnNhanVien").click(function () {
            $("#customModal .modal-dialog").addClass("modal-lg");
            var url = "@Url.Action("NhanVienDuyet", "LuongChoViec")";
            $("#custom-panel").load(url);
        });

        $(document).on("click", ".btnChonNVPB", function () {
            var selected = $(this).parent();
            if (selected.length != 0) {
                var hoten = selected.find('#hotenNVPB').val(),
                    manv = selected.find('#maNVPB').val(),
                    chucDanh = selected.find("#chucVuNVPB").val();;
                $('#tenNhanVien').val(hoten);
                $('#maNhanVien').val(manv);
                $("#tenChucDanh").val(chucDanh);
                //$('.panel-default').html('');
            }
        });

        $("#tyLeLuongChoViec").on("keyup keydown", function () {
            var tyLeLuongChoViec = $("#tyLeLuongChoViec").autoNumeric("get");
            var luongDongBH = $("#luongDongBH").autoNumeric("get");

            var luongChoViec = (parseFloat(luongDongBH) * parseFloat(tyLeLuongChoViec)) / 100;
            $("#luongChoViec").autoNumeric("set", luongChoViec.toFixed(2));
        });

        $("#luongChoViec").on("keyup keydown", function () {
            var luongChoViec = $("#luongChoViec").autoNumeric("get");
            var luongDongBH = $("#luongDongBH").autoNumeric("get");

            var tyLeLuongChoViec = parseFloat(luongChoViec) * 100 / parseFloat(luongDongBH);
            if (tyLeLuongChoViec > 100) {
                $("#tyLeLuongChoViec ").autoNumeric("set", 0);
                $("#luongChoViec ").autoNumeric("set", 0);
            }
            else {
                $("#tyLeLuongChoViec ").autoNumeric("set", tyLeLuongChoViec.toFixed(2));
            }
        });

        $('#tyLe').on('keyup keydown', function () {
            tinhLuongKiemNhiem();
        })


        $("#customModal").on("hide.bs.modal", function () {
            $("#custom-panel").html("");
        });

        $("#btnTroVe").click(function () {
            location.href = "/LuongChoViec";
        });

        $("#maLoaiHopDong").change(function () {
            if (this.value == "THUVIEC") {
                $("#tyLeHuong").autoNumeric("set", 85);
            } else {
                $("#tyLeHuong").autoNumeric("set", 100);
            }
            $("#tyLeHuong").trigger("keyup");
        });
    })

    function beginPaging(args) {
        // Animate        
        $('#content').fadeOut('fast');
    }

    function successPaging() {
        // Animate
        $('#content').fadeIn('normal');
    }

    function failurePaging() {
        alert("Không thể tải dữ liệu");
    }

    function enterToSeacrh(event) {
        if (event.keyCode == 13)
            $("#btnSearch").click();
    }

    function tinhLuongKiemNhiem() {
        var tyle = $('#tyLe').autoNumeric('get'),
            luongcoban = $('#luongCoBan').autoNumeric('get');
        var luongkiemnhiem = parseFloat(tyle) * parseFloat(luongcoban) / 100;
        if (isNaN(luongkiemnhiem)) {
            $('#luongKiemNhiem').val('');
        } else {
            $('#luongKiemNhiem').autoNumeric('set', luongkiemnhiem);
        }
    }

</script>
<style>
    td
    {
        border: none!important;
    }

    .input-group-btn
    {
        position: absolute;
        font-size: 0;
    }

    .numberinput
    {
        text-align: right;
    }
</style>
<form id="form-submit" method="post" action="/LuongChoViec/Create" enctype="multipart/form-data">
    <fieldset class="removeBorderFieldset">
        <div id="tabs">
            <ul class="ui-tabs-nav">
                <li class="ui-tabs-selected active">
                    <a href="#tab1" data-toggle="tab"><span>Thêm mới lương kiêm nhiệm</span></a></li>
            </ul>
        </div>
        <div class="tab-content">
            <div class="tab-pane in active" id="tab1">
                <table class="table table-hover table-striped table-condensed" style="position: relative">
                    <tr>
                        <td class="tdtitle" style="width: 15%">Nhân viên <span style="font-style: italic; float: right; color: red">*</span></td>
                        <td style="width: 35%">
                            <div style="display: inline-flex; width: 100%;">
                                <input type="text" name="tenNhanVien" id="tenNhanVien" class="form-control" required="required" />
                                @Html.HiddenFor(model => model.maNhanVien, new { required = "required" })
                                <div style="width: 125px; float: right">
                                    <button style="width: 100%;" type="button" class="btn btn-primary btn-sm" id="btnNhanVien" data-toggle="modal" data-target="#customModal">
                                        <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>&nbsp;Chọn nhân viên</button>
                                </div>
                            </div>
                        </td>
                        <td class="tdtitle" style="width: 15%">Chức danh</td>
                        <td style="width: 35%">
                            <input name="tenChucDanh" id="tenChucDanh" class="form-control" readonly="readonly" /></td>
                    </tr>
                    <tr>
                        <td class="tdtitle">Mã hợp đồng <span style="font-style: italic; float: right; color: red">*</span></td>
                        <td>@Html.TextBoxFor(model => model.soHopDong, new { @class = "form-control", @readonly = "readonly" })
                            <span style="color: red; font-style: italic">@TempData["SoHopDong"]</span>
                        </td>
                        <td class="tdtitle">Tên hợp đồng</td>
                        <td>
                            @Html.TextBoxFor(model => model.tenHopDong, new { @class = "form-control", @readonly = "readonly" })
                            @Html.HiddenFor(model => model.soPhuLuc, new { @class = "form-control", @readonly = "readonly" })
                        </td>
                    </tr>
                    <tr>
                        <td class="tdtitle">Mã chờ việc <span style="font-style: italic; float: right; color: red">*</span></td>
                        <td>@Html.TextBoxFor(model => model.maLuongChoViec, new { @class = "form-control", required = "required", @readonly = "readonly" })
                            <span style="color: red; font-style: italic">@TempData["SoHopDong"]</span>
                        </td>

                        <td class="tdtitle">Ngày lập<span style="font-style: italic; float: right; color: red">*</span></td>
                        <td>
                            @Html.TextBoxFor(model => model.ngayLap, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker", required = "required" })

                        </td>
                    </tr>
                    <tr>
                        <td class="tdtitle">Áp dụng từ <span style="font-style: italic; float: right; color: red">*</span></td>
                        <td>@Html.TextBoxFor(model => model.apDungTu, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker", required = "required" })</td>
                        <td class="tdtitle">Đến hết</td>
                        <td>@Html.TextBoxFor(model => model.apDungDen, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker" })
                    </tr>
                    <tr>
                        <td class="tdtitle">Lương cơ bản (1)</td>
                        <td>
                            @Html.TextBoxFor(model => model.luongCoBan, new { @class = "form-control numberinput", @readonly = "readonly" })
                        </td>
                        <td class="tdtitle">Lương thành tích (2)</td>
                        <td>
                            @Html.TextBoxFor(model => model.luongThanhTich, new { @class = "form-control numberinput", @readonly = "readonly" })
                        </td>
                    </tr>
                    <tr>
                        <td class="tdtitle">Tổng lương (3=2+1)</td>
                        <td>
                            @Html.TextBoxFor(model => model.tongLuong, new { @class = "form-control numberinput", required = "required", @readonly = "readonly" })
                        </td>
                        <td class="tdtitle">Lương đóng BH</td>
                        <td>
                            @Html.TextBoxFor(model => model.luongDongBH, new { @class = "form-control numberinput", @readonly = "readonly" })
                        </td>
                    </tr>
                    @*<tr>
                        <td class="tdtitle">Tổng lương (5=3+4)</td>
                        <td>@Html.TextBoxFor(model => model.tongLuong, new { @class = "form-control numberinput", @readonly = "readonly" })</td>
                        <td class="form-inline tdtitle">Công chờ việc</td>
                        <td>@Html.TextBoxFor(model => model.congChoViec, new { @class = "form-control numberinput", required = "required" })</td>
                    </tr>*@
                    <tr>
                        <td class="tdtitle">Tỷ lệ <span style="font-style: italic; float: right; color: red">*</span></td>
                        <td>@Html.TextBoxFor(model => model.tyLe, new { @class = "form-control numberinput", data_v_max = "100", data_a_sign = " %", required = "required" })</td>

                        <td class="form-inline tdtitle">Lương kiêm nhiệm <span style="font-style: italic; float: right; color: red">*</span></td>
                        <td>@Html.TextBoxFor(model => model.luongKiemNhiem, new { @class = "form-control numberinput", required = "required" })</td>
                    </tr>
                    <tr>
                        <td class="tdtitle">Ghi chú</td>
                        <td colspan="3">
                            <textarea class="form-control" name="ghiChuMain" id="ghiChuMain"></textarea>

                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="form-group" style="float: right">
            <button class="btn btn-info" id="btnSubmit">Lưu </button>
            <button class="btn btn-info btnTroVe" type="button" id="btnTroVe">Trở về </button>
        </div>
    </fieldset>
</form>
<div id="customModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div class="container" style="width: 100%">
                    <div class="row">
                        <div id="custom-panel" class="filter-panel">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
