@using BatDongSan.Models.NhanSu;
@model ThangTinhThueTNCNModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int i = 1; 
}
<link rel="stylesheet" href="~/Content/bootstrap-datetimepicker.min.css" />
<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/vi.js"></script>
<script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
<script src="~/Scripts/autoNumeric.js"></script>
<script src="~/Scripts/batdongsan.uploadfile.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".numberinput").autoNumeric('init', { mDec: 2, lZero: 'deny', aSep: ',', aDec: '.', pSign: 's', vMin: '0' });

        $("#btnTroVe").click(function () {
            location.href = "/ThangTinhThueTNCN";
        })
    })

</script>
<style>
    td
    {
        border: none!important;
    }

    .input-group-btn
    {
        position: absolute;
        font-size: 0;
    }

    .numberinput
    {
        text-align: right;
    }

    th
    {
        text-align: center;
    }

    .tdtitle
    {
        font-weight: 600;
    }

        .tdtitle:after
        {
            content: ":";
        }
</style>
<form>
    <fieldset class="removeBorderFieldset">
        <div id="tabs">
            <ul class="ui-tabs-nav">
                <li class="ui-tabs-selected active">
                    <a href="#tab1" data-toggle="tab"><span>Thang thuế thu nhập cá nhân</span></a></li>
            </ul>
        </div>
        <div class="form-group" style="float: right">
            <button class="btn btn-info" type="button" id="btnTroVe">Trở về </button>
        </div>
        <div class="tab-content">
            <div class="tab-pane in active" id="tab1">
                <table class="table table-hover table-striped table-condensed" style="position: relative">
                    <tr>
                        <td style="width: 200px" class="tdtitle">Mô tả</td>
                        <td>@Html.DisplayFor(model => model.moTa)</td>
                    </tr>
                    <tr>
                        <td class="tdtitle">Ngày áp dụng</td>
                        <td>@Model.ngayApDung.Value.ToString("dd/MM/yyyy")</td>
                    </tr>
                    <tr>
                        <td class="tdtitle">Giảm trừ cá nhân</td>
                        <td class="numberinput" style="text-align:left">@Html.DisplayFor(model => model.giamTruCaNhan)</td>
                    </tr>
                    <tr>
                        <td class="tdtitle">Giảm trừ gia cảnh / người</td>
                        <td class="numberinput" style="text-align:left">@Html.DisplayFor(model => model.giamTruGiaCanh)</td>
                    </tr>
                    <tr>
                        <td class="tdtitle">Ghi chú</td>
                        <td>@Html.DisplayFor(model => model.ghiChu)</td>
                    </tr>
                    <tr>
                        <td class="tdtitle">Thông tin chi tiết</td>
                        <td>
                            <div id="container">
                                <div id="filter-panel" class="collapse filter-panel background_top" style="display: block">
                                    <table class="table table-hover table-striped table-condensed">
                                        <thead>
                                            <tr>
                                                <th>STT</th>
                                                <th>Nội dung</th>
                                                <th>Từ</th>
                                                <th>Đến</th>
                                                <th>Mức đóng</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.chiTiets)
                                            {
                                                <tr>
                                                    <td class="stt" style="text-align:center">@i</td>
                                                    <td>@item.noiDung</td>
                                                    <td class="numberinput">@item.mucChiuThueTu</td>
                                                    <td class="numberinput">@item.mucChiuThueDen</td>
                                                    <td class="numberinput" data-a-sign=" %">@item.thue</td>
                                                </tr>
                                                i++;
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </fieldset>
</form>
