@using BatDongSan.Models.QLSuatAn.LuuVet
@model IList<tbl_SA_CuaHang_MonAn>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int i = 1;    
}
<link rel="stylesheet" href="~/Content/batdongsan-alert.css" />
<script src="~/Scripts/batdongsan.generals.js"></script>
<style>
    #content td {
        border-bottom: 1px inset #ADC2D6;
        position: relative;
        text-align: center;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {

        $("#btnModalCreate").click(function () {
            var url = "@Url.Action("Create", "DMMonAn")";
            var form = document.getElementById("form-submit");
            form.action = url;
            $("#custom-panel").load(url)
        })

        $("#customModal").on("hide.bs.modal", function () {
            $("#custom-panel").html("");
        });

        $(document).on("click", ".btnEdit", function () {
            var url = "@Url.Action("Edit", "DMMonAn")" + "/" + $(this).attr("alt");
            var form = document.getElementById("form-submit");
            form.action = url;
            $("#custom-panel").load(url);
        })

        $(document).on("click", ".btnDelete", function () {
            var url = "@Url.Action("Delete", "DMMonAn")" + "/" + $(this).attr("alt");
            bootbox.confirm("Bạn có muốn xóa không", function (result) {
                if (result) {
                    var form = document.getElementById("form-listview");
                    form.method = "post";
                    form.action = url;
                    form.submit();
                }
            });
        })
    });

</script>
<form id="form-listview">
    <div id="container">
        <fieldset class="removeBorderFieldset">
            <div id="tabs" class="ui-tabs">
                <ul class="ui-tabs-nav">

                    <li class="ui-tabs-selected ui-state-active"><a><span><i class="fa fa-list" aria-hidden="true">Danh sách món ăn</i></span></a></li>
                </ul>
            </div>
            <div class="panel-body background_top">
                <div class="form-inline">
                    <div class="form-group" style="float: right">
                        <button class="btn btn-info" id="btnModalCreate" type="button" data-toggle="modal" data-target="#customModal">Thêm </button>
                    </div>
                </div>
            </div>
            <div id="content">
                <table class="table table-striped table-hover table-condensed" id="maintable">
                    <thead>
                        <tr>
                            <th style="text-align: center; width: 45px">STT</th>
                            <th>Mã món ăn</th>
                            <th>Tên món ăn</th>
                            <th>Cửa hàng</th>
                            <th>Ghi chú</th>
                            <th style="width: 100px"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td style="text-align: center">@i</td>
                                <td>@item.maMonAn</td>
                                <td>@item.tenMonAn</td>
                                <td>@item.ghiChu</td>
                                <td style="text-align: right">
                                    <a class="btnEdit" alt="@item.id" data-toggle="modal" data-target="#customModal"  title ="Sửa phiếu"><i class="fa fa-pencil-square-o" style="font-size: 30px; color: orange; cursor: pointer;" aria-hidden="true">| </i></a>
                                    <a class="btnDelete" alt="@item.id" title ="Xoá phiếu"><i class="fa fa-trash" style="font-size: 30px; color: red; cursor: pointer;" aria-hidden="true"></i></a>

                                    @*  <button class="btn btn-primary btn-xs btnEdit" type="button" data-toggle="modal" data-target="#customModal" value="@item.id">Sửa</button>
                                    <button class="btn btn-warning btn-xs btnDelete" type="button" value="@item.id">Xóa</button>*@
                                </td>
                            </tr> 
                            i++;
                        }
                    </tbody>
                </table>
            </div>
            <div style="text-align: center; display: none" id="loader">
                <img src="/Images/loader.gif" />
            </div>
        </fieldset>
    </div>
</form>
<form id="form-submit" method="post"  enctype="multipart/form-data">
    <!--------------------------- Modal - Thêm Sửa Modal Form ------------------------>
    <div id="customModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <div class="container" style="width: 100%">
                        <div class="row">
                            <div id="custom-panel" class="filter-panel">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" id="btnSubmit">Lưu</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" id="btnCloseEmail">Đóng</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
