@using BatDongSan.Models.ChamCong
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
  
   
}

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/additional-methods.min.js"></script>
<script src="~/Scripts/autoNumeric.js"></script>
<script src="~/Scripts/batdongsan.validate.js"></script>
<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/vi.js"></script>
<script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
<link rel="stylesheet" href="~/Content/bootstrap-datetimepicker.min.css" />
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<style>
    .pageActive, .pageCurrent:hover, .pageNext:hover, .pageLast:hover, .pageFirst:hover, .pagePrevious:hover {
        padding: 7px 11px;
        background-color: #4D8AFF;
        color: #FFFFFF;
        display: inline-block;
        border: 1px solid #80ABFF;
        border-radius: 20px;
        text-decoration: none;
        font-weight: bold;
    }

    .pageCurrent, .pageNext, .pageLast, .pageFirst, .pagePrevious {
        padding: 7px 11px;
        background-color: #fff;
        display: inline-block;
        border: 1px solid #80ABFF;
        border-radius: 20px;
        font-weight: bold;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $(".datepicker").datetimepicker({
            locale: 'vi',
            format: 'DD/MM/YYYY'
        });
        $("#btnSearch").click(function () {
            Search();
        });
        $("#nam,#thang").change(function () {
            $("#btnSearch").click();
        });
        Search();
    });

    function OnCriteriaPC(page) {
        var giatri = $("#qSearch").val().trim();
        giatri = giatri.replace(/ /gi, '+');
        var url = '@Url.Action("LoadXemTinhHinhRaVao", "ChamCong")' + "?tuNgay=" + $("#tuNgay").val() + "&denNgay=" + $("#denNgay").val() + "&qSearch=" + giatri + "&_page=" + page;
        var imageUrl = '<div id="divMsg" align="center"><img src="@Url.Content("~/Content/Images/loading.gif") "/></div>';
        $('#tbody').html(imageUrl);
        $('#tbody').load(url, function () {
        });
    }

    function Search() {

        var giatri = $("#qSearch").val().trim();
        giatri = giatri.replace(/ /gi, '+');
        var url = '@Url.Action("LoadXemTinhHinhRaVao", "ChamCong")' + "?tuNgay=" + $("#tuNgay").val() + "&denNgay=" + $("#denNgay").val() + "&qSearch=" + giatri + "&_page=1";

        var imageUrl = '<div id="divMsg" align="center"><img src="@Url.Content("~/Content/Images/loading.gif") "/></div>';
        $('#tbody').html(imageUrl);
        $('#tbody').load(url, function () {
        });
    }


    function Reset() {
        location.href = '@Url.Action("XemTinhHinhRaVao", "ChamCong")';
    }


    function enterToSeacrh(event) {
        if (event.keyCode == 13)
            $("#btnSearch").click();
    }

    function ToWeek() {
        $("#denNgay").data("DateTimePicker").date(moment());
        $("#tuNgay").data("DateTimePicker").date(moment().subtract(7, "day"));
    }

    function ToMonth() {
        $("#tuNgay").data("DateTimePicker").date(moment().subtract(1, "month"));
        $("#denNgay").data("DateTimePicker").date(moment());
    }
</script>

<fieldset class="removeBorderFieldset">

    <div id="tabs" style="" class="ui-tabs">
        <ul class="ui-tabs-nav">
            <li class="ui-tabs-selected ui-state-active"><a><span>Xem tình hình nhân viên ra vào</span></a></li>
        </ul>
    </div>
    <div id="container">
        <div id="filter-panel" class="collapse filter-panel" style="display: block; position: relative">
            <div class="panel panel-default background_top">
                <div class="panel-body">
                    <div style="line-height: 26px; float: left">
                        @* Tháng:@Html.DropDownList("thang", ViewData["lstThang"] as SelectList, new { @style = "width:150px" })
                        Năm:@Html.DropDownList("nam", ViewData["lstNam"] as SelectList, new { @style = "width:150px" })*@
                        <input type="text" id="tuNgay" value="@string.Format("{0:dd/MM/yyyy}", (string)ViewBag.TuNgay)" class="form-control datepicker" placeholder="Từ ngày" style="width: 80px; float: left; margin-right: 5px" />
                        <input type="text" id="denNgay" value="@string.Format("{0:dd/MM/yyyy}", (string)ViewBag.DenNgay)" class="form-control datepicker" placeholder="Đến ngày" style="width: 80px; float: left; margin-right: 5px" />
                        <div style="float: left">
                            <a href="javascript:void(0)" onclick="ToWeek()"><i class="fa fa-calendar" aria-hidden="true"></i>7 ngày</a> <a href="javascript:void(0)" onclick="ToMonth()"><i class="fa fa-calendar" aria-hidden="true"></i>30 ngày</a>
                        </div>
                        <div style="float: right; margin-left: 5px" class="clrFullMobile">
                        </div>
                    </div>
                    <div style="float: right">
                        <input type="text" id="qSearch" value="@ViewBag.Search" class="form-control" style="width:300px;float:left;margin-right:5px" placeholder="Nhập giá trị tìm kiếm" onkeypress="enterToSeacrh(event);" />
                        <button class="btn btn-info" id="btnSearch" type="button" style="margin-top: 2px; float: left; margin-left: 2px">Tìm kiếm</button>
                    </div>

                </div>
            </div>
        </div>
        <table style="width: 100%" class="table table-striped table-hover table-condensed tableThemeCustome">

            <thead>
                <tr>
                    <th style="width: 35px; text-align: center">STT
                    </th>
                    <th style="text-align: center">Nhân viên
                    </th>

                    <th style="text-align: center">Mã Vân tay - Mã chấm công
                    </th>
                    <th style="text-align: center">Tên phòng ban-Chức danh
                    </th>

                    <th style="text-align: center">Ngày quét</th>
                    <th style="text-align: center">Tên ngày</th>
                    <th style="text-align: center">Giờ quét</th>


                </tr>
            </thead>
            <tbody id="tbody">
            </tbody>


        </table>

    </div>
</fieldset>
