@using BatDongSan.Models.DanhMuc;
@model tbl_DM_ThoiHanHopDongLaoDong
<script src="/Scripts/jquery.validate.min.js"></script>
<script src="/Scripts/additional-methods.min.js"></script>
<script src="/Scripts/batdongsan.validate.js"></script>
<script src="~/Scripts/autoNumeric.js"></script>
<script>
    $(document).ready(function () {
        $(".numberinput").autoNumeric('init', { mDec: 0, lZero: 'deny', aSep: ',', aDec: '.', pSign: 's', vMin: '0' });
    })
</script>
<div class="bs-callout bs-callout-info" id="callout-glyphicons-location">
    <h4 style="color: #1b809e; margin-left: 10px">Cập nhật loại hợp đồng</h4>
</div>
<div style="margin-top: 15px">
    <table class="table table-responsive" id="tbl-create">
        <tr>
            <td class="tdtitle">Tên loại hợp đồng <span style="font-style: italic; color: red">*</span></td>
            <td>@Html.TextBoxFor(model => model.tenThoiHanHopDong, new { @class = "form-control", required = "required" })</td>
        </tr>
        <tr>
            <td  class="tdtitle">Loại hợp đồng <span style="font-style: italic; color: red">*</span></td>
            <td>
                <div class="radio">
                    <label class="radio" style="font-size: 13px">
                        @Html.RadioButtonFor(model => model.loaiThoiHan, true, new { style = "width:auto", required = "required" }) Có thời hạn
                    </label>
                </div>
                <div class="radio">
                    <label class="radio" style="font-size: 13px">
                        @Html.RadioButtonFor(model => model.loaiThoiHan, false, new { style = "width:auto", required = "required" }) Không thời hạn
                    </label>
                </div>
            </td>
        </tr>
        <tr>
            <td  class="tdtitle">Số tháng</td>
            <td>@Html.TextBoxFor(model => model.soThang, new { @class = "form-control numberinput", required = "required" })</td>
        </tr>
        <tr>
            <td  class="tdtitle">Ghi chú</td>
            <td>@Html.TextAreaFor(model => model.ghiChu, new { @class = "form-control" })</td>
        </tr>
    </table>
</div>
<style>
    #tbl-create td
    {
        border: none;
    }

    #tbl-create
    {
        margin: 0;
    }
</style>
