@using BatDongSan.Models.NhanSu;
@model IPagedList<sp_NS_BangLuongThang13_IndexResult>
@{
    ViewBag.Title = "Danh sách bảng lương tháng 13";
    Layout = "~/Views/Shared/_Layout.cshtml";
   
}

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/additional-methods.min.js"></script>
<script src="~/Scripts/autoNumeric.js"></script>
<script src="~/Scripts/batdongsan.validate.js"></script>
<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/vi.js"></script>
<script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
<link rel="stylesheet" href="~/Content/bootstrap-datetimepicker.min.css" />
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script>
    $(document).ready(function () {
        $("#btnModalCreate").click(function () {
            location.href = "@Url.Action("Create", "BangLuongThang13")";
        });
        $(document).on("click", ".btnDelete", function () {
            var maPhieu = $(this).attr("alt");
            bootbox.confirm("Bạn chắc chắn xoá phiếu này không ?", function (result) {
                if (result) {
                    $.ajax({
                        type: "POST",
                        url: "/BangLuongThang13/Delete/",
                        data: {
                            maPhieu: maPhieu
                        },
                        error: function () {
                            alert("Error");
                            return false;
                        },
                        success: function (result) {
                            if (result == 1) {
                                Alert.success("Xóa thành công", "Thông báo", { displayDuration: 3000 });
                            }
                            else {
                                Alert.error("Xóa thất bại", "Thông báo", { displayDuration: 3000 });
                            }
                            $('#btnTimKiem').click();
                        }
                    });
                }
            });
        });
        $(document).on("click", ".btnEdit", function () {
            var url = "@Url.Action("Edit", "BangLuongThang13")" + "/" + this.value;
            location.href = url;
        });
        $(document).on("click", ".btnDetails", function () {
            var url = "@Url.Action("Details", "BangLuongThang13")" + "/" + this.value;
            location.href = url;
        });
        $("#nam,#thang").change(function () {
            $(".infor_DuyetTongHopCong").html('').hide();
            $('#btnTimKiem').click();
        });
        $('#btnTimKiem').click(function () {
            var searchText = $('#searchString').val();
            var url = "@Url.Action("ViewIndex", "BangLuongThang13")" + "?qSearch=" + searchText + "&nam=" + $("#nam").val() + "&_page=0";
          
            $('#tbody').load(url, function () {
                var trangThaiDuyet = $("#statusCheckDuyet").val();
                if (trangThaiDuyet == "1") {
                    $("#btnDuyetLuongThang13").hide();
                    $("#ShowDuyet").show();
                }
                else {
                    $("#btnDuyetLuongThang13").show();
                    $("#ShowDuyet").hide();
                }
            });
        });
        

        $('#trangThaiDuyet').change(function () {
            var searchText = $('#searchString').val().replace(/\ /g, '+');
            var url = "@Url.Action("ViewIndex", "BangLuongThang13")" + "?qSearch=" + searchText + "&nam=" + $("#nam").val();
            beginPaging();
            $('#content').load(url);
            successPaging();
        });

        $(".datepicker").datetimepicker({
            locale: 'vi',
            format: 'DD/MM/YYYY'
        });
        $("#btnSaveImport").click(function () {
            var fd = new FormData();
            fd.append("fileToUpload", document.getElementById('fileImport').files[0]);
            $.ajax({
                url: "/BangLuongThang13/ImportExcelData",
                type: 'POST',
                dateType: 'json',
                data: fd,
                cache: false,
                contentType: false,
                processData: false,
                success: function (data) {
                    if (data.success == true) {
                        Alert.success("Lưu dữ liệu thành công", "Thông báo", { displayDuration: 2000 });
                        $('#btnTimKiem').click();
                        $("#fileImport").val("");
                    } else {
                        Alert.warning("Định dạng file không được hỗ trợ", "Thông báo", { displayDuration: 0 });
                    }
                },
                error: function (request, textStatus, errorThrown) {
                    Alert.error("Lưu không thành công", "Thông báo", { displayDuration: 0 });
                }
            })
        });
        $("#btnDownload").click(function () {
            var url = "/BangLuongThang13/DownloadImportFile"
            location.href = url;
        })

        $('#btnTimKiem').click();
        $(document).on('click', '#btnDuyetLuongThang13', function () {

            bootbox.confirm("Bạn có chắc chắn duyệt lương tháng 13 không? Sau khi duyệt nhân viên sẽ thấy lương tháng 13, năm: " + $("#nam").val(), function (result) {
                if (result) {
                    var imageUrl = '<div id="divMsg" align="center"><img src="/Content/Images/loading.gif "/></div>';
                    $('.infor_DuyetTongHopCong').html(imageUrl).css('display', 'block');
                    $.ajax({

                        type: "POST",
                        url: '/BangLuongThang13/DuyetLuongThang13',
                        data: {
                            'nam': $("#nam").val()


                        },
                        success: function (result) {
                            $(".infor_DuyetTongHopCong").css('display', 'block');

                            if (result.kq == true) {
                                $(".infor_DuyetTongHopCong").html('Đã duyệt lương tháng 13, năm:' + $("#nam").val());
                            }
                            else {
                                $(".infor_DuyetTongHopCong").html('Duyệt lương tháng 13 thất bại, năm:' + $("#nam").val());
                            }

                            $('#btnTimKiem').click();
                        }
                    });
                }
            });




            //

        });

    });

    function enterToSeacrh(event) {
        if (event.keyCode == 13)
            $("#btnTimKiem").click();
    }
    function ToWeek() {
        $("#denNgay").data("DateTimePicker").date(moment());
        $("#tuNgay").data("DateTimePicker").date(moment().subtract(7, "day"));
    }
    function ToMonth() {
        $("#denNgay").data("DateTimePicker").date(moment());
        $("#tuNgay").data("DateTimePicker").date(moment().subtract(1, "month"));
    }
    function OnCriteriaPC(page) {
        var giatri = $('#searchString').val();
        var url = '@Url.Action("ViewIndex", "BangLuongThang13")' + "?nam=" + $("#nam").val() + "&qSearch=" + giatri + "&_page=" + page;
        var imageUrl = '<div id="divMsg" align="center"><img src="@Url.Content("~/Content/Images/loading.gif") "/></div>';
        $('#tbody').html(imageUrl);
        $('#tbody').load(url, function () {
        });
    }


</script>
<style>
    #content td
    {
        border-bottom: 1px inset #ADC2D6;
        position: relative;
    }

    #content th
    {
        text-align: center;
    }

    #filter-panel td
    {
        border: none;
    }

    .infor_THCT, .infor_CCChiTiet, .infor_DuyetTongHopCong
    {
        padding: 5px;
        background: rgb(226, 144, 72);
        border-radius: 3px;
        color: #fff;
        box-sizing: border-box;
        margin: 5px auto;
        line-height: 1.7;
    }
</style>
<style>
    .pageActive, .pageCurrent:hover, .pageNext:hover, .pageLast:hover, .pageFirst:hover, .pagePrevious:hover
    {
        padding: 7px 11px;
        background-color: #4D8AFF;
        color: #FFFFFF;
        display: inline-block;
        border: 1px solid #80ABFF;
        border-radius: 20px;
        text-decoration: none;
        font-weight: bold;
    }

    .pageCurrent, .pageNext, .pageLast, .pageFirst, .pagePrevious
    {
        padding: 7px 11px;
        background-color: #fff;
        display: inline-block;
        border: 1px solid #80ABFF;
        border-radius: 20px;
        font-weight: bold;
    }
</style>
<form id="form-listview">
    <div id="container">
        <fieldset class="removeBorderFieldset">
            <div id="tabs" style="" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
                <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
                    <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a><span>Danh sách bảng lương tháng 13</span></a></li>
                </ul>
            </div>
            <div id="filter-panel" class="collapse filter-panel" style="display: block; position: relative">
                <div class="panel panel-default background_top">
                    <div class="panel-body">
                        <div style="line-height: 28px;">
                            <div style="float: left">
                                Năm:@Html.DropDownList("nam", ViewData["lstNam"] as SelectList, new { @style = "width:150px" })
                            </div>
                            <div style="float: left; margin-left: 10px;" id="ShowDuyet">Đã duyệt bảng lương tháng 13.</div>

                        </div>
                        <div style="clear: both"></div>
                        <div>
                            <input type="text" id="searchString" value="@ViewBag.Search" class="form-control" style="width:40%;float:left" placeholder="Nhập giá trị tìm kiếm" onkeypress="enterToSeacrh(event);" />
                            <button class="btn btn-info" id="btnTimKiem" type="button" style="margin-top: 2px; margin-left: 2px; float: left">Tìm kiếm</button>
                        </div>

                        <div class="form-group" style="float: right; margin-top: 2px;">
                            <button type="button" data-toggle="modal" data-target="#importModal" class="btn btn-info">Import Excel file</button>
                            <button class="btn btn-info" id="btnModalCreate" type="button">Thêm</button>
                            <button class="btn btn-info" id="btnDuyetLuongThang13" type="button" style="float: left; margin-left: 10px !important; display: block;">Duyệt</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="infor_DuyetTongHopCong" style="display: none"></div>
            <div id="content">
                <table class="table table-striped table-hover table-condensed" id="maintable">
                    <thead>
                        <tr>
                            <th style="width: 35px">STT</th>
                            <th style="width: 120px">Số phiếu</th>
                            <th style="width: 110px">Nhân viên</th>
                            <th style="width: 135px">Phòng ban</th>
                            <th style="width: 50px">Năm</th>
                            <th style="width: 80px">Lương tháng 13</th>
                            <th style="width: 180px">Lý do</th>
                            <th style="width: 80px"></th>
                        </tr>
                    </thead>
                    <tbody id="tbody">
                    </tbody>
                </table>
            </div>


        </fieldset>
    </div>
</form>
<div id="importModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div class="container" style="width: 100%">
                    <div class="row">
                        <div id="import-panel" class="filter-panel">
                            <div id="dialog" class="alert alert-info" style="display: none">
                                <strong>Thông báo!</strong> File đính kèm không đúng định dạng.  
                            </div>
                            <h4>Tải về mẫu phiếu nhập thông tin: </h4>
                            <button class="btn btn-link btn-sm" id="btnDownload" onclick="download()">
                                <i style="color: #fff; padding-right: 0px !important;"
                                    class="fa fa-download" aria-hidden="true"></i>
                            </button>
                            <h4>Chọn file dữ liệu (*.xlsx, *.xls)</h4>
                            <div class="panel panel-default">
                                <input type="file" id="fileImport" name="fileImport" value="Chọn file" style="border: none" />
                            </div>
                            <div class="panel panel-default" style="float: right">
                                <button type="button" id="btnSaveImport" class="btn btn-primary">Lưu</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


