@using BatDongSan.Models.NhanSu;
@model NhanVienModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int i = 1, j = 1, count = 1;
}
<link rel="stylesheet" href="~/Content/bootstrap-datetimepicker.min.css" />
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/additional-methods.min.js"></script>
<script src="~/Scripts/batdongsan.validate.js"></script>
<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/vi.js"></script>
<script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
<script src="~/Scripts/autoNumeric.js"></script>
<script src="~/Scripts/batdongsan.uploadfile.js"></script>
<style>
    .successOk {
        color: green;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $("#maChamCong").on("input", function () {
            var maCCBanDau = $("#maCCBanDau").val();
            if ($("#maChamCong").val() != maCCBanDau && $("#maChamCong").val() != "") {
                $.ajax({
                    type: "POST",
                    url: "/DanhSachCongNhan/CheckMaChamCong",
                    data: {

                        maChamCong: $("#maChamCong").val()

                    },
                    error: function () {
                        alert("Error");
                        return false;
                    },
                    success: function (result) {

                        if (result == 1) {

                            $(".maCCInfor").html('Mã chấm công này đã tồn tại').addClass('error').removeClass("successOk");
                            $("#maChamCong").addClass("error");

                            $("#btnSubmit").hide();

                        }
                        else {
                            $(".maCCInfor").html('Mã chấm công này có thể sử dụng').removeClass('error').addClass("successOk");
                            $("#maChamCong").removeClass("error");
                            if ($("#maCongNhan").hasClass("error") == false && $("#maChamCong").hasClass("error") == false) {
                                $("#btnSubmit").show();
                            }
                        }


                    }
                });
            }
            else {
                $(".maCCInfor").html('').removeClass('error').addClass("successOk");
                $("#maChamCong").removeClass("error");
                if ($("#maCongNhan").hasClass("error") == false && $("#maChamCong").hasClass("error") == false) {
                    $("#btnSubmit").show();
                }
            }

        });
        $("#btnSubmit").click(function () {
            var maPhanCa = $("#maPhanCa").val();
            if (maPhanCa == 0 || maPhanCa == '') {
                Alert.warning("Vui lòng chọn phân ca.", "Thông báo", { displayDuration: 2000 });
                return false;
            }
            var maPhongBan = $("#maPhongBan").val();
            if (maPhongBan == '') {
                Alert.warning("Vui lòng chọn phòng ban.", "Thông báo", { displayDuration: 2000 });
                return false;
            }

        });
        $('#btnSearch').click(function () {
            var searchText = $('#searchString').val().replace(/\ /g, '+');
            var url = "@Url.Action("Index", "NhanVien")" + "?searchString=" + searchText;
            beginPaging();
            $('#content').html('<h4>Loading...</h4>').load(url);
            successPaging();
        });
        $(".numberinput").autoNumeric('init', { mDec: 2, lZero: 'deny', aSep: ',', aDec: '.', pSign: 's', vMin: '0' });

        $("#hinhAnh").change(function (evt) {
            var img = document.getElementById("mgAvartar");
            img.src = URL.createObjectURL(evt.target.files[0])
        })

        $("[href=#tab3]").on('shown.bs.tab', function (event) {
            $("#btnSubmit").hide();
            $("#btnModalCreate").show();
        })

        $("[href=#tab3]").on('hide.bs.tab', function (event) {
            $("#btnModalCreate").hide();
            $("#btnSubmit").show();
        })

        $(".btnDownload").click(function () {
            location.href = "/NhanVien/Download/" + this.value;
        })

        $("#btnModalCreate").click(function () {
            var url = "/NhanVien/QuanHeGiaDinh"
            $("#quanhe-content").load(url);
        })

        $("#quanHeModal").on("hide.bs.modal", function () {
            $("#quanhe-content").html("");
        });

        $('#btnPhongBan').click(function () {
            var url = '/NhanVien/PhongBanListTree';
            $('#phongban-panel').load(url);
        })

        $(".datepicker").datetimepicker({
            locale: 'vi',
            format: 'DD/MM/YYYY'
        });

        $("#phongBanModal").on("hide.bs.modal", function () {
            $("#phongban-panel").html("");
        });

        $("#btnTroVe").click(function () {
            location.href = "/NhanVien";
        })

        $("#tamTruTinhThanh, #thuongTruTinhThanh").change(function () {
            var quanHuyen = $(this).parent().next().find("select");
            quanHuyen.empty();
            $.ajax({
                url: "/NhanVien/GetQuanHuyen/" + this.value,
                type: "POST",
                dataType: "json",
                success: function (data) {
                    var textAppend = "<option value=''>[Chọn quận huyện]</option>";
                    $.each(data, function (i, quanHuyen) {
                        textAppend += "<option value=" + quanHuyen.id + ">" + quanHuyen.tenQuanHuyen + "</option>";
                    });
                    quanHuyen.append(textAppend);
                }
            })
        })
    })



    function deleteImage(obj) {
        var id = $(obj).data("identity"),
            row = $(obj).closest('tr');
        $.ajax({
            url: "/NhanVien/DeleteImage/" + id,
            type: "POST",
            dataType: "json",
            success: function (html) {
                row.remove();
                Alert.success("Xóa thành công!", "Thông báo", { displayDuration: 2000 });
            },
            error: function () {
                Alert.error("Có lỗi xảy ra", "Lỗi", { displayDuration: 2000 });
            }
        })
    }

    function beginPaging(args) {
        // Animate        
        $('#content').fadeOut('fast');
    }

    function successPaging() {
        // Animate
        $('#content').fadeIn('normal');
    }

    function failurePaging() {
        alert("Không thể tải dữ liệu");
    }

    function enterToSeacrh(event) {
        if (event.keyCode == 13)
            $("#btnSearch").click();
    }

</script>
<style>
    td {
        border: none!important;
    }

    .input-group-btn {
        position: absolute;
        font-size: 0;
    }

    body table tr td.removeBorderBkgr, body table tr:hover td.removeBorderBkgr, .table-hover > tbody > tr:hover td.removeBorderBkgr {
        border: none !important;
        background: #FFF !important;
    }
</style>
<form id="form-submit" method="post" action="/NhanVien/Edit/@Model.maNhanVien" enctype="multipart/form-data">
    <fieldset class="removeBorderFieldset">
        <div id="tabs">
            <ul class="ui-tabs-nav">
                <li class="ui-tabs-selected active">
                    <a href="#tab1" data-toggle="tab"><span>Thông tin nhân viên</span></a></li>
                <li class="ui-tabs-selected">
                    <a href="#tab2" data-toggle="tab"><span>Liên hệ</span></a></li>
                <li class="ui-tabs-selected">
                    <a href="#tab3" data-toggle="tab"><span>Quan hệ gia đình</span></a></li>
            </ul>
            <div class="form-group" style="float: right">
                <button class="btn btn-info" id="btnSubmit">Lưu </button>
                <button class="btn btn-info" type="button" style="display: none" data-toggle="modal" data-target="#quanHeModal" id="btnModalCreate">Thêm</button>
                <button class="btn btn-info" type="button" id="btnTroVe">Trở về </button>
            </div>
        </div>
        <div class="tab-content">
            <div class="tab-pane in active" id="tab1">
                <table class="table table-hover table-striped table-condensed" style="position: relative">
                    <tr>
                        <td class="tdtitle">Phòng ban <span style="font-style: italic; float: right; color: red">*</span></td>
                        <td>
                            <div style="display: flex; align-items: center;">
                                @Html.TextBoxFor(model => model.tenPhongBan, new { @class = "form-control", required = "required", @readonly = "readonly" })
                                @Html.HiddenFor(model => model.maPhongBan, new { required = "required" })
                                <span style="color: red; font-style: italic">@Html.Raw(TempData["PhongBan"])</span>
                                 @{
                                if ((int)ViewBag.resultPB == 1)
                                {    
                                <button style="padding-left: -1px; border-radius: 0px 4px 4px 0px" type="button" class="btn btn-primary" id="btnPhongBan" data-toggle="modal" data-target="#phongBanModal">
                                    <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>&nbsp;Chọn phòng ban</button>
                                }}
                              
                            </div>
                        </td>
                        <td class="tdtitle">Phân Ca
                        </td>
                        <td>
                            @if ((int)ViewBag.resultPC == 1)
                            {
                                @Html.DropDownListFor(model => model.maPhanCa, ViewBag.ListPhanCas as SelectList, new { @class = "form-control" })
                            }
                            else
                            {
                                @Model.tenPhanCa
                            }
                        </td>

                        <td rowspan="7" style="text-align: center">
                            <div style="text-align: center;">
                                @{string urlImage = String.IsNullOrEmpty(Model.anhDaiDienURL) ? "/Images/card.gif" : Model.anhDaiDienURL;}

                                <img class="Avatar" id="mgAvartar" onerror="imgError(this);" accept="image/*" src="/UploadFiles/QLNV/@(Model.maNhanVien).jpg" style="cursor: auto;max-width: 200px;">
                            </div>
                        </td>

                    </tr>
                    @* <tr>
                        <td class="tdtitle">Thuộc công ty</td>
                        <td>
                            <input name="tenCongTy" id="tenCongTy" class="form-control" readonly="readonly" /></td>
                        <td class="tdtitle">Thuộc bộ phận</td>
                        <td>
                            <input name="tenBoPhan" id="tenBoPhan" class="form-control" readonly="readonly" /></td>

                    </tr>*@
                    <tr>
                        <td class="tdtitle">Mã nhân viên <span style="font-style: italic; float: right; color: red">*</span></td>
                        <td>@Html.TextBoxFor(model => model.maNhanVien, new { @class = "form-control", required = "required", @readonly = "readonly" })
                            <span style="color: red; font-style: italic">@TempData["MaNhanVien"]</span>
                        </td>
                        <td class="tdtitle">Loại</td>
                        <td>@Html.DropDownListFor(model => model.idLoaiNhanVien, ViewBag.LoaiNhanViens as SelectList, new { @class = "form-control" })</td>

                    </tr>
                    <tr>
                        <td class="tdtitle">Mã chấm công</td>
                        <td>
                            <input type="hidden" value="@Model.maChamCong" name="maCCBanDau" id="maCCBanDau"/>
                            @Html.TextBoxFor(model => model.maChamCong, new { @class = "form-control" })
                            <span style="color: red; font-style: italic">@TempData["MaChamCong"]</span>
                            <span class="maCCInfor"></span>
                        </td>
                        <td class="tdtitle">Học hàm - Học vị</td>
                        <td>@Html.DropDownListFor(model => model.idTrinhDoChuyenMon, ViewBag.HocHams as SelectList, new { @class = "form-control" })</td>

                    </tr>
                    <tr>
                        <td class="tdtitle">Họ <span style="font-style: italic; float: right; color: red">*</span></td>
                        <td>@Html.TextBoxFor(model => model.ho, new { @class = "form-control", required = "required" })</td>
                        <td class="tdtitle">Tên <span style="font-style: italic; float: right; color: red">*</span></td>
                        <td>@Html.TextBoxFor(model => model.ten, new { @class = "form-control", required = "required" })</td>


                    </tr>
                    <tr>
                        <td class="tdtitle">Ngày sinh <span style="font-style: italic; float: right; color: red">*</span></td>
                        <td>@Html.TextBoxFor(model => model.ngaySinh, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker", required = "required" })</td>
                        <td class="tdtitle">Nơi sinh <span style="font-style: italic; float: right; color: red">*</span></td>
                        <td>@Html.TextBoxFor(model => model.noiSinh, new { @class = "form-control", required = "required" })</td>
                    </tr>
                    <tr>
                        <td class="tdtitle">Số CMND <span style="font-style: italic; float: right; color: red">*</span></td>
                        <td>@Html.TextBoxFor(model => model.CMNDSo, new { @class = "form-control", required = "required" })
                            <span style="color: red; font-style: italic">@TempData["CMND"]</span>
                        </td>
                        <td class="tdtitle">Ngày cấp CMND <span style="font-style: italic; float: right; color: red">*</span></td>
                        <td>@Html.TextBoxFor(model => model.CMNDNgayCap, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker", required = "required" })</td>
                        <td class="removeBorderBkgr"></td>
                    </tr>
                    <tr>

                        <td class="tdtitle">Nơi cấp CMND <span style="font-style: italic; float: right; color: red">*</span></td>
                        <td>@Html.TextBoxFor(model => model.CMNDNoiCap, new { @class = "form-control", required = "required" })</td>
                        <td class="tdtitle">Quốc tịch <span style="font-style: italic; float: right; color: red">*</span></td>
                        <td>@Html.DropDownListFor(model => model.maQuocTich, ViewBag.QuocTichs as SelectList, new { @class = "form-control", required = "required" })</td>

                    </tr>
                    <tr>

                        @*   <td class="tdtitle">Văn phòng - Chi nhánh</td>
                        <td>@Html.DropDownListFor(model => model.maChiNhanhVanPhong, ViewBag.ChiNhanhVPs as SelectList, new { @class = "form-control", required = "required" })</td>*@
                        <td class="tdtitle">Ngày vào làm <span style="font-style: italic; float: right; color: red">*</span></td>
                        <td>@Html.TextBoxFor(model => model.ngayVaoLam, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker", required = "required" })</td>
                        <td class="tdtitle">Email <span style="font-style: italic; float: right; color: red">*</span></td>
                        <td>@Html.TextBoxFor(model => model.email, new { @class = "form-control", type = "email", required = "required" })</td>
                        <td>
                            <input type="file" value="" class="form-control" name="hinhAnh" id="hinhAnh" /></td>
                        <td class="removeBorderBkgr"></td>
                    </tr>
                    <tr>
                        <td class="tdtitle">Bộ phận tính lương</td>
                        <td>@Html.DropDownListFor(model => model.idKhoiTinhLuong, ViewBag.KhoiTinhLuongs as SelectList, new { @class = "form-control" })</td>
                        <td class="tdtitle">Ngân hàng</td>
                        <td>@Html.DropDownListFor(model => model.maChiNhanhNganHang, ViewBag.ChiNhanhNHs as SelectList, new { @class = "form-control" })</td>
                        <td style="text-align: center">@Html.CheckBoxFor(model => model.hoanTatHoSo, new { style = "width:auto" })Hoàn tất hồ sơ?</td>
                        <td class="removeBorderBkgr"></td>
                    </tr>

                    <tr>
                        <td class="tdtitle">Số tài khoản</td>
                        <td>@Html.TextBoxFor(model => model.soTaiKhoan, new { @class = "form-control" })</td>
                        <td class="tdtitle">Mã số thuế</td>
                        <td>@Html.TextBoxFor(model => model.maSoThue, new { @class = "form-control" })</td>
                        <td rowspan="6"></td>
                    </tr>
                    <tr>
                        <td class="tdtitle">Chức danh <span style="font-style: italic; float: right; color: red">*</span></td>
                        @{
                        
                            if ((int)ViewBag.resultCD == 1)
                            {
                            <td>@Html.DropDownListFor(model => model.maChucDanh, ViewBag.ChucDanhs as SelectList, new { @class = "form-control", required = "required" })</td>
                            }
                            else
                            {
                            <td>@Model.tenChucDanh</td>
                            }
                        }
                        <td class="tdtitle">Ngành nghề <span style="font-style: italic; float: right; color: red">*</span></td>
                        <td>@Html.DropDownListFor(model => model.maNgheNghiep, ViewBag.Nghenghieps as SelectList, new { @class = "form-control", required = "required" })</td>
                    </tr>

                    <tr>
                        <td class="tdtitle">Giới tính <span style="font-style: italic; float: right; color: red">*</span></td>
                        <td>
                            <label class="radio-inline" style="font-size: 13px">
                                @Html.RadioButtonFor(model => model.gioiTinh, true, new { style = "width:auto", required = "required" }) Nam
                            </label>
                            <label class="radio-inline" style="font-size: 13px">
                                @Html.RadioButtonFor(model => model.gioiTinh, false, new { style = "width:auto", required = "required" }) Nữ
                            </label>
                        </td>
                        <td class="tdtitle">Người <span style="font-style: italic; float: right; color: red">*</span></td>
                        <td>
                            <label class="radio-inline" style="font-size: 13px">
                                @Html.RadioButtonFor(model => model.laNguoiNgoaiQuoc, true, new { style = "width:auto", required = "required" }) Việt Nam
                            </label>
                            <label class="radio-inline" style="font-size: 13px">
                                @Html.RadioButtonFor(model => model.laNguoiNgoaiQuoc, false, new { style = "width:auto", required = "required" }) Nước ngoài
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdtitle">Bảo hiểm</td>
                        <td>
                            @Html.CheckBoxFor(model => model.dangBaoHiemNoiKhac, new { style = "width:auto" }) Tham gia bảo hiểm tại nơi khác                           
                        </td>
                        <td class="tdtitle">Hôn nhân <span style="font-style: italic; float: right; color: red">*</span></td>
                        <td>
                            <label class="radio-inline" style="font-size: 13px">
                                @Html.RadioButtonFor(model => model.tinhTrangHonNhan, 1, new { style = "width:auto", required = "required" }) Có gia đình
                            </label>
                            <label class="radio-inline" style="font-size: 13px">
                                @Html.RadioButtonFor(model => model.tinhTrangHonNhan, 2, new { style = "width:auto", required = "required" }) Độc thân
                            </label>
                            <label class="radio-inline" style="font-size: 13px">
                                @Html.RadioButtonFor(model => model.tinhTrangHonNhan, 3, new { style = "width:auto", required = "required" }) Ly hôn
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdtitle">Dân tộc</td>
                        <td>@Html.DropDownListFor(model => model.idDanToc, ViewBag.DanTocs as SelectList, new { @class = "form-control" })
                        </td>
                        <td class="tdtitle">Tôn giáo    </td>
                        <td class="removeBorderBkgr">
                            @Html.DropDownListFor(model => model.idTonGiao, ViewBag.TonGiaos as SelectList, new { @class = "form-control" })
                        </td>
                    </tr>
                    <tr>
                        <td class="tdtitle">Đã kết nạp Đảng/Đoàn <span style="font-style: italic; float: right; color: red">*</span></td>
                        <td>
                            @Html.DropDownListFor(model => model.loaiKetNap, ViewBag.LoaiKetNaps as SelectList, new { @class = "form-control", required = "required" })
                        </td>
                        <td class="tdtitle">Tình trạng<span style="font-style: italic; float: right; color: red">*</span></td>
                        <td>
                            <label class="radio-inline" style="font-size: 13px">
                                @Html.RadioButtonFor(model => model.trangThai, 0, new { style = "width:auto", required = "required" }) Đang làm việc
                            </label>
                            <label class="radio-inline" style="font-size: 13px">
                                @Html.RadioButtonFor(model => model.trangThai, 1, new { style = "width:auto", required = "required" }) Đã nghỉ việc
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdtitle">Tập tin đính kèm</td>
                        <td colspan="4">
                            <div id="dinhkemfile-panel" class="filter-panel">
                                <input type="hidden" id="nguoiUpLoad" value="@Session["TenNhanVien"]" />
                                <div id="container">
                                    <table class="table" id="tbl-uploading">
                                        <thead>
                                            <tr>
                                                <th colspan="2">Tên tài liệu</th>
                                                <th>Người upload</th>
                                                <th>Ngày upload</th>
                                                <th style="width: 100px">
                                                    <input type="file" style="height: 30px; display: none" name="fileDinhKems" id="input-upload" class="form-control" multiple="multiple" value="" />
                                                    <label class="btn btn-info btn-xs btn-link" style="font-size: 12px; font-size: 12px; background: #fff !important; color: black !important;"
                                                        for="input-upload">
                                                        Chọn tập tin</label>

                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.fileDinhKems)
                                            {
                                                <tr>
                                                    <td style="text-align: left">
                                                        <img style="width:32px; height: 32px" src="@item.thumbnailURL"></td>
                                                    <td>@item.originalFileName</td>
                                                    <td>@item.tenNguoiUpLoad</td>
                                                    <td>@item.ngayLap.Value.ToString("dd/MM/yyyy hh:mm:ss tt")</td>
                                                    <td style="text-align: center">
                                                        <button class="btn btn-link btn-xs btnDownload" type="button" value="@item.id"><i class="fa fa-download" aria-hidden="true"></i></button>
                                                        <a href="#" style="color: #519ee5" onclick="javascript:deleteImage(this)" data-identity="@item.id">Xóa</a>
                                                    </td>
                                                </tr> 
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </td>
                    </tr>
                    @* <tr>
                       
                        <td class="tdtitle">Ngoại ngữ</td>
                        <td colspan="4"><div class="columnAutoTableChungChi">
                            <div style="overflow: auto">
                                <table class="table">
                                    <tr class="background_tr">
                                        <td class="tdtitle">STT</td>
                                        <td>Chứng chỉ</td>
                                        <td></td>
                                    </tr>
                                      @foreach (var item in Model.ngoaiNgus)
                                              {
                                                  var nhanVienChungChi = Model.nhanVienNgoaiNgus.Where(s => s.idChungChi == item.id).FirstOrDefault();
                                      
                                          <tr>
                                            <td class="tdtitle">@j</td>
                                            <td>@item.tenChungChi</td>
                                            <td style="text-align:center;">
                                                @if (nhanVienChungChi != null)
                                                {
                                                    <input type="checkbox" name="ngoaiNgu" checked="checked" value="@item.id"/>
                                                    <input name="ngoaiNgu" type="hidden" value="false">
                                                }
                                                else
                                                {
                                                    <input type="checkbox" name="ngoaiNgu" value="@item.id"/>
                                                    <input name="ngoaiNgu" type="hidden" value="false">
                                                }
                                            </td>
                                        </tr> 
                                                j++;
                                              
                                              }

                                </table>
                            </div>
                                        </div></td>
                    </tr>*@
                </table>
            </div>
            <div class="tab-pane" id="tab2">
                <table class="table table-hover table-striped table-condensed" style="position: relative">
                    <tr>
                        <td class="tdtitle">Di động</td>
                        <td colspan="2">@Html.TextBoxFor(model => model.phoneNumber1, new { @class = "form-control" })</td>

                    </tr>
                    <tr>
                        <td class="tdtitle">Điện thoại Cố định</td>
                        <td colspan="2">@Html.TextBoxFor(model => model.phoneNumber2, new { @class = "form-control" })</td>
                    </tr>
                    <tr>
                        <td class="tdtitle">Địa chỉ liên lạc</td>
                        <td colspan="2" class="form-inline">
                            @Html.TextBoxFor(model => model.tamTruTenDuong, new { @class = "form-control", style = "width: 100%", placeholder = "Tên đường" })</td>
                    </tr>
                    <tr>
                        <td class="tdtitle">Tỉnh thành tạm trú</td>
                        <td>@Html.DropDownListFor(model => model.tamTruTinhThanh, ViewBag.TamTruTinhThanhs as SelectList, new { @class = "form-control" })</td>
                        <td>
                            @Html.DropDownListFor(model => model.tamTruQuanHuyen, ViewBag.TamTruQuanHuyens as SelectList, new { @class = "form-control" })
                        </td>
                    </tr>
                    <tr>
                        <td class="tdtitle">Địa chỉ thường trú</td>
                        <td colspan="2" class="form-inline">
                            @Html.TextBoxFor(model => model.thuongTruTenDuong, new { @class = "form-control", style = "width: 100%", placeholder = "Tên đường" })</td>

                    </tr>
                    <tr>
                        <td class="tdtitle">Tỉnh thành thường trú</td>
                        <td>@Html.DropDownListFor(model => model.thuongTruTinhThanh, ViewBag.ThuongTruTinhThanhs as SelectList, new { @class = "form-control" })</td>
                        <td>
                            @Html.DropDownListFor(model => model.thuongTruQuanHuyen, ViewBag.ThuongTruQuanHuyens as SelectList, new { @class = "form-control" })
                        </td>

                    </tr>
                    <tr>
                        <td class="tdtitle">Liên lạc khẩn cấp báo cho</td>
                        <td colspan="2">@Html.TextBoxFor(model => model.nguoiLienLacKhanCap, new { @class = "form-control" })</td>
                    </tr>
                    <tr>
                        <td class="tdtitle">Địa chỉ liên lạc khẩn cấp</td>
                        <td colspan="2">@Html.TextBoxFor(model => model.diaChiLienLacKhanCap, new { @class = "form-control" })</td>
                    </tr>
                    <tr>
                        <td class="tdtitle">Điện thoại liên lạc khẩn cấp</td>
                        <td colspan="2">@Html.TextBoxFor(model => model.phoneLienLacKhanCap, new { @class = "form-control" })</td>
                    </tr>
                    <tr>
                        <td class="tdtitle">Sổ bảo hiểm (nếu có)</td>
                        <td colspan="2">@Html.TextBoxFor(model => model.soBaoHiem, new { @class = "form-control" })</td>
                    </tr>
                    <tr>
                        <td class="tdtitle">Số sổ Lao động</td>
                        <td colspan="2">@Html.TextBoxFor(model => model.soSoLaoDong, new { @class = "form-control" })</td>
                    </tr>
                </table>
            </div>
            <div class="tab-pane" id="tab3">
                @{Html.RenderPartial("PartialEditQuanHeGD", Model);}
            </div>
        </div>
    </fieldset>
</form>

<!--------------------------- Modal - Thêm Sửa Modal Form ------------------------>
<div id="phongBanModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Phòng Ban</h4>
            </div>
            <div class="modal-body">
                <div class="container" style="width: 100%">
                    <div class="row">
                        <div id="phongban-panel" class="filter-panel">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<form id="form-modal" method="post" action="/Nhanvien/QuanHeGiaDinh">
    <!--------------------------- Modal - Thêm Sửa Modal Form ------------------------>
    <div id="quanHeModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"></h4>
                </div>
                <div class="modal-body">
                    <div class="container" style="width: 100%">
                        <div class="row">
                            @Html.HiddenFor(model => model.maNhanVien)
                            <div id="quanhe-content" class="filter-panel">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" id="btnThem">Lưu</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" id="btnCloseQuanHeGD">Đóng</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
