@using BatDongSan.Models.NhanSu;
@model NhanVienModel
@{int count = 1;}
<script>
    $(document).ready(function () {
        $(document).on("click", "#tbl-quanhegiadinh [type=checkbox]", function () {
            var status = 0;
            if ($(this).is(':checked'))
                status = 1;  // checked
            else
                status = 0;  // unchecked
            var idParent = $(this).parent().attr("class");
            $.ajax({
                url: '/NhanVien/UpdateGiamTru',
                type: 'POST',

                data: { trangThai: status, idGiamTru: idParent },
                success: function (result) {
                    if (result == "false") {

                        Alert.error("Có lỗi xảy ra", "Lỗi", { displayDuration: 2000 });
                    }
                    else {
                        Alert.success("Cập nhật thành công!", "Thông báo", { displayDuration: 2000 });
                    }


                }

            });
        });

        $(".btnDelete").click(function () {
            var row = $(this).closest("tr");
            $.ajax({
                url: "/NhanVien/DeleteQuanHeGiaDinh/" + this.value,
                type: "POST",
                data: "json",
                success: function (html) {
                    row.remove();
                    Alert.success("Xóa thành công!", "Thông báo", { displayDuration: 2000 });
                },
                error: function () {
                    Alert.error("Có lỗi xảy ra", "Lỗi", { displayDuration: 2000 });
                },
            })
        })

        $(".numberinput").autoNumeric('init', { mDec: 2, lZero: 'deny', aSep: ',', aDec: '.', pSign: 's', vMin: '0' });
        $(".datepicker").datetimepicker({
            locale: 'vi',
            format: 'DD/MM/YYYY'
        });
    });

    function capNhatNgayKetThucGiam(id) {
        $.ajax({
            url: '/NhanVien/UpdateNgayKetThucGiam',
            type: 'POST',

            data: { ngayKetThucGiam: $("#ngayKetThucGiam").val(), idGiamTru: id },
            success: function (result) {
                if (result == "") {
                    Alert.success("Cập nhật thành công!", "Thông báo", { displayDuration: 2000 });
                    
                }
                else {
                    Alert.error(result, "Lỗi", { displayDuration: 2000 });
                }


            }

        });
    }
</script>
<style>
    #tbl-quanhegiadinh td, #tbl-quanhegiadinh th {
        text-align: center;
        vertical-align: middle;
    }
</style>
<div id="container">
    <table class="table table-hover table-striped table-condensed" id="tbl-quanhegiadinh" style="position: relative">
        <thead>
            <tr>
                <th>STT</th>
                <th>Tên người quan hệ</th>
                <th>Mối quan hệ</th>
                <th>Ngày sinh</th>
                <th>Nghề nghiệp</th>
                <th>Giảm trừ phụ thuộc</th>
                <th>Số tiền giảm trừ</th>
                <th>Ngày bắt đầu giảm trừ</th>
                <th>Ngày kết thúc giảm trừ</th>
                <th>Người thêm</th>
                <th>Người dừng</th>
                <th>Trạng thái</th>
                @*<th></th>*@
            </tr>
        </thead>
        @foreach (var item in Model.quanHeGiaDinhs)
        {
            <tr>
                <td>@count</td>
                <td style="text-align: left">@item.tenNguoiQuanHe</td>
                <td style="text-align: left">@item.tenLoaiQuanHe</td>
                <td>@item.ngaySinh.Value.ToString("dd/MM/yyyy")</td>
                <td>@item.ngheNghiep</td>
                <td class="@item.id">@Html.CheckBoxFor(model => item.giamTruPhuThuoc)</td>
                <td style="text-align: right"><span class="numberinput">@item.soTienGiam</span></td>
                <td>@Html.Raw(item.ngayBatDauGiam.HasValue ? item.ngayBatDauGiam.Value.ToString("dd/MM/yyyy") : string.Empty)</td>
                <td>
                    @*@Html.Raw(item.ngayKetThucGiam.HasValue ? item.ngayKetThucGiam.Value.ToString("dd/MM/yyyy") : string.Empty)*@
                    <div style="display:flex">
                    <input name="ngayKetThucGiam" id ="ngayKetThucGiam" value="@(string.Format("{0:dd/MM/yyyy}", item.ngayKetThucGiam))" class="form-control datepicker" placeholder="Chọn sau đó nhấn lưu"/>
                    <i class="fa fa-save" style="font-size: 30px; color: red; cursor: pointer;" aria-hidden="true" onclick="capNhatNgayKetThucGiam(@item.id)"></i>
                        </div>
                </td>
                <td>@item.hoTenNguoiThem
                    <br />@Html.Raw(item.ngayThem.HasValue ? item.ngayThem.Value.ToString("dd/MM/yyyy") : string.Empty)</td>
                <td>@item.hoTenNguoiDung
                    <br />@Html.Raw(item.ngayDung.HasValue ? item.ngayDung.Value.ToString("dd/MM/yyyy") : string.Empty)</td>
                <td></td>
                @*<td>
                    <button class="btn btn-warning btn-xs btnDelete" type="button" value="@item.id">Xóa</button></td>*@
            </tr> 
            count++;
        }
    </table>
</div>
