@using BatDongSan.Models.DanhMuc;
@model IPagedList<sp_NS_DanhSachCongNhan_IndexResult>
@{
    Layout = null;
    int i = 1;    
}
<style>
    td
    {
        border: none;
    }
</style>

@{
    BatDongSan.Models.HeThong.Sys_User user1 = new BatDongSan.Models.HeThong.Sys_User();
    if (Session["User"] != null)
    {
        user1 = (BatDongSan.Models.HeThong.Sys_User)Session["User"];
    }
}
<table class="table table-striped table-hover table-condensed" id="maintable">
    <thead>
        <tr>
            <th style="text-align: center; width: 45px">STT</th>
            <th style="width: 100px">Mã công nhân</th>
            <th style="">Mã chấm công</th>
            <th style="">Họ tên</th>
            <th style="">Bộ phận</th>
            <th style="">Giới tính</th>
            <th style="">Email</th>
            <th>Điện thoại</th>
            <th>Thông tin khác</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {                            
            <tr>
                <td style="text-align: center">@i</td>
                <td style="text-align: left"><a style="color:#519ee5" href="@Url.Action("Details", "DanhSachCongNhan", new { maCongNhan = item.maCongNhan })">@item.maCongNhan</a></td>
                <td style="text-align: left">@item.maChamCong</td>
                <td style="text-align: left"><i class="fa fa-user" aria-hidden="true"></i>@(item.ho + " " + item.ten)<br />
                    <i class="fa fa-calendar"></i>Ngày làm: @Html.Raw(item.ngayVaoLam.HasValue ? item.ngayVaoLam.Value.ToString("dd/MM/yyyy") : string.Empty)
                </td>
                <td style="text-align: left">@item.boPhan</td>

                <td>@(item.gioiTinh == true ? "Nam" : "Nữ")</td>
                <td style="text-align: left">@item.email</td>
                <td style="text-align: left">@item.phoneNumber</td>
                <td style="text-align: left">
                    <i class="fa fa-user" aria-hidden="true"></i>Người lập: @item.HoVaTen<br />
                    <i class="fa fa-calendar"></i>Ngày lập: @Html.Raw(item.ngayLap.HasValue ? item.ngayLap.Value.ToString("dd/MM/yyyy") : string.Empty)
                </td>
                <td style="text-align: center">
                    <a class="btnEdit" alt="@item.id" data-toggle="modal" data-target="#customModal"  title ="Sửa phiếu"><i class="fa fa-pencil-square-o" style="font-size: 30px; color: orange; cursor: pointer;" aria-hidden="true">| </i></a>
                    <a class="btnDelete" alt="@item.id" title ="Xoá phiếu"><i class="fa fa-trash" style="font-size: 30px; color: red; cursor: pointer;" aria-hidden="true"></i></a>

                </td>
            </tr> 
            i++;
        }
    </tbody>
</table>
<div>
    Trang @Model.PageNumber của @Model.PageCount / @ViewBag.Count
</div>
<div>
    <ul class="pagination">
        @Html.Raw(Ajax.Pager(new AjaxOptions { UpdateTargetId = "content", OnBegin = "beginPaging", OnSuccess = "successPaging", OnFailure = "failurePaging" }, Model.PageSize, Model.PageNumber, Model.TotalItemCount,
        new { controller = "DanhSachCongNhan", action = "Index", searchString = ViewBag.searchString, loaiHopDong = ViewBag.loaiHopDong, maPhongBan = ViewBag.maPhongBan, trangThai = ViewBag.trangThai }))
    </ul>
</div>

