@using BatDongSan.Models.NhanSu
@{
    ViewBag.Title = "Index";
    Layout = null;
 
   
}
@{
                                
    int stt = 1;
    int page_ = Convert.ToInt32(ViewBag.page);
    int total_ = Convert.ToInt32(ViewBag.total);

    var ls = ViewData["lsDanhSach"] as List<sp_NS_BaoCaoDanhGiaNhanVienResult>;

    foreach (var item in ls.ToList())
    {
                           
    <tr>
        <td align="center">
            @(stt++)
        </td>
        <td>
            <a href="javascript:void(0)" onclick="ShowChiTiet('@item.maNhanVien')" class="hvr-underline-from-center makeLink">
                @item.hoTen </a>
            <br />
            Chức vụ: @item.tenChucVu
        </td>
        <td>
            @item.tenPhongBan
        </td>

        <td style="line-height: 20px;">
            <b class="spanDiem">Điểm: </b>
            @item.diemCapTren
            <br />
            <b class="spanDiem">Phiếu:</b>
            @item.soPhieuCT
        </td>
        <td style="line-height: 20px;">
            <b class="spanDiem">Điểm: </b>
            @item.diemNgangCap
            <br />
            <b class="spanDiem">Phiếu:</b>
            @item.soPhieuNC
        </td>
        <td style="line-height: 20px;">
            <b class="spanDiem">Điểm: </b>
            @item.diemCapDuoi
            <br />
            <b class="spanDiem">Phiếu:</b>
            @item.soPhieuCD
        </td>
        <td align="center">
            @item.tongSoPhieu
        </td>
        <td align="center" style="color: Red; font-weight: bold">
            @string.Format("{0:#,#0.##}", item.tongDiem)
        </td>
    </tr>
                           
    
    }
}

<tr>
    <td colspan="8" align="left">
        @{
                
            if (page_ > 1)
            {
        
            <a class="pageFirst" href="javascript:void(0)" onclick="javascript:OnCriteriaPC(1);">First</a> <a class="pagePrevious" href="javascript:void(0)" onclick="javascript:OnCriteriaPC(@(page_ - 1));">
                Previous</a>
       
            }


            if (page_ - 2 >= 1)
            { 
            <a class="pageCurrent" href="javascript:void(0)" onclick="javascript:OnCriteriaPC(@(page_ - 2));">
                @(page_ - 2) </a> <a class="pageCurrent" href="javascript:void(0)" onclick="javascript:OnCriteriaPC(@(page_ - 1));">
                    @(page_ - 1) </a>
            } <span class="pageActive">@page_</span>
            if (page_ + 2 <= total_)
            { 
            <a class="pageCurrent" href="javascript:void(0)" onclick="javascript:OnCriteriaPC(@(page_ + 1) );">
                @(page_ + 1) </a> <a class="pageCurrent" href="javascript:void(0)" onclick="javascript:OnCriteriaPC(@(page_ + 2));">
                    @(page_ + 2) </a>
            }

            if (page_ < total_)
            { 
        
            <a class="pageNext" href="javascript:void(0)" onclick="javascript:OnCriteriaPC(@(page_ + 1));">Next</a> <a class="pageLast" href="javascript:void(0)" onclick="javascript:OnCriteriaPC(@total_);">
                Last</a>
        
            }
        
            <span>Tổng số dòng :</span><strong>@ViewBag.totalRow</strong>
        }
    </td>
</tr>
