@using BatDongSan.Models.NhanSu
@{
    ViewBag.Title = "Index";
    Layout = null;
    Layout = "~/Views/Shared/_Popup.cshtml";
   
}
<script type="text/javascript" src="~/Scripts/Jquery.treeview/jquery.treeview.js"></script>
<link rel="stylesheet" href="~/Scripts/Jquery.treeview/jquery.treeview.css" />

<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<script type="text/javascript">
    var obj = window.opener;
    $().ready(function () {
        $('#checkAll').click(function (e) {
            $('[name="chk"]').prop('checked', this.checked);
        });

        $('[name="chk"]').click(function (e) {
            if ($('[name="chk"]:checked').length == $('[name="chk"]').length || !this.checked)
                $('#checkAll').prop('checked', this.checked);
        });
        $("#navigation1").treeview({
            persist: "location",
            collapsed: false,
            unique: false
        });
        var parentId = "";
        //khi click vào công viêc tren tree
        $("#navigation1 a").click(function () {
            $.each($("#navigation1 a"), function () {
                $(this).css("color", "");
            });
            $(this).css("color", "red");
            parentId = $(this).attr("alt");

            // Get phòng ban
            var giatri = $(this).attr("alt").replace(/ /gi, '+');
            var qsearch = $("#searchText").val().replace(/ /gi, '+');

            var url = '@Url.Action("LoadNhanVien", "DanhGiaTinNhiem")' + "?parrentId=" + giatri.trim() + "&_page=1" + '&qSearch=' + qsearch;
            var imageUrl = '<div id="divMsg" align="center"><img src="@Url.Content("~/Content/Images/loading.gif") "/></div>';
            $('#tbody').html(imageUrl);
            $('#tbody').load(url, function () {
            });
        });
        $('#btnSearch').click(function () {
            Search();
        });

        $("#searchText").keyup(function (e) {
            if (event.keyCode == 13) {
                Search();
            }
        });
    });

    function OnCriteriaPC(page) {
        var giatri = $("#parrentId").val().replace(/ /gi, '+');
        var qsearch = $("#searchText").val().replace(/ /gi, '+');
        var url = '@Url.Action("LoadNhanVien", "DanhGiaTinNhiem")' + "?parrentId=" + giatri.trim() + "&_page=" + page + '&qSearch=' + qsearch;
            var imageUrl = '<div id="divMsg" align="center"><img src="@Url.Content("~/Content/Images/loading.gif") "/></div>';
            $('#tbody').html(imageUrl);
            $('#tbody').load(url, function () {
            });
        }

        function Search() {
            var giatri = $("#parrentId").val().replace(/ /gi, '+');
            var qsearch = $("#searchText").val().replace(/ /gi, '+');
            var url = '@Url.Action("LoadNhanVien", "DanhGiaTinNhiem")' + "?parrentId=" + giatri.trim() + "&_page=1" + '&qSearch=' + qsearch;
            var imageUrl = '<div id="divMsg" align="center"><img src="@Url.Content("~/Content/Images/loading.gif") "/></div>';
            $('#tbody').html(imageUrl);
            $('#tbody').load(url, function () {
            });
        }
        function ChonNV() {
            var chks = document.getElementsByName("chk");
            var maNhanViens = document.getElementsByName("MaNhanVien");
            var tenNhanViens = document.getElementsByName("TenNhanVien");
            var tenChucDanhs = document.getElementsByName("TenChucDanh");
            var tenPhongBans = document.getElementsByName("TenPhongBan");
            var maPhongBans = document.getElementsByName("MaPhongBan");
            var hinhAnhs = document.getElementsByName("HinhAnh");
            var table = obj.document.getElementById("DanhSach");
            var stt = table.rows.length;
            for (var i = 0; i < chks.length; i++) {
                if (chks.item(i).checked && checkNhanVien(chks.item(i).value)) {

                    var lenghtRow = $(table).find("tr[name='NhanVien" + maPhongBans.item(i).value + "']").length;
                    var trLast = $(table).find("tr[name='NhanVien" + maPhongBans.item(i).value + "']:last").index();
                    if (checkPhongBan(maPhongBans.item(i).value)) {

                        var stringBuilder = "";
                        stringBuilder += "<tr style='color: blue; background: rgb(245, 245, 245);' name='maPhongBan" + maPhongBans.item(i).value + "'>";
                        stringBuilder += "<td colspan='7'><input type='hidden' name='maPhongBans' value='" + maPhongBans.item(i).value + "'><span style='font-weight: bold; padding: 5px;'>" + tenPhongBans.item(i).value + "</span></td>";
                        stringBuilder += "</tr>";

                        stringBuilder += "<tr name='NhanVien" + maPhongBans.item(i).value + "'>";
                        stringBuilder += "<td align='center'>" + (lenghtRow + 1) + "</td>";
                        if (hinhAnhs.item(i).value == "") {
                            stringBuilder += "<td align ='center'><img  onerror='imgError(this);' accept='image/*' style='width: 100%;border: 1px solid #c1bbbb; height: auto; max-width: 25px;object-fit: cover;' src='/Content/Images/no-image.jpg' />";
                        }
                        else {
                            stringBuilder += "<td align ='center'><img onerror='imgError(this);' style='width: 100%;border: 1px solid #c1bbbb; height: auto; max-width: 25px;object-fit: cover;' accept='image/*' src='/UploadFiles/QLNV/" + hinhAnhs.item(i).value + "'/></td>";
                        }
                        stringBuilder += "<td><input name='maNhanVien' type='hidden' value='" + maNhanViens.item(i).value + "'>" + maNhanViens.item(i).value + "</td>";
                        stringBuilder += "<td>" + tenNhanViens.item(i).value + "</td>";
                        stringBuilder += "<td>" + tenPhongBans.item(i).value + "</td>";
                        stringBuilder += "<td>" + tenChucDanhs.item(i).value + "</td>";
                        stringBuilder += "<td align ='center'><a href='javascript:void(0)' style='font-size:18px;' onclick='Delete(this)'><i class='fa fa-times' aria-hidden='true'></i></a></td>";
                        stringBuilder += "</tr>";
                        if (obj.$("#DanhSach tr").length > 0) {
                            obj.$("#DanhSach").find("tr").end().append(stringBuilder)
                        } else {
                            obj.$("#DanhSach").html(stringBuilder);
                        }
                    }
                    else {
                        var stringBuilder = "";
                        stringBuilder += "<tr name='NhanVien" + maPhongBans.item(i).value + "'>";
                        stringBuilder += "<td align='center'>" + (lenghtRow + 1) + "</td>";
                        if (hinhAnhs.item(i).value == "") {
                            stringBuilder += "<td align ='center'><img onerror='imgError(this);' accept='image/*' style='width: 100%;border: 1px solid #c1bbbb; height: auto; max-width: 25px;object-fit: cover;' src='/Content/Images/no-image.jpg' />";
                        }
                        else {
                            stringBuilder += "<td align ='center'><img onerror='imgError(this);' style='width: 100%;border: 1px solid #c1bbbb; height: auto; max-width: 25px;object-fit: cover;' accept='image/*' src='/UploadFiles/QLNV/" + hinhAnhs.item(i).value + "'/></td>";
                        }
                        stringBuilder += "<td><input name='maNhanVien' type='hidden' value='" + maNhanViens.item(i).value + "'>" + maNhanViens.item(i).value + "</td>";
                        stringBuilder += "<td>" + tenNhanViens.item(i).value + "</td>";
                        stringBuilder += "<td>" + tenPhongBans.item(i).value + "</td>";
                        stringBuilder += "<td>" + tenChucDanhs.item(i).value + "</td>";
                        stringBuilder += "<td align ='center'><a href='javascript:void(0)' style='font-size:18px;' onclick='Delete(this)'><i class='fa fa-times' aria-hidden='true'></i></a></td>";
                        stringBuilder += "</tr>";

                        if (obj.$("#DanhSach tr").length > 0) {
                            obj.$("#DanhSach").find("tr[name='NhanVien" + maPhongBans.item(i).value + "']").end().append(stringBuilder);
                        } else {
                            obj.$("#DanhSach").find("tr[name='NhanVien" + maPhongBans.item(i).value + "']").end().html(stringBuilder);
                        }

                    }
                }


            }
        }
        function ChonNhanViens() {


            //mã nhân viên mã phòng ban
            var maNhanVien = '';
            var maPhongBan = '';
            var maNhanViens = '';
            var maPhongBans = '';
            $.each($('[name="chk"]:checked'), function () {
                maNhanVien += $(this).attr('alt') + ";";
                maPhongBan += $(this).attr('phongBan') + ";";
            });
            var cha = maNhanVien.split(';');
            var con = maPhongBan.split(';');

            for (var i = 0; i < cha.length - 1; i++) {
                if (checkNhanVien(cha[i], con[i])) {
                    maNhanViens += cha[i] + ";";
                    maPhongBans += con[i] + ";";
                }
            }

            $.post('@Url.Action("GetDanhSachNhanVien")', (obj.$('#frm').serialize() + '&' + $.param({ 'nhanVien': maNhanViens, 'phongBanCT': maPhongBans })), function (data) {
                var imageUrl = '<div id="divMsg" align="center"><img src="@Url.Content("~/Content/Images/loading.gif") "/></div>';
                obj.$('#DanhSach').html(imageUrl);
                obj.$('#DanhSach').load('@Url.Action("LoadDanhSachNhanVien") ', function () {
                    bootbox.alert("Đã thêm!", function () { });
                });

            });

        }
        function checkNhanVien(idNhanVien, idPhongBan) {
            for (var i = 0; i < obj.$("[name='maNhanVien']").length; i++) {
                if (obj.$("[name='maNhanVien']:eq(" + i + ")").val() == idNhanVien && obj.$("[name='maPhongBan']:eq(" + i + ")").val() == idPhongBan) {
                    return false;
                }
            }
            return true;
        }
        function checkPhongBan(maPhongBan) {
            if (obj.$("[name='maPhongBan" + maPhongBan + "']").length > 0) {
                return false;
            }
            else {
                return true;
            }
        }

</script>

<style>
    .pageActive, .pageCurrent:hover, .pageNext:hover, .pageLast:hover, .pageFirst:hover, .pagePrevious:hover
    {
        padding: 7px 11px;
        background-color: #4D8AFF;
        color: #FFFFFF;
        display: inline-block;
        border: 1px solid #80ABFF;
        border-radius: 20px;
        text-decoration: none;
        font-weight: bold;
    }

    .pageCurrent, .pageNext, .pageLast, .pageFirst, .pagePrevious
    {
        padding: 7px 11px;
        background-color: #fff;
        display: inline-block;
        border: 1px solid #80ABFF;
        border-radius: 20px;
        font-weight: bold;
    }

    #Avatar
    {
        width: 100%;
        height: auto;
        max-width: 50px;
        object-fit: cover;
    }

    #imgInp
    {
        opacity: 0;
        height: 100%;
        width: 100%;
        bottom: 0;
        cursor: pointer;
        position: absolute;
        margin: 0;
        padding: 0;
        right: 0;
    }
</style>
<div id="container">



    <table width="100%" cellpadding="2" border="0" cellspacing="0">
        <tr>
            <td style="width: 30%" valign="top">
                <fieldset class="removeBorderFieldset">

                    <div id="tabs" style="" class="ui-tabs">
                        <ul class="ui-tabs-nav">
                            <li class="ui-tabs-selected ui-state-active"><a><span>Danh mục bộ phận</span></a></li>
                        </ul>
                    </div>
                    <div style="height: 90%; max-height: 400px; overflow: auto; margin-left: 30px" id="divTreeCongViec">@Html.Raw(ViewBag.departments)</div>
                </fieldset>
            </td>
            <td valign="top" style="width: 70%">
                <fieldset class="removeBorderFieldset">
                    <div id="tabs" style="" class="ui-tabs">
                        <ul class="ui-tabs-nav">
                            <li class="ui-tabs-selected ui-state-active"><a><span>Danh sách nhân viên</span></a></li>
                        </ul>
                    </div>

                    <div style="padding: 5px; overflow: hidden; background: #ddd;">




                        <div class="input-group" style="max-width: 350px; float: left;">

                            <input type="text" id="searchText" placeholder="Nhập mã hoặc tên" name="searchText" value="@ViewBag.qSearch" class="form-control"/>
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" id="btnSearch">Tìm kiếm</button>

                            </span>
                        </div>
                        <!-- /input-group -->
                        <input type="button" class="btn btn-default btnThemeAdd" value="Chọn" onclick="ChonNhanViens()" style="float: right" />

                    </div>
                    <table id="gridSource" width="100%" class="tbl colorize table table-striped table-hover table-condensed">
                        <thead>
                            <tr class="background_tr">
                                <th style="width: 30px;">STT
                                </th>
                                <th style="width: 100px;">Hình ảnh
                                </th>
                                <th style="width: 250px;">Nhân viên
                                </th>
                                <th style="width: 250px;">Phòng ban
                                </th>
                                <th style="width: 250px;">Chức danh
                                </th>
                                <th style="width: 30px;">
                                    <input type="checkbox" id="checkAll" name="checkAll" title="Click chọn tất cả." onclick="checkAllTbl('gridSource', 'checkAll')" />
                                </th>
                            </tr>
                        </thead>
                        <tbody id="tbody">@{Html.RenderPartial("LoadNhanVien");}</tbody>
                    </table>
                </fieldset>
            </td>
        </tr>
    </table>

</div>
