@using BatDongSan.Models.NhanSu;
@model IPagedList<sp_BC_NS_SinhNhatNhanVienResult>
@{
    ViewBag.Title = "Báo cáo sinh nhật nhân viên";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .infor_SendMailSNThang {
        padding: 5px;
        background: rgb(226, 144, 72);
        border-radius: 3px;
        color: #fff;
        box-sizing: border-box;
        margin: 5px auto;
        line-height: 1.7;
    }
</style>
<script src="~/Scripts/batdongsan.utils.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script type="text/javascript">
    $().ready(function () {
        $('#btnTimKiem').click(function () {
            $(".infor_SendMailSNThang").html('').css('display', 'none');
            var searchText = $('#searchString').val().replace(/\ /g, '+');
            var url = "@Url.Action("BCSinhNhatNV", "BaoCaoNhanSu")" + "?searchString=" + searchText + "&thang=" + $("#Thang").val();
            beginPaging();
            $('#content').load(url);
            successPaging();
        });
        $('#Thang').change(function () {
            $('#btnTimKiem').click();
        });
        $(document).on("click", "#btnGuiMailCMSN", function () {
            if ($("#Thang").val() < 1) {
                Alert.success("Vui lòng chọn tháng cần gửi.", "Thông báo", { displayDuration: 2000 });
                return;
            }
            bootbox.confirm({
                message: "Bạn có chắc chắn muốn thao tác này?",
                buttons: {
                    confirm: {
                        label: 'Xác nhận',
                        className: 'btn-success'
                    },
                    cancel: {
                        label: 'Đóng',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if (result) {
                        $.ajax({

                            type: "POST",
                            url: '/BaoCaoNhanSu/CheckUpdateMailSN',
                            data: {
                                'thang': $("#Thang").val(),
                                'type': 'month'
                            },
                            success: function (result) {


                                if (result.kq == true) {

                                    callSendMailThang();
                                }
                                else {
                                    bootbox.confirm("Tháng: " + $("#Thang").val() + " đã gửi mail CMSN, bạn có muốn gửi nữa không.", function (result) {
                                        if (result) {
                                            callSendMailThang();
                                        }
                                    });
                                }


                            }



                        });
                    }
                }
            });




        });

        $(document).on("click", "#btnGuiMailCMSNNgay", function () {
            if ($("#Thang").val() < 1) {
                Alert.success("Vui lòng chọn tháng cần gửi.", "Thông báo", { displayDuration: 2000 });
                return;
            }

            bootbox.confirm({
                message: "Bạn có chắc chắn muốn thao tác này?",
                buttons: {
                    confirm: {
                        label: 'Xác nhận',
                        className: 'btn-success'
                    },
                    cancel: {
                        label: 'Đóng',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if (result) {
                        $.ajax({

                            type: "POST",
                            url: '/BaoCaoNhanSu/CheckUpdateMailSN',
                            data: {
                                'thang': $("#Thang").val(),
                                'type': 'day'
                            },
                            success: function (result) {


                                if (result.kq == true) {

                                    callSendMailNgay();
                                }
                                else {
                                    bootbox.confirm("Ngày: " + @DateTime.Now.Day + "/" + $("#Thang").val() + " đã gửi mail CMSN, bạn có muốn gửi nữa không.", function (result) {
                                        if (result) {
                                            callSendMailNgay();
                                        }
                                    });
                                }
                            }
                        });
                    }
                }
            });



        });


        $(document).on("click", "#btnGuiMailCMSNNgay", function () {
            $(".wrapper_cmsn").slideToggle();
        });

    });
    function callSendMailThang() {
        //Call send mail
        var imageUrl = '<div id="divMsg" align="center"><img src="/Content/Images/loading.gif "/></div>';
        $('.infor_SendMailSNThang').html(imageUrl).css('display', 'block');
        $.ajax({

            type: "POST",
            url: '/BaoCaoNhanSu/SendMailSNThang',
            data: {
                'thang': $("#Thang").val()

            },
            success: function (result) {
                $(".infor_SendMailSNThang").css('display', 'block');

                if (result.kq == true) {
                    $(".infor_SendMailSNThang").html('Đã gửi mail Chúc mừng sinh nhật nhân viên tháng: ' + $("#Thang").val());
                }
                else {
                    $(".infor_SendMailSNThang").html('Gửi mail Chúc mừng sinh nhật nhân viên thất bại tháng: ' + $("#Thang").val());
                }


            }
        });
        //End call send mail
    }
    function callSendMailNgay() {
        var imageUrl = '<div id="divMsg" align="center"><img src="/Content/Images/loading.gif "/></div>';
        $('.infor_SendMailSNThang').html(imageUrl).css('display', 'block');
        $.ajax({

            type: "POST",
            url: '/BaoCaoNhanSu/SendMailSNNgay',
            data: {
                'thang': $("#Thang").val()

            },
            success: function (result) {
                $(".infor_SendMailSNThang").css('display', 'block');

                if (result.kq == true) {
                    $(".infor_SendMailSNThang").html('Đã gửi mail Chúc mừng sinh nhật nhân viên ngày: ' + result.day + ' tháng: ' + $("#Thang").val());
                }
                else {
                    $(".infor_SendMailSNThang").html('Gửi mail Chúc mừng sinh nhật nhân viên ngày: ' + result.day + ' tháng: ' + $("#Thang").val());
                }
            }



        });
    }

    function XuatFileDanhSachSinhNhat() {
        location.href =  '@Url.Action("XuatFileBaoCaoSinhNhatNhanVien", "BaoCaoNhanSu")' + "?searchString=" + $("#searchString").val() + "&thang=" + $("#Thang").val();
    }
</script>
<form id="form-listview">
    <div id="container">
        <fieldset class="removeBorderFieldset">
            <div id="tabs" style="" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
                <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
                    <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a><span>Danh sách nhân viên</span></a></li>
                </ul>
            </div>
            <div id="filter-panel" class="collapse filter-panel" style="display: block; position: relative">
                <div class="panel panel-default background_top">
                    <table class="table table-striped table-hover table-condensed">
                        <tr class="background_tr">
                            <td><span style="float: left">Tháng:</span><span style="float: left">@Html.DropDownList("Thang", ViewBag.Thangs as SelectList, new { @class = "form-control", @style = "width:100px;" })</span>
                                <div style="float: left; width: 30%">
                                    <input type="text" id="searchString" value="@ViewBag.Search" class="form-control" style="float:left" placeholder="Nhập giá trị tìm kiếm" onkeypress="enterToSeacrh(event);" />

                                </div>
                                <div style="float: left">
                                    <button type="button" class="btn btn-info" id="btnTimKiem" style="width: 50px">Xem</button>
                                </div>
                                <div style="float: right">
                                    <button type="button" class="btn btn-info" id="btnXuatFile" onclick="XuatFileDanhSachSinhNhat();">Xuất File</button>
                                    <button type="button" class="btn btn-info" id="btnGuiMailCMSN">Gửi mail chúc mừng SN tháng</button>
                                    <button type="button" class="btn btn-info" id="btnGuiMailCMSNNgay">Gửi mail chúc mừng SN trong ngày</button>
                                </div>
                            </td>
                        </tr>
                    </table>

                </div>
            </div>
            <div class="infor_SendMailSNThang" style="display: none"></div>


            <div id="content">
                @{Html.RenderPartial("ViewIndexSN");}
            </div>

        </fieldset>
    </div>

</form>
