@using BatDongSan.Models.DanhMuc;
@model IPagedList<DMPhanca>
@{
    int i = 1;
}
<script>
    function beginPaging(args) {
        // Animate        
        $('#content').fadeOut('fast');
    }

    function successPaging() {
        // Animate
        $('#content').fadeIn('normal');
    }

    function failurePaging() {
        alert("Không thể tải dữ liệu");
    }

</script>
<table class="table table-striped table-hover table-condensed" id="maintable">
    <thead>
        <tr>
            <th style=" width: 30px">STT</th>
            <th style="width: 150px">Tên phân ca</th>
            <th style="width: 80px">Số lượng nhân viên</th>
            <th style="width: 80px">Ngày lập</th>
            <th style="width: 150px">Ghi chú</th>
            <th style="width: 65px"></th>
        </tr>
    </thead>
    <tbody id="load">
        @{int tongNhanVien = 0;}

        @foreach (var item in Model)
        {
            tongNhanVien += item.soLuongNhanVienTrongCa;
            <tr>
                <td style="text-align: center">@i</td>
                <td>@item.tenPhanca</td>
                <td style="text-align:right; color:green">
                    <a href="javascript:void(0)" onclick="XemDanhSach(@item.maPhanca)" style="color:green; font-size:16px;">@String.Format("{0:#,#0}",item.soLuongNhanVienTrongCa)</a>
                </td>                
                <td style="text-align:center">@String.Format("{0:dd/MM/yyyy}", item.ngayLap)</td>  
                <td>@item.ghiChu</td>             
                <td style="text-align: center;font-size:18px">
                    <a title="Cập nhật" href="javascript:void(0)" onclick="Update(@item.maPhanca)" style="color: black;
                            cursor: pointer; background: #53CFE9;border: 1px solid #3EC6E0; padding: 0 2px; border-radius: 2px;"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    <a title="Qui định giờ" href="javascript:void(0)" onclick="QuyDinhGio(@item.maPhanca)" style="color: black;
                            cursor: pointer; background: #ebb336;border: 1px solid #c29c45; padding: 0 2px; border-radius: 2px;"><i class="fa fa-clock-o" aria-hidden="true"></i></a>
                   <a title="Thêm nhân viên" href="javascript:void(0)" onclick="UpdateNhanVien(@item.maPhanca)" style="color: black;
                            cursor: pointer; background: #64d250;border: 1px solid #4c9b3d; padding: 0 2px; border-radius: 2px; display:none"><i class="fa fa-user-plus" aria-hidden="true"></i></a>
                    <a title="Xóa" href="javascript:void(0)" onclick="Delete(@item.maPhanca)" style="color: black; cursor: pointer; border: 1px solid #E3536C;background: #EB6379; padding: 0 2px; border-radius: 2px;">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i></a>
                    
                </td>
            </tr> 
            i++;
        }
        <tr>
            <td colspan="2" style="text-align:right;font-style:italic;">Tổng nhân viên : </td>
            <td style="text-align:right;color:blue; font-weight:bold;">@tongNhanVien</td>
            <td colspan="3"></td>
        </tr>
    </tbody>
</table>

<div>
    Trang @Model.PageNumber của @Model.PageCount / @ViewBag.Count
</div>
<div>
    <ul class="pagination">
        @Html.Raw(Ajax.Pager(new AjaxOptions { UpdateTargetId = "content", OnBegin = "beginPaging", OnSuccess = "successPaging", OnFailure = "failurePaging" }, Model.PageSize, Model.PageNumber, Model.TotalItemCount, new { controller = "PhanCaNhanVien", action = "Index", qSearch = ViewBag.Search}))
    </ul>
</div>
