@using BatDongSan.Models.NhanSu;
@{
    int i = 1;
    int page_ = Convert.ToInt32(ViewBag.page);
    int total_ = Convert.ToInt32(ViewBag.total);

    var Model = ViewData["lsDanhSach"] as List<sp_PhepNamNhanVien_IndexResult>;
}
<style>
    .pageActive, .pageCurrent:hover, .pageNext:hover, .pageLast:hover, .pageFirst:hover, .pagePrevious:hover {
        padding: 7px 11px;
        background-color: #4D8AFF;
        color: #FFFFFF;
        display: inline-block;
        border: 1px solid #80ABFF;
        border-radius: 20px;
        text-decoration: none;
        font-weight: bold;
    }

    .pageCurrent, .pageNext, .pageLast, .pageFirst, .pagePrevious {
        padding: 7px 11px;
        background-color: #fff;
        display: inline-block;
        border: 1px solid #80ABFF;
        border-radius: 20px;
        font-weight: bold;
    }
</style>
<table class="table table-striped table-hover table-condensed" id="maintable">
    <thead>
        <tr>
            <th style="width: 45px">STT</th>
            <th style="width: 130px">Mã nhân viên</th>
            <th style="width: 200px">Phòng ban/Chức vụ</th>
            <th style="width: 80px">Số ngày phép<br />
                tồn được duyệt</th>
            @* <th style="width: 80px">Số ngày phép tồn<br />năm trước</th>
            <th style="width: 80px">Phép tồn<br />được duyệt</th>*@
            <th style="width: 80px">Phép năm<br />
                theo quy định</th>
            
            <th style="width: 80px">Số ngày phép<br />
                thâm niên</th>
            <th style="width: 80px">Số ngày phép<br />
                đặc biệt</th>
           @* <th style="width: 80px">Tổng số ngày<br />
                phép năm</th>*@
            @*<th style="width: 80px">Ngày cập nhật</th>*@
            <th style="width: 30px"></th>

        </tr>
    </thead>
    <tbody id="load">

        @{
            if (Model != null && Model.Count() > 0)
            {

                foreach (var item in Model)
                {
            <tr>
                <td style="text-align: center">@i</td>

                <td style="text-align: left"><a style="color:#519ee5" href="/NhanVien/Details/@item.maNhanVien">@item.maNhanVien</a><br />
                    <i class="fa fa-user" aria-hidden="true"></i>@item.tenNhanVien</td>
                <td>@item.tenBoPhan<br />
                    <i class="fa fa-ticket" aria-hidden="true"></i>@item.tenCapBac</td>

                @*<td style="text-align:right">@String.Format("{0:#,#0.#}",item.soNgayTonNamTruoc)</td>
                <td style="text-align:right">@String.Format("{0:#,#0.#}",item.phepTonDuocDuyet)</td>*@
                <td style="text-align: right">@String.Format("{0:#,#0.#}", item.phepTonDuocDuyet)</td>
                <td style="text-align: right">@String.Format("{0:#,#0.#}", item.phepNamQuyDinh)</td>
                
                <td style="text-align: right">@String.Format("{0:#,#0.#}", item.ngayPhepThamNien)</td>
                <td style="text-align: right">@String.Format("{0:#,#0.#}", item.soNgayPhepTonDacBiet)</td>
                @*<td style="text-align: right">@String.Format("{0:#,#0.#}", item.tongSoNgayPhep)</td>*@
                @*<td style="text-align: center">@String.Format("{0:dd/MM/yyyy}", item.ngayCapNhat)</td>*@
                <td style="text-align: center">
                    <a title="Cập nhật" href="javascript:void(0)" onclick="Update('@item.maNhanVien.Trim()',@item.nam)" style="color: black;
                            cursor: pointer; background: #53CFE9;border: 1px solid #3EC6E0; padding: 0 2px; border-radius: 2px;"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                </td>
            </tr> 
                    i++;
                }
            }
        }
        <tr>
            <td colspan="10" align="left">
                @{
                
                    if (page_ > 1)
                    {
        
                    <a class="pageFirst" href="javascript:void(0)" onclick="javascript:OnCriteria_Tab3(1);">First</a> <a class="pagePrevious" href="javascript:void(0)" onclick="javascript:OnCriteria_Tab3(@(page_ - 1));">
                Previous</a>
       
                    }


                    if (page_ - 2 >= 1)
                    { 
                    <a class="pageCurrent" href="javascript:void(0)" onclick="javascript:OnCriteria_Tab3(@(page_ - 2));">
                        @(page_ - 2) </a> <a class="pageCurrent" href="javascript:void(0)" onclick="javascript:OnCriteria_Tab3(@(page_ - 1));">
                            @(page_ - 1) </a>
                    } <span class="pageActive">@page_</span>
                    if (page_ + 2 <= total_)
                    { 
                    <a class="pageCurrent" href="javascript:void(0)" onclick="javascript:OnCriteria_Tab3(@(page_ + 1) );">
                        @(page_ + 1) </a> <a class="pageCurrent" href="javascript:void(0)" onclick="javascript:OnCriteria_Tab3(@(page_ + 2));">
                            @(page_ + 2) </a>
                    }

                    if (page_ < total_)
                    { 
        
                    <a class="pageNext" href="javascript:void(0)" onclick="javascript:OnCriteria_Tab3(@(page_ + 1));">Next</a> <a class="pageLast" href="javascript:void(0)" onclick="javascript:OnCriteria_Tab3(@total_);">
                Last</a>
        
                    }
        
                    <span>Tổng số dòng :</span><strong>@ViewBag.totalRow</strong>
                }

            </td>
        </tr>
    </tbody>
</table>
