@using BatDongSan.Models.VIP
@{
    ViewBag.Title = "Index";
    Layout = null;
 
   
}
<input type="hidden" value="@ViewBag.CkDuyet" id="CkDuyet" />
<input type="hidden" value="@ViewBag.CkSendMail" id="CkSendMai" />
@{
                                
    int stt = 1;
    int page_ = Convert.ToInt32(ViewBag.page);
    int total_ = Convert.ToInt32(ViewBag.total);

    var ls = ViewData["lsDanhSach"] as List<sp_BangLuongTamUngVipResult>;

    foreach (var item in ls.ToList())
    {
    <tr>
        <td align="center">
            @(stt++)
        </td>
        <td><i class="fa fa-user" aria-hidden="true"></i>@item.maNhanVien</td>
        <td>@item.hoTen</td>
        <td style="text-align: right">@String.Format("{0:###,##0}", item.tongLuong)</td>
        <td style="text-align: right">@String.Format("{0:###,##0}", item.soTienChuyenDot1)</td>
        <td style="text-align: right">@String.Format("{0:###,##0}", item.soTienConLai)</td>
    </tr>
    }
}

<tr>
    <td colspan="6" align="left">
        @{
                
            if (page_ > 1)
            {
        
            <a class="pageFirst" href="javascript:void(0)" onclick="javascript:OnCriteriaPC(1);">First</a> <a class="pagePrevious" href="javascript:void(0)" onclick="javascript:OnCriteriaPC(@(page_ - 1));">
                Previous</a>
       
            }


            if (page_ - 2 >= 1)
            { 
            <a class="pageCurrent" href="javascript:void(0)" onclick="javascript:OnCriteriaPC(@(page_ - 2));">
                @(page_ - 2) </a> <a class="pageCurrent" href="javascript:void(0)" onclick="javascript:OnCriteriaPC(@(page_ - 1));">
                    @(page_ - 1) </a>
            } <span class="pageActive">@page_</span>
            if (page_ + 2 <= total_)
            { 
            <a class="pageCurrent" href="javascript:void(0)" onclick="javascript:OnCriteriaPC(@(page_ + 1) );">
                @(page_ + 1) </a> <a class="pageCurrent" href="javascript:void(0)" onclick="javascript:OnCriteriaPC(@(page_ + 2));">
                    @(page_ + 2) </a>
            }

            if (page_ < total_)
            { 
        
            <a class="pageNext" href="javascript:void(0)" onclick="javascript:OnCriteriaPC(@(page_ + 1));">Next</a> <a class="pageLast" href="javascript:void(0)" onclick="javascript:OnCriteriaPC(@total_);">
                Last</a>
        
            }
        
            <span>Tổng số dòng :</span><strong>@ViewBag.totalRow</strong>
        }
    </td>
</tr>
