@using BatDongSan.Models.NhanSu;
@model ThuNhapKhac
@{
    ViewBag.Title = "Cập nhật phiếu thu nhập khác";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<BatDongSan.Models.NhanSu.NhanVienModel> nhanVienThuocNhoms = ViewBag.ChiTietNhanVien;
    int i = 1;
}

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/additional-methods.min.js"></script>
<script src="~/Scripts/autoNumeric.js"></script>
<script src="~/Scripts/batdongsan.validate.js"></script>
<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/vi.js"></script>
<script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
<link rel="stylesheet" href="~/Content/bootstrap-datetimepicker.min.css" />
<link rel="stylesheet" href="~/Content/summernote/summernote.css" />
<script src="~/Content/summernote/summernote.js"></script>
<script>
    $(document).ready(function () {
        $(".numberinput").autoNumeric('init', { mDec: 0, mNum: 3, lZero: 'deny', aSep: ',', aDec: '.', pSign: 's', vMin: '-99999999999999' });
        $(".numberinputInt").autoNumeric('init', { lZero: 'deny', mDec: 0, pSign: 's', aSep: ',', aDec: '.' });
        $("#btnTroVe").click(function () {
            var url = "@Url.Action("Index")";
            location.href = url;
        });
        $(".timepicker").datetimepicker({
            locale: 'vi',
            format: 'HH:mm'
        });
        $("#loaiThuNhapKhac").val('@ViewBag.LoaiThuNhap');
        $(".datepicker").datetimepicker({
            locale: 'vi',
            format: 'DD/MM/YYYY'
        });
        $("#btnSubmit").click(function () {
            if (CheckForm()) {
                var noiDung = $(".note-editable").html();
                $("#lyDo").val(noiDung);
                $("#form-submit").submit();
            }
        });
        $('#editor').summernote({
            height: 150,                 // set editor height
            minHeight: null,             // set minimum height of editor
            maxHeight: null,             // set maximum height of editor
            //focus: true                  // set focus to editable area after initializing summernote
        });
        @*$('#btnNhanVien').click(function () {
            //if ($("#soTien").val() == 0 || $("#soTien").val() == "") {
            //    $("#soTien").addClass("error").attr("title", "Vui lòng nhập số tiền.");
            //    return false;
            //}

            var url = '@Url.Action("DanhSachNhanVien", "ThuNhapKhac")';
            showPopup(url, 980, 550);
        });*@

        $("#btnDownload").click(function () {
            var url = "/ThuNhapKhac/XuatFileImportNhanVien"
            location.href = url;
        });


        $("#btnSaveImport").click(function () {
            var fd = new FormData();
            fd.append("fileToUpload", document.getElementById('fileImport').files[0]);
            fd.append("soPhieu", $("#maPhieu").val());
            $.ajax({
                url: '@Url.Action("ImportExcelDataNhanVien", "ThuNhapKhac")',
                type: 'POST',
                dateType: 'json',
                data: fd,
                cache: false,
                contentType: false,
                processData: false,
                success: function (data) {
                    if (data.success == true) {
                        Alert.success("Lưu dữ liệu thành công", "Thông báo", { displayDuration: 2000 });
                        location.reload();
                    } else {
                        Alert.warning(data.messageError, "Thông báo", { displayDuration: 0 });
                    }
                },
                error: function (error) {
                    Alert.error("Lưu không thành công Lỗi:" + error, "Thông báo", { displayDuration: 0 });
                }
            })
        });
    });

    function GetDanhSachNhanVien() {
        var url = '@Url.Action("DanhSachNhanVien", "ThuNhapKhac")';
        showPopup(url, 980, 550);
    }

    function CheckForm() {
        var flag = true;
        //if ($("#soTien").val() == "") {
        //    $("#soTien").addClass("error").attr("title", "Vui lòng nhập số tiền.");
        //    flag = false;
        //}
        //if ($("#soTien").val() == "0") {
        //    $("#soTien").addClass("error").attr("title", "Số tiền phải lớn hơn 0.");
        //    flag = false;
        //}
        if ($("#loaiThuNhapKhac").val() == "") {
            $("#loaiThuNhapKhac").addClass("error").attr("title", "Vui lòng chọn loại thu nhập.");
            flag = false;
        }
        return flag;
    }


    function closePopup_onclick() {
        $('#divUploadFile').hide();
        $('.jqmOverlay').remove();
    }

    function PopUpManager(url, title, w, h) {
        var left = (screen.width / 2) - (w / 2);
        var top = (screen.height / 2) - (h / 2);
        var targetWin = window.open(url, title, 'width=' + w + ', height=' + h + ', top=' + top + ', left=' + left);
    }
    function chonNguoiDuyet(status, employeeId) {
        var url = ('@Url.Action("SelectCapDuyetDong/", "DMNguoiDuyet")' + $('#maPhieu').val() + '?maCongViec=ThuNhapKhac' + '&url=' + $('#url').val());
        PopUpManager(url, "DUYET", 1000, 300);
    }

    function LoadLaiTrang() {
        location.href = '@Url.Action("Details/", "ThuNhapKhac")' + $('#maPhieu').val();
    }
    function DeleteRow(id_tbody, index, sTT) {
        var table = document.getElementById(id_tbody);
        table.deleteRow(index);
        for (var i = 0; i < table.rows.length; i++) {
            if (sTT == null)
                $('#' + id_tbody + ' tr:eq(' + i + ')').find("td:last").html("<a href='javascript:void(0);' onclick='DeleteRow(\"" + id_tbody + "\"," + i + ")'>Xóa</a>");
            else {
                $('#' + id_tbody + ' tr:eq(' + i + ')').find("td:first").html(i + 1);
                $('#' + id_tbody + ' tr:eq(' + i + ')').find("td:last").html("<a href='javascript:void(0);' onclick='DeleteRow(\"" + id_tbody + "\"," + i + ", true)'>Xóa</a>");
            }
        }
    }

    
</script>
<style>
    #tbl-create td {
        border: none;
    }
</style>
@{
    BatDongSan.Models.HeThong.Sys_User user1 = new BatDongSan.Models.HeThong.Sys_User();
    if (Session["User"] != null)
    {
        user1 = (BatDongSan.Models.HeThong.Sys_User)Session["User"];
    }  
}
<form id="form-submit" class="form-horizontal" method="post">
    <div id="container" class="custome_fieldSet">
        <fieldset class="removeBorderFieldset">
            <div id="tabs" style="width: 30%; height: auto; border: none; float: left; box-sizing: border-box; overflow: hidden; clear: none;" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
                <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
                    <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active ">
                        <a><span><i class="fa fa-yelp" aria-hidden="true"></i>Cập nhật phiếu thu nhập khác</span></a></li>
                </ul>
            </div>
            <table class="table table-striped table-hover table-condensed" id="tbl-create" style="position: relative">

                <tr>
                    <td style="width: 15%; display: none" class="tdtitle">Nhân viên</td>
                    <td style="width: 35%; display: none">
                        @*@Html.TextBoxFor(model => model.NhanVien.hoVaTen, new { @class = "form-control", @readonly = true })
                        @Html.HiddenFor(m => m.NhanVien.maNhanVien)*@
                        @Html.Hidden("maPhieu", Model.id)
                        <input type="hidden" id="url" value="@ViewBag.URL" />
                        @Html.HiddenFor(m => m.maQuiTrinhDuyet)
                    </td>
                    <td style="width: 15%" class="tdtitle">Loại thu nhập khác</td>
                    <td style="width: 35%">@Html.DropDownList("loaiThuNhapKhac", ViewBag.loaiThuNhapKhac as SelectList, new { @class = "form-control" })</td>
                </tr>

                <tr>
                    <td class="tdtitle">Tháng, năm </td>
                    <td>
                        <div style="width: 100%; display: inline-flex">
                            @Html.DropDownList("thang", ViewBag.Thangs as SelectList, new { @class = "form-control", @style = "width:auto;margin-right:10px" })
                            <div style="float: right">
                                @Html.DropDownList("nam", ViewBag.Nams as SelectList, new { @class = "form-control" })
                            </div>
                        </div>
                    </td>
                    <td class="tdtitle" style="display: none">Số tiền</td>
                    <td style="display: none">@Html.TextBoxFor(model => model.soTien, new { @class = "form-control numberinput" })
                    </td>
                </tr>
                <tr>
                    <td class="tdtitle">Lý do</td>
                    <td colspan="3">
                        <div id="editor">@Html.Raw(Model.lyDo)</div>
                        @Html.HiddenFor(model => model.lyDo, new { @class = "form-control" })
                    </td>

                </tr>
            </table>
            @*<button class="btn btn-link btn-sm" id="btnNhanVien" type="button" data-toggle="modal" data-target="#myModal">Thêm nhân viên</button>*@
            <button class="btn btn-info" type="button" onclick="GetDanhSachNhanVien();">Thêm nhân viên</button>
            <button type="button" data-toggle="modal" data-target="#importModal" class="btn btn-info">Import Excel file</button>
            <div id="containerNhanVien">
                <table class="table table-striped table-hover table-condensed" id="tbl-users">
                    <thead>
                        <tr id="trtop">
                            <th>STT</th>
                            <th style="width: 130px">Mã nhân viên</th>
                            <th>Họ và tên</th>
                            <th>Phòng ban</th>
                            <th>Số tiền</th>
                            <th style="width: 350px;">Lý do</th>
                            <th style="width: 40px"></th>
                        </tr>
                    </thead>
                    <tbody id="tbody">
                        @if (nhanVienThuocNhoms != null)
                        {
                            foreach (var item in nhanVienThuocNhoms)
                            {
                            <tr>
                                <td class="sothutu" style="text-align: center">@i</td>
                                <td>@item.maNhanVien
                                    <input type="hidden" id="maNhanVien" name="maNhanVien" value="@item.maNhanVien"/>
                                </td>
                                <td>
                                    <i class="fa fa-user" aria-hidden="true" style="color: #519ee5"></i>&nbsp;@item.hoVaTen
                                </td>
                                <td>@item.tenPhongBan</td>
                                <td>
                                    <input type="text" name="soTienNV" value="@item.soTienNV" class="numberinput" style="text-align:right"/></td>
                                <td>
                                    <input type="text" name="lyDoNV" value="@item.lyDoNV"/></td>

                                <td style="text-align: center">
                                    <a href="javascript:void(0);" onclick="DeleteRow('tbody',@(i - 1),'true');"
                                        style="color: Blue">Xóa</a>
                                </td>
                            </tr> 
                                i++;
                            }
                        }
                    </tbody>
                </table>
            </div>
            <br />
            <div style="text-align: right; margin-bottom: 10px">

                @if (ViewBag.TenTrangThaiDuyet != "KDD")
                {
                    if ((Model.Duyet == null || Model.Duyet.tinhTrang == 0) && Model.NhanVienLapPhieu.maNhanVien == user1.manv && Model.Duyet.maBuocDuyet != "DTN")
                    {
                    <button class="btn btn-info" type="button" onclick="chonNguoiDuyet();">Gửi duyệt </button>
                    <button class="btn btn-info" id="btnSubmit" type="button">Lưu </button>
                    }
                }
                <button class="btn btn-info" type="button" id="btnTroVe">Trở về </button>
            </div>
        </fieldset>

    </div>
    <div id="myModalChonPhongBan" class="modal fade" role="dialog">
        <div class="modal-dialog  modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <div class="container" style="width: 98%">
                        <div class="row">
                            <div id="filter-panel" class="filter-panel">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>

        </div>
    </div>
</form>

<div id="importModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div class="container" style="width: 100%">
                    <div class="row">
                        <div id="import-panel" class="filter-panel">
                            <div id="dialog" class="alert alert-info" style="display: none">
                                <strong>Thông báo!</strong> File đính kèm không đúng định dạng.  
                            </div>
                            <h4>Tải về mẫu phiếu nhập thông tin: </h4>
                            <button class="btn btn-link btn-sm" id="btnDownload" onclick="download()">
                                <i style="color: #fff; padding-right: 0px !important;"
                                    class="fa fa-download" aria-hidden="true"></i>
                            </button>
                            <h4>Chọn file dữ liệu (*.xlsx, *.xls)</h4>
                            <div class="panel panel-default">
                                <input type="file" id="fileImport" name="fileImport" value="Chọn file" style="border: none" />
                            </div>
                            <div class="panel panel-default" style="float: right">
                                <button type="button" id="btnSaveImport" class="btn btn-primary">Lưu</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
