@using BatDongSan;
@model IPagedList<sp_DanhSachTaiKhoanNhaThauResult>
@{
    int i = 1;
}
<script>
    function beginPaging(args) {
        // Animate        
        $('#content').fadeOut('fast');
    }

    function successPaging() {
        // Animate
        $('#content').fadeIn('normal');
    }

    function failurePaging() {
        alert("Không thể tải dữ liệu");
    }
    
</script>

<table class="table table-striped table-hover table-condensed" id="maintable">
    <thead>
        <tr>
            <th style=" width: 35px">STT</th>
            <th style="width: 120px">Tên công ty</th>
            <th style="width: 90px">Mã số thuế</th>
            <th style="width: 120px">Người đại diện</th>
            <th style="width: 120px">Địa chỉ</th>          
            <th style="width: 120px">Thông tin khác</th>
            <th style="width: 100px">Qui mô</th>
            <th style="width: 80px">Trạng thái hoạt động</th>
            <th style="width: 35px"></th>
        </tr>
    </thead>
    <tbody id="load">

        @foreach (var item in Model)
        {
            <tr>
                <td style="text-align: center">@i</td>
                <td ><a style="color:#0d48ed;text-decoration:none" href="@Url.Action("ChiTiet", "TaiKhoan", new { id=item.id})"><i class="fa fa-university" aria-hidden="true"></i> @item.tenCongTy</a>                    
                </td>
                <td><i class="fa fa-building-o" aria-hidden="true"></i> @item.maSoThue

                </td>
                <td>
                    <i class="fa fa-user-secret" aria-hidden="true"></i> @item.tenNguoiDaiDien
                    <br />
                    <i class="fa fa-phone" aria-hidden="true"></i> @item.soDienThoaiNguoiDaiDien
                    <br />
                    <i class="fa fa-envelope-o" aria-hidden="true"></i> @item.mailNguoiDaiDien
                </td>
                <td><i class="fa fa-map-marker" aria-hidden="true"></i> @item.diaChiCongTy</td>               
                <td > 
                    <i class="fa fa-tty" aria-hidden="true"></i> @item.dienThoaiCongTy
                    <br />
                    <i class="fa fa-fax" aria-hidden="true"></i> @item.faxCongTy
                    <br />
                      <i class="fa fa-envelope-o" aria-hidden="true"></i> @item.mailCongTy
                </td>
                <td>
                   
                        @if(!string.IsNullOrEmpty(item.quiMoCongTy)){                        
                        <p><i class="fa fa-users" aria-hidden="true"></i> @item.quiMoCongTy</p>
                        }
                        else {
                            <i>Đang cập nhật</i>
                        }
                    
                </td> 
                <td style="text-align:center">
                    @if(item.trangThaiHoatDong==1)
                    {
                        <p>Ngừng hoạt động</p>
                    }
                    else {
                         <p>Đang hoạt động</p>
                    }

                </td> 
                <td style="text-align: center">
                   <a title="Cập nhật trạng thái hoạt động" href="javascript:void(0)" onclick="UpdateTrangThai('@item.id')" style="color: black;
                            cursor: pointer; background: #53CFE9;border: 1px solid #3EC6E0; padding: 0 2px; border-radius: 2px;"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    
                </td>
            </tr> 
                    i++;
        }
    </tbody>
</table>
<div>
    Trang @Model.PageNumber của @Model.PageCount / @ViewBag.Count
</div>
<div>
    <ul class="pagination">
        @Html.Raw(Ajax.Pager(new AjaxOptions { UpdateTargetId = "content", OnBegin = "beginPaging", OnSuccess = "successPaging", OnFailure = "failurePaging" }, Model.PageSize, Model.PageNumber, Model.TotalItemCount, new { controller = "TaiKhoan", action = "Index", searchString = ViewBag.searchString, trangThai = ViewBag.trangThai }))
    </ul>
</div>