@using BatDongSan.Models.DanhMuc;
@model tbl_DM_ThuNhapKhac

<script src="~/Scripts/autoNumeric.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".numberinput").autoNumeric('init', { mDec: 0, lZero: 'deny', aSep: ',', aDec: '.', pSign: 's', vMin: '0', vMax: '10' });
    })
</script>
<div class="bs-callout bs-callout-info" id="callout-glyphicons-location">
    <h4 style="color: #1b809e; margin-left: 10px">Thêm mới DM Thu nhập khác</h4>
</div>
<div style="margin-top: 15px">
    <table class="table table-responsive" id="tbl-create">
        <tr>
            <td class="tdtitle">Mã loại thu nhập khác <span style="font-style: italic; color: red">*</span></td>
            <td>@Html.TextBoxFor(model => model.maLoaiThuNhapKhac, new { @class = "form-control", required = "required" })</td>
        </tr>
        <tr>
            <td class="tdtitle">Tên loại thu nhập khác <span style="font-style: italic; color: red">*</span></td>
            <td>@Html.TextBoxFor(model => model.tenLoaiThuNhapKhac, new { @class = "form-control", required = "required" })</td>
        </tr>
        <tr>
            <td class="tdtitle">Tính thuế</td>
            <td>
                @Html.CheckBox("tinhThue", Model.coTinhThueKhong == true ? true : false)
            </td>
        </tr>
        <tr>
            <td class="tdtitle">Tính bảo hiểm</td>
            <td>
                @Html.CheckBox("tinhBaoHiem", Model.coTinhBaoHiemKhong == true ? true : false)

            </td>
        </tr>
        <tr>
            <td class="tdtitle">Ghi chú <span style="font-style: italic; color: red">*</span></td>
            <td>@Html.TextBoxFor(model => model.ghiChu, new { @class = "form-control", required = "required" })</td>
        </tr>
    </table>
</div>
@*<div style="margin-top: 15px" class="col-sm-5">
    <div style="float: right">
        <table class="table table-responsive" id="tbl-mota">
            <tr class="headrow">
                <td style="width:75px;">Số cấp bậc</td>
                <td>Mô tả</td>
            </tr>
            @foreach (var item in capBacs)
            {
                <tr>
                    <td style="text-align:center !important"  class="tdtitle">@item.soCapBac</td>
                    <td>@item.tenCapBac</td>
                </tr>
            }
        </table>
    </div>
</div>*@
<style>
    #tbl-create td
    {
        border: none;
    }

    #tbl-create
    {
        margin: 0;
    }

    #tbl-mota td
    {
        border: none;
    }
</style>
