@using BatDongSan.Models.NhanSu;
@model List<DanhSachNhanVien>
@{
    Layout = null;
    int i = 1;
    int yearNow = DateTime.Now.Year - 1;
}

@foreach (var item in Model)
{    
    <tr>
        <td style="text-align: center">@i</td>       
        <td style="text-align: center">@item.maNhanVien
            @Html.Hidden("maNhanVien", item.maNhanVien)
        </td>
        <td>@item.tenNhanVien</td>
         <td>@item.tenPhongBan
        </td>
        <td>
            @item.tenChucVu
        </td>       
        <td style="text-align: center"><a style="color: black; font-size: 17px; cursor: pointer; border: 1px solid #E3536C; background: #EB6379; padding: 0 2px; border-radius: 2px;" onclick="Delete(this)"><i class="fa fa-trash-o" aria-hidden="true"></i></a></td>
    </tr>
    i++;
}

